//-
   Created by benjamintanz on 12.11.15.


mixin sidebar(obj)
  include ../_mixins/social_share_item
  div.sidebar.nobottommargin.col_last.clearfix
    div.sidebar-widgets-wrap
      if obj.social
        mixin social_share_item(obj.socialcontent.link, obj.socialcontent.title, obj.socialcontent.description)



