//
   Created by benjamintanz on 24.11.15.

extends ../layout

block meta
  meta(name='keywords', content='Möglichkeiten Studienfinanzierung, Studienfinanzierung, BAföG, Studienkredit, Nebenjob, Studium, Studierende')
  meta(name='description', content='Seien Sie unbesorgt beim Thema Studienfinanzierung, denn mit etwas Planung kommen Sie finanziell gut durch die Studienzeit. Wir zeigen Ihnen die verschiedenen Möglichkeiten zur Studienfinanzierung.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Die wichtigsten Möglichkeiten zur Studienfinanzierung

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/blog') Blog
                  //li.nobottommargin
                    a(href='/hauskauf') Hauskauf
                  li.nobottommargin
                    a(href='/studium//moeglichkeiten-zur-studienfinanzierung') Die wichtigsten Möglichkeiten zur Studienfinanzierung

                ul.entry-meta.clearfix
                  li
                    i.icon-calendar3
                    | 27.11.2015 &nbsp
                    i.icon-user
                    | FinIQ &nbsp


                div.entry-content.notopmargin
                  div.entry-image.alignright
                    img(src='/assets/img/studium/blog_moeglichkeitenStudienfinanzierung_01.jpg', alt='Möglichkeiten der Studienfinanzierung')
                    p.sf-image-source iStock.com / PeopleImages
                  p Für die Studienzeit sind knappe Kassen praktisch vorprogrammiert, und dafür gibt es ganz verschiedene Gründe: Man wechselt die Stadt und muss möglicherweise zum ersten mal eine eigene Wohnung zahlen. Weiterhin sorgt das Studium an sich für einige Kosten, zum Beispiel durch Semestergebühren und Ausgaben für Bücher und Studienmaterial. Und schließlich will man als Studierender auch weiterhin seinen Hobbys nachgehen und auch mal den ein oder anderen Ausflug ins Nachtleben machen. Sorgen um die Finanzen kommen da niemandem wirklich gelegen. Sie sollten beim Thema Studienfinanzierung aber unbesorgt sein, denn mit etwas Planung kommen Sie finanziell gut durch die Studienzeit.
                  p In Deutschland wird das Studium vom Staat gefördert und viele private und öffentliche Stiftungen bieten Stipendien für Studierende an. Außerdem haben Sie ein weiteres Ass im Ärmel: Die Einstiegsgehälter als Hochschulabsolvent sind sehr gut, daher können Sie wenn nötig auch eine Finanzierung für das Studium aufnehmen, welche Sie nach Berufseinstieg zurückzahlen. Aber auch ohne Kreditfinanzierung kann man es ohne größere Probleme hinbekommen, zur Studienzeit auf ein Einkommen von 1.500 bis 2.000 € zu kommen.
                  p Die meisten Studierenden finanzieren sich nicht nur aus einer Quelle, sondern gleich aus mehreren. Typisch ist zum Beispiel die Kombination aus Nebenjob und Zahlungen von Eltern und Familie oder BAföG. Damit Sie sich einen Überblick verschaffen können, haben wir die wichtigsten Finanzierungsmöglichkeiten in diesem Artikel zusammengefasst. Aus diesen Alternativen können Sie sich Ihre ganz persönliche Studienfinanzierung zusammenstellen.
                  h4.sf-plain-h4 Stipendien
                  p Ohne Zweifel gehören Stipendien zu den attraktivsten Finanzierungsmöglichkeiten, da Sie im Idealfall mit geringem Beantragungsaufwand viel Geld für Ihr Studium gezahlt bekommen, welches Sie nicht zurückzahlen müssen. Es stimmt zwar, dass sich Stipendien grundsätzlich an besonders leistungsstarke Schüler und Studierende richten, allerdings müssen Sie für ein Stipendium keineswegs Klassenbester gewesen sein. Leider schätzen zu viele Schüler und Studierenden Ihre Leistungen als nicht ausreichend für ein Stipendium ein, obwohl durchaus auch Studierende mit durchwachsenen Noten keine schlechten Chancen auf Förderungen haben. Zumal viele Stipendiengeber akademische Leistungen überhaupt nicht in den Vordergrund stellen, sondern hauptsächlich auf Persönlichkeit und Studienmotivation achten. Unser Rat ist also: Versuchen Sie es! Solange Sie die Grundvoraussetzungen erfüllen, sollten Sie sich auch für Stipendien bewerben. Der Aufwand hält sich in Grenzen und wer weiß, auch wenn es nicht das Vollstipendium wird, vielleicht springt ja doch der ein oder andere Euro im Monat heraus.
                  blockquote
                    p "Nutzen Sie die Chance auf ein Stipendium und bewerben Sie sich, denn Sie haben nichts zu verlieren."
                  p Vor der Bewerbung stellen Sie sich am besten eine Liste zusammen, welche alle Stipendien enthält, welche für Sie in Frage kommen. Um eine Überblick zu bekommen, welche Stipendien das sind, können Sie zum Beispiel diese
                    a(href='https://www.stipendienlotse.de/', target='_blank')  Stipendiensuchmaschine
                    |  vom Bundesministerium für Bildung und Forschung nutzen. Die daraus erstellte Liste können Sie dann Stück für Stück durchgehen und sich nacheinander für die verschiedenen Stipendien bewerben. Und denken Sie immer daran: Sie haben nichts zu verlieren, sondern können nur gewinnen!

                  h4.sf-plain-h4 BAföG
                  p Das BAföG gehört in Deutschland zu den beliebtesten Mitteln zur Studienfinanzierung und kann direkt beim zuständigen Studentenwerk deiner Hochschule beantragt werden. Mit dem BAföG möchte der Staat die Studierenden beim Studium unterstützen, welche nicht aus dem Einkommen Ihrer Eltern hinreichend unterstützt werden können. Daher richtet sich der Bedarf auch am Einkommen der Eltern aus, welches bei der Antragstellung angegeben werden muss. Für Studierende wird das BAföG grundsätzlich zur Hälfte als nicht rückzahlungspflichtiger Zuschuss und zur anderen Hälfte als zinsloses Darlehen vergeben, welches nach Studienende zurückgezahlt werden muss.
                  p Grundsätzlich förderungsberechtigt ist jeder deutsche Staatsbürger, der noch nicht das 30. Lebensjahr vollendet hat und an einer deutschen Hochschule eingeschrieben ist. Die Höhe der Förderung richtet sich, wie erwähnt, nach dem Einkommen der Eltern.
                  p Zwar ist die Beantragung von BAföG mit etwas Papierkram verbunden, aber alles andere als ein Hexenwerk. Bevor Sie sich die Mühe der Antragstellung machen, prüfen Sie zunächst, ob Sie grundsätzlich BAföG bekommen können. Dazu können Sie zum Beispiel den
                    a(href='http://www.studentenwerk-goettingen.de/1492.html?L=exxpouslnvlp', target='_blank')  BAföG-Rechner der Studentenwerks Göttingen
                    |  benutzen. Sollten Sie einen positiven Anspruch haben, können Sie im nächsten Schritt beim BAföG-Amt das Antragsformular abholen. Schauen Sie vorher auf dem Online-Angebot des Studentenwerks vorbei, da Anträge bei vielen Studentenwerken inzwischen auch Online eingereicht werden können. Nach Einreichung des Antrags heißt es dann abwarten, denn manchmal können bis zur Rückmeldung drei Monate vergehen. Sollten Sie nach drei Monaten noch nichts gehört haben, dann sollten Sie auf jeden Fall einmal Nachfragen. Am Ende halten Sie dann einen BAföG-Bescheid in den Händen, welcher Ihren Anspruch auf BAföG ausweist.


                  h4.sf-plain-h4 Nebenjobs
                  p Nach der letzten Sozialerhebung des Bundesministeriums für Bildung und Forschung haben etwa zwei Drittel aller Studierenden einen Nebenjob und verdienen damit im Durchschnitt 323 € pro Monat. Für die meisten Studierenden ist der Job notwendig, um das Studium finanzieren zu können. Ein kleiner Anteil arbeitet, um erste Berufserfahrung zu sammeln und sich während der Studienzeit mehr leisten zu können. Ein Nebenjob während des Studium kann also aus ganz verschiedenen Perspektiven Sinn machen und wird außerdem vom Staat durch das Werkstudentenprivileg unterstützt. Danach sind Werkstudenten von der Sozialversicherungspflicht befreit, solange Sie - unabhängig vom Einkommen - maximal 20 Stunden pro Woche arbeiten. In diesem Fall muss lediglich in die Rentenkasse eingezahlt werden. Bleibt der Verdienst unter 400 € im Monat, dann entfällt sogar die Pflicht zur Einzahlung in die Rentenversicherung. Nicht nur aus diesen Gründen sind Werkstudenten  auch aus Sicht der Arbeitgeber als helfende Hände sehr beliebt.
                  blockquote
                    p "Kommilitionen, welche schon einen Nebenjob haben, sind eine sehr gute Informationsquelle für die Jobsuche."

                  p Wie findet man nun einen passenden Nebenjob? Eine gute Möglichkeit ist, Augen und Ohren offen zu halten und Kommilitonen zu ihren Nebenjobs zu befragen. Damit erhalten Sie die Information zu den Jobs aus erster Hand und haben vielleicht sogar schon die erste Person, welche Ihnen bei der Bewerbung sehr gut weiterhelfen kann. Weiterhin sind die Jobs-Boards vieler Hochschulen voll mit Anzeigen für Werkstudenten und wissenschaftliche Hilfskräfte. Schließlich können Sie natürlich auch Online einen Nebenjob finden. Online-Portals sind insbesondere dann zu empfehlen, wenn Sie ein Nebenjob bei einem Unternehmen suchen. Unternehmen publizieren Anzeigen häufiger in solchen Portalen, statt an den Job-Boards der Hochschulen zu annoncieren.

                  h4.sf-plain-h4 Eltern
                  p Der durchschnittliche Studierender in Deutschland wird laut der letzten Sozialerhebung von den Eltern monatlich mit 476 € unterstützt. Die Eltern sind also eine wichtige Finanzierungsquelle für das Studium und sind, ein gewisses Einkommen vorausgesetzt, sogar gesetzlich dazu verpflichtet, dass Studium ihrer Kinder auch finanziell zu unterstützen (Unterhaltspflicht). Sie sollten also mit Ihren Eltern auf jeden Fall über die Studienfinanzierung verhandeln und dabei auch das Kindergeld einbeziehen, welches Ihre Eltern wahrscheinlich für Sie beziehen. Oftmals kann die finanzielle "Grundversorgung" für das Studium schon durch die Eltern bereitgestellt werden.
                  p Auch wenn das Einkommen Ihrer Eltern nicht für die Grundfinanzierung ausreichen sollte, besteht kein Grund zur Sorge. In diesem Fall springt der Staat ein und sorgt für finanzielle Unterstützung durch das BAföG (siehe Abschnitt "BAföG").

                  h4.sf-plain-h4 Studienkredite
                  p Als letztes Mittel zur Studienfinanzierung bleibt Ihnen der Studienkredit. Wir haben den Kredit hier als letztes genannt, da er im Unterschied zu den anderen Finanzierungen in der Regel vollständig zurückgezahlt werden muss. Dennoch sind Studienkredite oftmals besser als Ihr Ruf und werden deshalb von FinIQ als "gute Schulden" bezeichnet. Der Grund ist, dass ein Studienkredit eine Investition in Ihre Zukunft ist und daher aus finanzieller Sicht viel sinnvoller als zum Beispiel ein Auto- oder Dispokredit ist. Wenn Ihnen ein Studienkredit zum Beispiel hilft, schneller mit dem Studium abzuschließen, dann können Sie auch früher mehr Geld verdienen und den Kredit schnell wieder zurückzahlen.
                  p Es kann immer wieder Umstände geben, die dafür sorgen, dass die anderen genannten Mittel zur Studienfinanzierung nicht mehr ausreichen. In diesen Fällen brauchen Sie sich nicht scheuen, einen Studienkredit aufzunehmen, sofern dieser Ihnen hilft, das Studium abzuschließen. Es gibt wenige bessere Gründe für einen Kredit.
                  p Inzwischen gibt es in Deutschland viele Anbieter für Studienkredite. Beispielsweise bietet die Kreditanstalt für Wiederaufbau (KfW) Studien- und Bildungskredite an. Weiterhin gibt es einige private Anbieter, welche sich auf die Studienfinanzierung spezialisiert haben und entsprechende Kredite anbieten. Schauen Sie sich um und vergleichen Sie die Angebote, bevor Sie einen Vertrag unterschreiben. Die Zinsen und Konditionen können Sie mitunter deutlich unterscheiden, daher gilt: Vergleichen lohnt sich!


                  p Zurück zum
                    a(href='/blog')  FinIQ-Blog
                    | .
                  div.divider.notopmargin.mbottommargin



          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/studium/moeglichkeiten-zur-studienfinanzierung', title: 'Die wichtigsten Möglichkeiten zur Studienfinanzierung', description: 'Seien Sie unbesorgt beim Thema Studienfinanzierung, denn mit etwas Planung kommen Sie finanziell gut über die Runden.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie entwickeln sich meine Ersparnisse über die Zeit?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
