/* **************** helper classes **************** */
.notopmargin {
  margin-top: 0;
}


.nobottompadding {
  padding-bottom: 0;
}
.xxsbottommargin {
  margin-bottom: 5px;
}
.xsbottommargin {
  margin-bottom: 10px;
}
.sbottommargin {
  margin-bottom: 15px;
}
.mbottommargin {
  margin-bottom: 20px;
}
.noleftpadding{
  padding-left: 0;
}

/* content wrapper */
.content-wrap-topics {
  padding-top: 40px;
}

.text-right{
  text-align: right;
}

.widget_h4{
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* **************** entry elements **************** */
.entry-button {
  display: block;
  text-align: center;
}

.entry{
  margin: 0 0 30px;
  padding: 0 0 20px;
}

.small-thumbs .entry-image{
  width: 150px;
}


/* custom heading styling */
h4.fb {
  font-weight: 400;
  font-size: 22px;
}

/* **************** input elements **************** */
/* slider*/
rzslider {
  margin: 15px 0 10px 0;
}

rzslider span.rz-pointer{
  top: -7px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #009CDE;
}

rzslider span.rz-pointer:after{
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

rzslider span.rz-bar{
  background: #DDDDDD;
  height: 3px;
}

.input-group-addon{
  padding: 4px 8px;
}

.sm-form-control{
  padding: 5px 7px;
}
.fb-input-row{
  margin-bottom: -15px;
}

/* toggleable panel */
.panel{
  border: 0;
  margin-top: 10px;
}
.panel-default>.panel-heading{
  border-color: transparent;
  background-color: transparent;
  color: transparent;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 5px 10px 2px;
  border-top: 2px solid #DDD;
}

.panel-body{
  padding: 15px 0 15px 0;
}


