//-
   Created by benjamintanz on 05.10.15.
footer#footer.dark
  div#copyrights
    div.container.clearfix
      div.col_half
        div.copyright-links
          a(href='/finiq') Über FinIQ
          a(href='/impressum') Impressum
          a(href='/datenschutz') Datenschutz
        br
        Copyrights © 2015 FinIQ ist ein Produkt der SimplyFi Analytics UG

      div.col_half.col_last.tright
        div.fright.clearfix
          a(href='/').social-icon.si-small.si-borderless.si-facebook
            i.icon-facebook
            i.icon-facebook
          a(href='/').social-icon.si-small.si-borderless.si-twitter
            i.icon-twitter
            i.icon-twitter
          a(href='/').social-icon.si-small.si-borderless.si-pinterest
            i.icon-pinterest
            i.icon-pinterest
          a(href='/').social-icon.si-small.si-borderless.si-linkedin
            i.icon-linkedin
            i.icon-linkedin
        div.clear
        i.icon-headphones
        |  +49 89 48955820
        span.middot
        i.icon-envelope2
        |  info@finiq.de


