//-
   Created by benjamintanz on 05.10.15.
mixin navheader(landing_page)

  //header#header.full-header.static-sticky.transparent-header
  if landing_page
    header#header.full-header.transparent-header.static-sticky.dark(data-sticky-class='not-dark')
      mixin navheader_content
  else
    header#header.full-header.transparent-header.static-sticky
      mixin navheader_content

mixin navheader_content
  div#header-wrap
    div.container.clearfix
      //- MENU TRIGGER
      div#primary-menu-trigger
        i.icon-reorder

      //- LOGO
      div#logo
        a(href='/', class='standard-logo', data-dark-logo='/assets/img/logo/logo03-dark.png')
          img(src='/assets/img/logo/logo03.png', alt='FinIQ Logo')
        a(href='/', class='retina-logo', data-dark-logo='/assets/img/logo/logo03-dark@2x.png')
          img(src='/assets/img/logo/logo03.png', alt='FinIQ Logo')

      //- PRIMARY NAV
      nav#primary-menu
        ul.sf-js-enabled(style='touch-action: pan-y')
          li
            a(href='/geldanlage')
              div Geld anlegen
          li
            a(href='/hauskauf')
              div Hauskauf
          li
            a(href='/baufinanzierung')
              div Baufinanzierung


          //-li
            a(href='/kreditkarten')
              div Kreditkarten
          li
            a(href='/blog')
              div Blog
