//-
   Created by benjamintanz on 03.10.15.

script(type='text/javascript', src='/packages/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/packages/angular/angular.min.js')
script(type='text/javascript', src='/js/app/localization/angular-locale_de-de.js')
script(type='text/javascript', src='/packages/highcharts/highcharts.js')
script(type='text/javascript', src='/packages/highcharts-ng/dist/highcharts-ng.min.js')
script(type='text/javascript', src='/packages/angularjs-slider/dist/rzslider.min.js')
script(type='text/javascript', src='/js/canvas/plugins.js')
script(type='text/javascript', src='/js/canvas/functions.js')
script(type='text/javascript', src='/js/app/MietenOderKaufen.js')