//-
   Created by benjamintanz on 03.10.15.

script(type='text/javascript', src='/packages/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/js/canvas/plugins.js')
script(type='text/javascript', src='/js/canvas/functions.js')