//-
   Created by benjamintanz on 03.10.15.

//- vendor files
script(type='text/javascript', src='/packages/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/packages/angular/angular.min.js')
script(type='text/javascript', src='/assets/js/localization/angular-locale_de-de.js')
script(type='text/javascript', src='/packages/underscore/underscore-min.js')
script(type='text/javascript', src='/packages/highcharts/highcharts.js')
script(type='text/javascript', src='http://code.highcharts.com/maps/modules/map.js')
//- highcharts - world map
script(type='text/javascript', src='http://code.highcharts.com/mapdata/custom/world.js')
//- highcharts - federal states of germany
script(type='text/javascript', src='http://code.highcharts.com/mapdata/countries/de/de-all.js')
//- highcharts - districts of germany
script(type='text/javascript', src='http://code.highcharts.com/mapdata/countries/de/de-all-all.js')

script(type='text/javascript', src='/packages/highcharts-ng/dist/highcharts-ng.min.js')
script(type='text/javascript', src='/packages/angularjs-slider/dist/rzslider.js')
script(type='text/javascript', src='/assets/js/canvas/plugins.js')
script(type='text/javascript', src='/assets/js/canvas/functions.js')

//- app files
script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/app/components/hauskauf/mietenoderkaufenController.js')
script(type='text/javascript', src='/app/components/hauskauf/deutschlandsbestearbeitsmarkteController.js')
script(type='text/javascript', src='/app/shared/chartconfig/chartconfigService.js')
script(type='text/javascript', src='/app/shared/calculators/hauskaufCalculatorService.js')
script(type='text/javascript', src='/app/shared/slider/sfSliderDirective.js')
script(type='text/javascript', src='/app/shared/numberformatter/numbersFilter.js')