//-
   Created by benjamintanz on 03.10.15.


link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic')
link(rel='stylesheet', type='text/css', href='/packages/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/style.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/dark.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/font-icons.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/animate.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/magnific-popup.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/responsive.css')
link(rel='stylesheet', type='text/css', href='/css/canvas/colors.css')
link(rel='stylesheet', type='text/css', href='/css/main.css')
//link(rel='stylesheet', href='/stylesheets/style.css')