//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Persönliche Finanzen, Finanzplanung, Private Finanzplanung,  Hauskauf, Immobilienkauf, Geldanlage, ETF, Aktien, Depot, Baufinanzierung, Immobilienfinanzierung')
  meta(name='description', content='Nehmen Sie Ihre finanzielle Zukunft in die Hand.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title(style='text-align=center; background-color: white;')
      div.container.clearfix
        h1.center
          | Der &nbsp;
          img(src='/assets/img/logo/logo03_blog.png', alt='FinIQ Logo', style='')#blog-logo
          | &nbsp; Blog
        span.center Nehmen Sie Ihre finanzielle Zukunft in die Hand.


    section#content
      div.content-wrap
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            div#posts.small-thumbs

              include ../blog/_mixins/blog_preview_item

              //- blog preview entries
              mixin blog_preview_item('Das Baby ist da: Wie Sie das neue Familienmitglied in Ihrer Finanzplanung berücksichtigen', '12.11.2015', 'Nicht wenige Eltern sind in den ersten Jahren nach der Geburt überrascht, dass deutlich weniger Geld auf dem Konto übrigbleibt als zunächst erwartet: Kinder sind wunderbar, kosten aber auch einiges an Geld! Mit etwas Planung jedoch können Sie die ersten Jahre nach der Geburt gut meistern. Worauf es dabei ankommt, erläutern wir in diesem Artikel.', '/geldanlage/das-baby-ist-da', 'assets/img/geld_anlegen/blog_dasBabyIstDa_01.jpg', 'Das Baby ist da: Wie Sie das neue Familienmitglied in Ihrer Finanzplanung berücksichtigen')

              mixin blog_preview_item('4 häufige Fehler bei der Geldanlage', '04.11.2015', 'Fehler sind auch bei der Geldanlage nicht zu vermeiden und wahrscheinlich hat fast jeder schon einmal eine finanzielle Entscheidung getroffen und später bereut. Für eine erfolgreiche Anlagestrategie sollten Sie wissen, was man tun und was man besser lassen sollte. Wir erläutern Ihnen 4 der häufigsten Fehler bei der Geldanlage.', '/geldanlage/fehler-bei-der-geldanlage', 'assets/img/geld_anlegen/blog_haeufigeFehlerGeldanlage_01.jpg', 'Häufige Fehler bei der Geldanlage')

              mixin blog_preview_item('3 Tipps zur Geldanlage für Studenten', '02.11.2015', 'Mit guten Geldanlageentscheidungen schon zur Studienzeit können Sie die Grundlage legen für mehr Geld und einen besseren Lifestyle in der Zukunft.', '/geldanlage/geldanlage-fuer-studenten', 'assets/img/geld_anlegen/blog_geldanlagefuerstudenten_01.jpg', 'Tipps zur Geldanlage für Studenten')

              mixin blog_preview_item('10 Schnäppchen-Regionen zum Bauen', '19.10.2015', 'Nicht nur in sehr abgelegenen Regionen kann man noch zu günstigen Grundstücken kommen. Wer genau hinschaut kann auch in den Gegenden um die deutschen Großstädte preiswertes Bauland finden. Wir zeigen Ihnen, wo Grundstücke noch preiswert sind.', '/hauskauf/schnaeppchen-regionen-zum-bauen', 'assets/img/hauskauf/img_schnaeppchen.jpg', '10 Schnäppchen-Regionen zum Bauen')

              mixin blog_preview_item('Übersicht der Grundstückspreise', '12.10.2015', 'Die Grundstückspreise in den Regionen Deutschlands sind nicht nur für Häuslebauer interessant, sondern geben auch eine Indikation für die Höhe und Entwicklung des Immobilienmarktes allgemein. Beim Hauskauf oder -bau sollten Sie auf die Preise und Preisentwicklungen achten, um beim Kauf nicht zu viel zu zahlen und keine Wertverluste zu erleiden. Um Ihnen einen Marktüberblick zu geben hat FinIQ die Grundstückspreise in Deutschland auf Stadt- und Kreisebene analysiert.', '/hauskauf/uebersicht-der-grundstueckspreise', 'assets/img/hauskauf/img_grundstueckspreise.jpg', 'Übersicht der Grundstückspreise')

              mixin blog_preview_item('Deutschlands attraktivste Arbeitsmärkte', '05.10.2015', 'Die Attraktivität des Arbeitsmarktes hat großen Einfluß auf die Lebensqualität in den Städten und Landkreisen sowie die heutige und zukünftige Bewertung von Immobilien. Der FinIQ-Attraktivitätsindex zeigt Ihnen, wie wirtschaftlich attraktiv die einzelnen Regionen Deutschlands sind.', '/hauskauf/deutschlands-attraktivste-arbeitsmaerkte', 'assets/img/hauskauf/img_arbeitsmaerkte.jpg', 'Deutschlands attraktivste Arbeitsmärkte')

          //- sidebar
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/blog', title: 'Der FinIQ Blog', description: 'Nehmen Sie Ihre finanzielle Zukunft in die Hand.'}, more: true, morecontent: [['/hauskauf/wie-hoch-darf-der-hauspreis-sein', 'Wie viel Haus kann ich mir leisten?'], ['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie wächst mein Sparguthaben im Zeitverlauf?']]})


    include ../_includes/footer
