//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Persönliche Finanzen, Finanzplanung, Private Finanzplanung,  Hauskauf, Immobilienkauf, Geldanlage, ETF, Aktien, Depot, Baufinanzierung, Immobilienfinanzierung')
  meta(name='description', content='Nehmen Sie Ihre finanzielle Zukunft in die Hand.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title(style='text-align=center; background-color: white;')
      div.container.clearfix
        h1.center
          | Der &nbsp;
          img(src='/assets/img/logo/logo03_blog.png', alt='FinIQ Logo', style='')#blog-logo
          | &nbsp; Blog
        span.center Nehmen Sie Ihre finanzielle Zukunft in die Hand.


    section#content
      div.content-wrap
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            div#posts.small-thumbs

              include ../blog/_mixins/blog_preview_item

              //- blog preview entries
              mixin blog_preview_item('Unsere Auswahl der besten Finanzbücher 2015', '04.12.2015', 'Zum Ende des Jahres stellen wir unsere besten Finanzbücher aus 2015 vor. Diese Bücher haben uns inspiriert und uns neue Perspektiven auf das Thema persönliche Finanzen gegeben. Vielleicht finden auch Sie über Weihnachten oder zum Begin des neuen Jahres etwas Zeit zum lesen und sind interessiert an unterhaltsamen Büchern zum Thema Finanzen.', '/geldanlage/die-besten-finanzbuecher-2015', 'assets/img/geld_anlegen/blog_besteBuecher2015_01.jpg', 'Beste Finanzbücher 2015')

              mixin blog_preview_item('Die wichtigsten Möglichkeiten zur Studienfinanzierung', '27.11.2015', 'Für die Studienzeit sind knappe Kassen praktisch vorprogrammiert, und dafür gibt es ganz verschiedene Gründe: Man wechselt die Stadt und muss möglicherweise zum ersten mal eine eigene Wohnung zahlen. Weiterhin sorgt das Studium an sich für einige Kosten, zum Beispiel durch Semestergebühren und Ausgaben für Bücher und Studienmaterial. Und schließlich will man als Studierender auch weiterhin seinen Hobbys nachgehen und auch mal den ein oder anderen Ausflug ins Nachtleben machen. Sorgen um die Finanzen kommen da niemandem wirklich gelegen. ', '/studium/moeglichkeiten-zur-studienfinanzierung', 'assets/img/studium/blog_moeglichkeitenStudienfinanzierung_01.jpg', 'Möglichkeiten Studienfinanzierung')

              mixin blog_preview_item('Fünf häufige finanzielle Fehler beim Hauskauf', '25.11.2015', 'Die Entscheidung zum Wohnungs- oder Hauskauf ist einer der wichtigsten finanziellen Meilensteine für junge Erwachsene. Aber nicht immer läuft alles glatt beim Übergang vom Mieter zum Immobilienbesitzer. Gerade wenn Sie zum ersten mal eine Wohnung oder ein Haus kaufen, sollten Sie besonders genau und detailliert planen, damit Ihr aus Ihrem Traumhaus nicht nach wenigen Jahren ein finanzieller Albtraum wird. Achten Sie darauf, nicht die folgenden fünf Fehler zu begehen, welche gerade jungen Käufern immer wieder passieren.', '/hauskauf/haeufige-finanzielle-fehler-hauskauf', 'assets/img/hauskauf/blog_fuenfFinanzielleFehlerHauskauf.jpg', 'Häufige Fehler beim Hauskauf')

              mixin blog_preview_item('Die Lebenshaltungskosten in München', '24.11.2015', 'München zählt zu den teuersten, aber auch attraktivsten Städten für Studenten und junge Berufstätige in Deutschland. Die Universitäten der Stadt schneiden in Rankings immer wieder ausgezeichnet ab und verschiedene Weltkonzerne wie BMW, Siemens oder die Münchner Rückversicherungs AG haben ihren Sitz in der bayerischen Landeshauptstadt. Außerdem gibt es von Schwabing über die Maxvorstadt bis nach Haidhausen viele trendige Bars und Cafés sowie zünftige Biergärten zu entdecken.', '/hauskauf/lebenshaltungskosten-muenchen', 'assets/img/hauskauf/blog_lebenshaltungMuenchen_02.jpg', 'Lebenshaltungskosten in München')

              mixin blog_preview_item('Die Antworten auf sechs häufige Fragen zu Exchange-traded funds', '23.11.2015', 'Da ETFs trotz ihres starken Wachstums noch immer zu den vergleichsweise neuen Instrumenten der Geldanlage gehören, kursieren viele offene Fragen und Missverständnisse zu diesen Produkten. Wir haben daher versucht, sechs häufige Fragen zu ETFs so einfach und verständlich wie möglich zu beantworten.', '/geldanlage/haeufige-fragen-zu-etfs', 'assets/img/geld_anlegen/blog_haeufigeFragenZuEtfs_01.jpg', 'Einfache Antworten auf häufige Fragen zu ETFs')

              mixin blog_preview_item('Gute Schulden und schlechte Schulden', '18.11.2015', 'Selten kommen gute Gefühle auf, wenn das Wort Schulden fällt. Dabei sind Schulden in Deutschland sehr weit verbreitet und wenn Sie Schulden haben sollten, dann sind Sie alles andere als alleine. Laut Daten von Creditreform gab es Anfang 2015 6,72 Mio. überschuldete Deutsche, welche laut statistischem Bundesamt im Durchschnitt etwa 34.000 € Schulden hatten.', '/kredite/gute-schulden-und-schlechte-schulden', 'assets/img/kredit/blog_guteSchuldenSchlechteSchulden_01.jpg', 'Welche Schulden sind schlechte Schulden und welche eher nicht? Dieser Artikel soll Ihnen helfen, bei Thema Schulden die Spreu vom Weizen zu trennen')

              mixin blog_preview_item('Smart Beta: Ein neue Sicht auf traditionelle Investmentansätze', '16.11.2015', 'Nachdem Smart-Beta-Strategien in den USA bereits seit 2010 in aller Munde sind, werden Sie nun auch von vielen Anlegern in Deutschland entdeckt. Die Attraktivität von Smart Beta liegt in der Möglichkeit, mehr Rendite, weniger Risiko oder eine höhere Diversifikation zu erzielen als mit gewöhnlichen Beta- oder Indexanlagen.', '/geldanlage/smart-beta', 'assets/img/geld_anlegen/blog_smartBeta_01.jpg', 'Smart Beta: Ein neue Sicht auf traditionelle Investmentansätze')

              mixin blog_preview_item('Das Baby ist da: Wie Sie das neue Familienmitglied in Ihrer Finanzplanung berücksichtigen', '12.11.2015', 'Nicht wenige Eltern sind in den ersten Jahren nach der Geburt überrascht, dass deutlich weniger Geld auf dem Konto übrigbleibt als zunächst erwartet: Kinder sind wunderbar, kosten aber auch einiges an Geld! Mit etwas Planung jedoch können Sie die ersten Jahre nach der Geburt gut meistern. Worauf es dabei ankommt, erläutern wir in diesem Artikel.', '/geldanlage/das-baby-ist-da', 'assets/img/geld_anlegen/blog_dasBabyIstDa_01.jpg', 'Das Baby ist da: Wie Sie das neue Familienmitglied in Ihrer Finanzplanung berücksichtigen')

              mixin blog_preview_item('4 häufige Fehler bei der Geldanlage', '04.11.2015', 'Fehler sind auch bei der Geldanlage nicht zu vermeiden und wahrscheinlich hat fast jeder schon einmal eine finanzielle Entscheidung getroffen und später bereut. Für eine erfolgreiche Anlagestrategie sollten Sie wissen, was man tun und was man besser lassen sollte. Wir erläutern Ihnen 4 der häufigsten Fehler bei der Geldanlage.', '/geldanlage/fehler-bei-der-geldanlage', 'assets/img/geld_anlegen/blog_haeufigeFehlerGeldanlage_01.jpg', 'Häufige Fehler bei der Geldanlage')

              mixin blog_preview_item('3 Tipps zur Geldanlage für Studenten', '02.11.2015', 'Mit guten Geldanlageentscheidungen schon zur Studienzeit können Sie die Grundlage legen für mehr Geld und einen besseren Lifestyle in der Zukunft.', '/geldanlage/geldanlage-fuer-studenten', 'assets/img/geld_anlegen/blog_geldanlagefuerstudenten_01.jpg', 'Tipps zur Geldanlage für Studenten')

              mixin blog_preview_item('10 Schnäppchen-Regionen zum Bauen', '19.10.2015', 'Nicht nur in sehr abgelegenen Regionen kann man noch zu günstigen Grundstücken kommen. Wer genau hinschaut kann auch in den Gegenden um die deutschen Großstädte preiswertes Bauland finden. Wir zeigen Ihnen, wo Grundstücke noch preiswert sind.', '/hauskauf/schnaeppchen-regionen-zum-bauen', 'assets/img/hauskauf/img_schnaeppchen.jpg', '10 Schnäppchen-Regionen zum Bauen')

              mixin blog_preview_item('Übersicht der Grundstückspreise', '12.10.2015', 'Die Grundstückspreise in den Regionen Deutschlands sind nicht nur für Häuslebauer interessant, sondern geben auch eine Indikation für die Höhe und Entwicklung des Immobilienmarktes allgemein. Beim Hauskauf oder -bau sollten Sie auf die Preise und Preisentwicklungen achten, um beim Kauf nicht zu viel zu zahlen und keine Wertverluste zu erleiden. Um Ihnen einen Marktüberblick zu geben hat FinIQ die Grundstückspreise in Deutschland auf Stadt- und Kreisebene analysiert.', '/hauskauf/uebersicht-der-grundstueckspreise', 'assets/img/hauskauf/img_grundstueckspreise.jpg', 'Übersicht der Grundstückspreise')

              mixin blog_preview_item('Deutschlands attraktivste Arbeitsmärkte', '05.10.2015', 'Die Attraktivität des Arbeitsmarktes hat großen Einfluß auf die Lebensqualität in den Städten und Landkreisen sowie die heutige und zukünftige Bewertung von Immobilien. Der FinIQ-Attraktivitätsindex zeigt Ihnen, wie wirtschaftlich attraktiv die einzelnen Regionen Deutschlands sind.', '/hauskauf/deutschlands-attraktivste-arbeitsmaerkte', 'assets/img/hauskauf/img_arbeitsmaerkte.jpg', 'Deutschlands attraktivste Arbeitsmärkte')

          //- sidebar
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/blog', title: 'Der FinIQ Blog', description: 'Nehmen Sie Ihre finanzielle Zukunft in die Hand.'}, more: true, morecontent: [['/hauskauf/wie-hoch-darf-der-hauspreis-sein', 'Wie viel Haus kann ich mir leisten?'], ['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie wächst mein Sparguthaben im Zeitverlauf?']]})


    include ../_includes/footer
