extends layout


block meta
  meta(name='keywords', content='Persönliche Finanzen, Finanzplanung, Private Finanzplanung,  Hauskauf, Immobilienkauf, Geldanlage, ETF, Aktien, Depot, Baufinanzierung, Immobilienfinanzierung')
  meta(name='description', content='Wir bauen auf Software und Daten, um komplizierte Finanzfragen zu vereinfachen, damit Sie bessere Entscheidungen treffen können.')

block content
  div#wrapper.clearfix
    include _includes/navheader
    mixin navheader(true)


    section#slider.slider-parallax(style='background: url(assets/img/landing/img_landing_03c.jpg) no-repeat; background-size: cover', data-height-lg='1000', data-height-md='750', data-height-sm='650', data-height-xs='500', data-height-xxs='250')
      div.container.clearfix
        div.dark.center(style="position: absolute; top: 22%; width: 100%; margin-top: -46px; opacity: 1.77778;")

          div.heading-block.nobottommargin.center
            h1
              span.text-rotater.nocolor(data-separator='*', data-rotate='flipInX', data-speed='3500')
                span.t-rotate(style='color: #F38200;')
                  a(href='/') Wieviel kann ich für ein Haus ausgeben?*
                  | Sollte ich ein Haus besser mieten oder kaufen?*Wie funktioniert eigentlich Bausparen?*Was muss man bei der Geldanlage beachten?*Sollte ich Geld in Aktien anlegen?
            //a(href="/").button.button-3d.button-rounded.button-red.button-large Jetzt herausfinden
            span.hidden-xs Personalisierte Tools und Rechner für unabhängige Finanzentscheidungen.


    section#content
      div.content-wrap(style='background-color: #DDE1E2;').nobottompadding.xxstoppadding

        //- short content overview
        div.container.clearfix

          div.col_one_third.mbottommargin.mtopmargin
            div.feature-box.fbox-effect.fbox-center.nobottomborder
              div.fbox-icon
                a(href='/geldanlage')
                  i.fa.fa-line-chart.fa-lg.i-alt
              h3 Geldanlage


          div.col_one_third.mbottommargin.mtopmargin
            div.feature-box.fbox-effect.fbox-center.nobottomborder
              div.fbox-icon
                a(href='/hauskauf')
                  i.fa.fa-home.fa-lg.i-alt
              h3 Hauskauf


          div.col_one_third.mbottommargin.mtopmargin.col_last
            div.feature-box.fbox-effect.fbox-center.nobottomborder
              div.fbox-icon
                a(href='/baufinanzierung')
                  i.fa.fa-bar-chart.fa-lg.i-alt
              h3 Baufinanzierung



          //-div.col_one_fourth.col_last
            div.feature-box.fbox-effect
              div.fbox-icon
                a(href='/')
                  i.icon-screen.i-alt
              h3 Kreditkarten
              p Text
          div.clear


      div.content-wrap.nobottommargin
        div.container.clearfix
          //- long content overview
          div.col_half.xsbottommargin
            div.feature-box
              div.fbox-icon
                a(href='/geldanlage')
                  i.fa.fa-line-chart.fa-lg.i-alt
              h3
                a(href='/geldanlage') Geld anlegen
              p Bei der Vielzahl an Produkten und Ratschlägen zur Geldanlage ist es einfach, den Überblick zu verlieren. Wir zeigen Ihnen, dass Geld anlegen nicht kompliziert sein muss. Die FinIQ Tools und Visualisierungen helfen Ihnen, gute und unabhängige Entscheidungen zu treffen und Ihre Geldanlage in die eigenen Hände zu nehmen.
          div.col_half.xsbottommargin.col_last
            img(src='assets/img/geld_anlegen/sparrechner_01.jpg', alt='Sparrechner zur Geldanlage', style='max-height: 300px;').aligncenter
          div.clear
          div.line.notopmargin

          div.col_half.xsbottommargin
            div.feature-box
              div.fbox-icon
                a(href='/hauskauf')
                  i.fa.fa-home.fa-lg.i-alt
              h3
                a(href='/hauskauf') Hauskauf
              p Der Kauf einer Wohnung oder eines Hauses ist vielmals eine der wichtigsten persönlichen und finanziellen Entscheidungen und will nicht nur deshalb gut geplant und ausgeführt sein. Mit den interaktiven Berechnungstools und Guides von FinIQ behalten Sie den Durchblick.
          div.col_half.xsbottommargin.col_last
            img(src='assets/img/landing/img_landing_hauskauf_01.jpg', alt='Kaufen-oder-mieten-Tool', style='max-height: 300px;').aligncenter
          div.clear
          div.line

          div.col_half
            div.feature-box
              div.fbox-icon
                a(href='/baufinanzierung')
                  i.fa.fa-bar-chart.fa-lg.i-alt
              h3
                a(href='/baufinanzierung') Baufinanzierung
              p Eine passende Finanzierung für Ihre Immobilie ist genauso wichtig wie die Immobilie selbst, da eine schlechte Finanzierung einen guten Hauskauf oder -bau zu einer miserablen Investition machen kann. Nehmen Sie die Finanzierungsentscheidung mit den FinIQ Tools und Guides selbst in die Hand.
          div.col_half.col_last
            img(src='assets/img/baufinanzierung/bausparrechner_01.jpg', alt='Baufinanzierung', style='max-height: 300px;').aligncenter
          div.clear
          div.line


          //-div.col_half
            div.feature-box.fbox-effect
              div.fbox-icon
                a(href='/')
                  i.icon-screen.i-alt
              h3 Kreditkarten
              p Text
          //-div.col_half.col_last
            p Bild


    include _includes/footer
