- var production = (process.env.NODE_ENV == 'production')
doctype html
html(lang='de')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='Benjamin Tanz')
    title FinIQ.de
    if production
      include _includes/styletagsProd
    else
      include _includes/styletags
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body.stretched(ng-app='app', data-loader="1", data-speed-in="1200", data-speed-out="800")
    block content





    //- include javascript
    if production
      include _includes/scripttagsProd
    else
      include _includes/scripttags
