doctype html
html(lang='de')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='Benjamin Tanz')
    title= title
    include ./_includes/styletags
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body.stretched
    block content





    //- include javascript
    include ./_includes/scripttags
