//-
   Created by benjamintanz on 19.11.15.

extends ../layout

block meta
  meta(name='keywords', content='Wie werde ich schuldenfrei, schulden, schulden abbauen, schuldenabbau, rückzahlung schulden')
  meta(name='description', content='Lassen Sie sich vom Thema Schulden nicht unterkriegen. Mit nur wenige Einsichten, etwas Planung und Geduld werden Sie wieder finanziellen Spielraum bekommen. Alles liegt in Ihren Händen.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Wie werde ich schuldenfrei?

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Home
                  li.nobottommargin
                    a(href='/kredite') Kredite und Schuldenabbau
                  li.nobottommargin
                    a(href='/kredite/wie-werde-ich-schuldenfrei') Wie werde ich schuldenfrei?



                div.entry-content.mtopmargin
                  p Der Urlaub muss verschoben werden, da die Zinszahlungen für laufende Kredite zu hoch sind? Ein neues Smartphone muss noch warten, weil am Ende des Monats kein Geld mehr übrig ist? Viele Menschen in Deutschland können ein Lied von diesen Problemen singen. Ursache sind oft hohe Schulden und die damit einhergehenden hohen Zinszahlungen. FinIQ
                    a(href='/kredite/gute-schulden-und-schlechte-schulden')  unterscheidet zwischen guten und schlechten Schulden
                    | , wobei insbesondere schlechte Schulden oftmals zu einem Teufelskreis werden: Wer einmal Schulden angesammelt hat, wird sie so einfach nicht mehr los. Die Zinsen sind so hoch, dass Zinszahlungen womöglich durch weitere Schulden finanziert werden müssen und der Schuldenberg weiter anwächst.
                    | Außerdem sind Schulden eine hohe emotionale Bürde: Nicht wenige haben schlaflose Nächte, wenn Sie an das Thema Schulden denken. Dazu trägt noch bei, dass die Wörter Schulden und Schuld in der deutschen Sprache nahezu identisch klingen. Es gibt also gute Gründe, den Aufbau von Schulden zu stoppen und die ersten Schritte zum Schuldenabbau anzugehen.
                  blockquote
                    p Lassen Sie sich vom Thema Schulden nicht unterkriegen. Mit nur wenige Einsichten, etwas Planung und Geduld werden Sie wieder finanziellen Spielraum bekommen. Alles liegt in Ihren Händen.

                  p Fühlen auch Sie sich unwohl beim Thema Schulden? Sie sind nicht alleine, wahrscheinlich geht es fast jedem Menschen so. Es gibt aber keinen Grund, sich große Sorgen über dieses Thema zu machen. Alles liegt in Ihren Händen, Sie müssen lediglich einen Plan machen und geduldig am Thema Schuldenabbau arbeiten, dann werden Sie sich schon bald die hohen Zinszahlungen sparen und sich davon den ein oder anderen Urlaub leisten können. Gehen Sie das Thema Schuldenabbau mit dem FinIQ-Sechs-Punkte-Plan an.


                  h4.sf-plain-h4 Der Sechs-Punkte-Plan zur Schuldenfreiheit
                  div.entry-image.alignright
                    img(src='/assets/img/kredit/art_wieWerdeIchSchuldenfrei_01.jpg', alt='Wie werde ich schuldenfrei')
                    p.sf-image-source iStock.com / sanjeri

                  p Der folgende Plan unterstützt Sie dabei, den Schulden an den Kragen zu gehen. Das funktioniert aber nicht über Nacht, sondern kann Monate oder Jahre dauern. Darum ist es wichtig, dass sie unermüdlich bleiben und Ihrem Plan folgen. Wie auch Abnehmen oder der Aufbau von Muskeln funktioniert Schuldenabbau nicht über Nacht, sondern erfordert regelmäßiges "Training". Wenn Sie am Ball bleiben ist der Erfolg aber praktisch garantiert.

                  h4.sf-styled-h4(number='1') Schreiben Sie mindestens einen Monat lang auf, wann und für was Sie Geld ausgeben.
                  p Um mehr Schulden in Zukunft zu vermeiden, sollten Sie Ihre Ausgaben genauer unter die Lupe nehmen. Laut Studien geschehen etwa die Hälfte unser täglichen Tätigkeiten alleine aus Gewohnheit. Dies gilt auch und insbesondere für die Ausgaben: Zahlen Sie monatlich für Abonnements, welche Sie überhaupt nicht nutzen? Gehen Sie jeden Samstag einkaufen, um sich für die anstrengende Arbeitswoche zu belohnen? Gehen Sie oft mit Freunden einkaufen und stellen fest, dass Sie viel mehr ausgegeben haben als sonst? Haben Sie sich schon so an den Dispo gewöhnt, dass Sie nicht mehr über die hohen Kreditzinsen nachdenken? Wahrscheinlich schaltet jeder bei vielen Ausgaben irgendwann auf Autopilot, dies ist einfach nur menschlich. Wichtig ist nur, dass Sie sich solcher Budgetteufel bewusst werden und langsam gegensteuern.
                  blockquote
                    p Sind Ihre Ausgaben auf Autopilot? Schaffen Sie sich ein Bewusstsein für schlechte finanzielle Gewohnheiten.

                  p Ein guter Weg, die Fehler aus der Vergangenheit hinter sich zu lassen, ist die Auflistung und Bewertung Ihrer Ausgaben für mindestens einen Monat. Erstellen Sie eine Liste mit wirklich allen Ausgaben eines Monats. Nachdem Sie die Liste fertig haben, bewerten Sie jede Ausgabe mit einer Note von eins bis fünf. Eine eins bekommen Ausgaben, welche auch in Ihrer Höhe absolut notwendig und wichtig für Sie sind. Eine fünf bekommen Ausgaben, welche absolut unnötig sind. Diese Ausgabenliste wird sehr wahrscheinlich schon einige Überraschungen zu Tage bringen.

                  h4.sf-styled-h4(number='2') Geben Sie weniger aus, indem Sie unnötige Ausgaben reduzieren.
                  p Nachdem Sie analysiert haben, was die Schulden verursacht hat, können Sie beginnen, Ihre Ausgaben zu reduzieren und Schulden abzubauen. Nehmen Sie dazu die Ausgabenliste und starten Sie mit den Ausgaben, welche Sie mit der Note fünf bewertet haben. Stoppen Sie gnadenlos all diese Ausgaben, kündigen Sie wenn notwendig Verträge und Abonnements. Wundern Sie sich nicht, wenn Sie sich bei der Umsetzung fragen, warum Sie eigentlich drei Auslandskrankenversicherungen, zwei Handyverträge und vier schon seit Monaten nicht mehr genutzte Online-Abos haben - oft sammelt sich über die Zeit so einiges an. Wenn Sie damit fertig sind, sollten Sie sich belohnen: Sie haben praktisch aus dem Nichts mehr Geld für sich geschaffen.
                  p Gehen Sie nach und nach auch die Ausgaben mit Note vier und drei an und überlegen Sie, ob und wie Sie sich auch diese Ausgaben sparen können. Überstürzen Sie aber nichts, Sie sind auf dem richtigen Weg und können sich hin und wieder auch mal etwas gönnen.
                  p Falls Sie mit der Ausgabensenkung sehr eilig haben ist vielleicht auch eine "Cash-Diät" etwas für Sie: Dazu schauen Sie als erstes, wie viel Sie normalerweise pro Woche für Einkäufe usw. ausgeben. Die Ausgabenliste kann Ihnen dabei helfen. Danach multiplizieren Sie diese Zahl mit 0,8, um den Wert für 80 % Ihrer üblichen wöchentlichen Ausgaben zu erhalten. Nun gehen Sie jede Woche zum Geldautomaten, heben genau diesen Betrag ab, und zahlen von nun an nur noch bar. Wenn das wöchentliche Budget zur Neige geht, setzen Sie sich das Ziel, nicht mehr auszugeben, sondern auf die neue Woche zu warten. Dieses vielleicht unkonventionelle Vorgehen hat laut Studien zwei Vorteile: Das beschränkte Budget führt dazu, dass Sie Ihre Ausgaben automatisch besser planen und budgetieren. Außerdem führen die Barzahlungen dazu, das Sie über jede einzelne Ausgaben etwas genauer nachdenken, da eine Karte immer etwas leichter über den Ladentisch gereicht wird als Bargeld. Nachdem Sie die "Cash-Diät" für einige Wochen umgesetzt haben, werden Sie feststellen, dass Sie Ihr wöchentliches Budget auch gut und gerne noch weiter senken könnten. Das ist aber in den meisten Fällen überhaupt nicht mehr notwendig.

                  h4.sf-styled-h4(number='3') Machen Sie eine Liste, um Ihre "schlechten" Schulden zu identifizieren
                  div.entry-image.alignleft
                    img(src='/assets/img/kredit/art_wieWerdeIchSchuldenfrei_02.png', alt='Schuldenliste')
                  p Das Wichtigste haben Sie schon geschafft: Die Kürzung der Ausgaben gibt finanziellen Spielraum für den Abbau der Schulden. Nun geht es darum, herauszufinden, welchen Schulden Sie als erstes an den Kragen gehen sollten. Höchste Priorität sollten Schulden und Kredite haben, für welche Sie hohe Zinsen zahlen und welche Ihnen kaum Benefits für die Zukunft bringen.
                    | Die üblichen Verdächtigen hier sind Überziehungszinsen, Kreditkartenschulden, Konsumentenkredite oder auch Autokredite. Am besten Sie erstellen direkt eine Schuldenliste, um einen Gesamtüberblick zu bekommen. Die Schuldenliste sollte alle Kredite und sonstige Schulden benennen und diese zusammen mit Höhe und Zinssatz ausweisen. Notieren Sie in der Liste auch, ob Sie die Schulden sofort zurückzahlen können oder ob Fristen eingehalten werden müssen. Wenn Sie sich nicht sicher sind: Schauen Sie Online nach oder greifen Sie zum Telefonhörer und rufen Sie die Bank an, um Zinskonditionen und Rückzahlungsbedingungen zu erfahren.
                  p Atmen Sie tief durch, falls Ihnen die Liste lang und die Beträge hoch erscheinen: Die Schulden basieren auf Fehlern in der Vergangenheit, welche Sie in Zukunft nicht mehr machen werden. Insbesondere die schlechten Schulden werden nun nach und nach zurückgezahlt.

                  h4.sf-styled-h4(number='4') Rechnen Sie aus, wie viel Sie pro Monat zurückzahlen können
                  p Sie können nun, nachdem Sie im zweiten Schritt Ihre Ausgaben reduziert haben, die Höhe Ihrer monatlichen Rückzahlung bestimmen. Die Höhe der Rückzahlung sollte genau dem durch die Einsparung neu gewonnenen Budget entsprechen, es sei denn, Sie möchten bereits einen kleinen Anteil für die Altersversorge ansparen. Es ist aber fast immer sinnvoller, zunächst Kredite zurückzuzahlen, bevor man den Aufbau von Ersparnissen angeht. Grund dafür ist, dass Kreditzinsen nahezu immer höher sind als die Zinsen auf Ihre Ersparnisse. Sie würden also für den Kredit mehr an die Bank zahlen, als Sie für Ersparnisse bekommen würden.
                  p Falls Sie die Cash-Diät befolgen, dann können Sie Ihre monatlichen Rückzahlungen wie folgt bestimmen: Angenommen, Ihr wöchentliches Budget war 250 €. Nun, während der Cash-Diät, geben Sie nur 80 % dieser 250 € aus, also 200 € pro Woche. Es bleiben 50 € pro Woche übrig. Auf den Monat gerechnet haben Sie also 200 € (4 Wochen * 50 €) weniger Ausgaben. Diesen Betrag können Sie für die Rückzahlung der Schulden verwenden. Mit dieser einfachen Methode sind auf ein Jahr betrachtet schon 2.400 € Schuldenabbau möglich.
                  p Wählen Sie den Rückzahlungsbetrag so, dass Sie die Rückzahlungen auch über mehrere Monate durchhalten können, nur dann haben Sie langfristig Erfolg. Wenn Sie den Rückzahlungsbetrag einmal bestimmt haben, sollten Sie nicht mehr davon abweichen, insbesondere nicht nach unten.

                  h4.sf-styled-h4(number='5') Denken Sie an eine Umschuldung
                  p Denken Sie darüber nach, ob eine Umschuldung Ihnen mehr finanziellen Freiraum schaffen kann. Nehmen Sie dazu die erstellte Schuldenliste und schauen Sie, ob Sie Kredite mit sehr hohen Zinsen haben, welche Sie sofort oder zeitnah zurückzahlen können. Als Daumenregel bezüglich des Zinssatzes können Sie 8 % p. a. wählen. Für alle Kredite mit höheren Zinsen sollten Sie prüfen, ob diese nicht durch andere Kredite mit niedrigeren Zinsen ablösbar sind. Ein häufiger Fall ist die Ablösung eines Dispo durch einen in der Regel günstigeren Ratenkredit mit fester Rückzahlungsrate. Sie würden dann den Dispo komplett auflösen und mit dem Ratenkredit refinanzieren. Die Rückzahlungsrate könnten Sie so wählen, dass Sie genau Ihrem überschüssigen Budget entspricht. Nach Rückzahlung des Ratenkredits haben Sie dann den Dispo komplett zurückgezahlt und konnten sich darüber hinaus noch die günstigeren Zinsen des Ratenkredits sichern. Bei diesem Vorgehen sollten Sie aber auf jeden Fall sicherstellen, dass Sie den Dispo auf keinen Fall mehr nutzen können. Sie könnten zum Beispiel die Bank beauftragen, dass Konto bei negativem Guthaben zu sperren. So eine Maßnahme mag zunächst übertrieben erscheinen, bringt Sie aber Ihren Zielen mit Sicherheit näher.
                  p Um die Umschuldung von einem Dispo- auf einen Ratenkredit besser zu verstehen, können wir uns noch einmal das Beispiel der Cash-Diät genauer anschauen. Im vierten Schritt haben wir berechnet, dass 200 € pro Monat zurückgezahlt werden können. Angenommen, Sie haben einen Dispo über 5.000 € zu einem Zinssatz von 10 % p. a., welchen Sie zurückzahlen möchten. Mit einer Rückzahlung von 200 € pro Monat könnten Sie diesen Kredit, inklusive Zinsen, in etwas über 28 Monaten zurückzahlen. Falls Sie nun einen Ratenkredit über 5.000 € zu einem Zinssatz von zum Beispiel 4,5 % bekommen, dann können Sie diese 5.000 € sogar schon in etwas über 26 Monaten vollständig zurückzahlen. Sie würden sich also die Rückzahlungen für etwa zwei Monate sparen. Konkret würden Sie den Ratenkredit zunächst nutzen, um den Dispo abzulösen. Danach würden Sie anstelle des Dispos den Ratenkredit zurückzahlen. Damit schlagen Sie zwei Fliegen mit einer Klappe: Sie müssen beim Ratenkredit weniger Zinsen zahlen und sind durch die monatliche Rückzahlungspflicht gebunden, Ihre Schulden auch wirklich zurückzuzahlen.

                  h4.sf-styled-h4(number='6') Machen Sie einen Rückzahlungsplan
                  p Auch bei der Erstellung des Rückzahlungsplans sollten Sie als erstes einen Blick auf die Schuldenliste werfen. Erste Priorität haben Schulden mit den höchsten Zinsen, welche Sie sofort oder zeitnah zurückzahlen können. Sie sollten Kredite mit absurd hohen Zinsen unbedingt als erstes los werden, denn dann können Sie den Teufelskreis der hohen Zinsen in eine positive Dynamik umwandeln: Je mehr Kredit Sie abbauen, desto weniger hohe Zinsen zahlen Sie, und desto mehr Budget bleibt für Sie übrig, welches Sie wiederum zur Rückzahlung verwenden können.
                  blockquote
                    p Sofort zurückzahlbaren Schulden mit absurd hohen Zinsen sollten Sie immer als erstes aus dem Weg schaffen.
                  p Bleiben Sie immer am Ball und verwenden Sie den im vierten Schritt berechneten Rückzahlungsbetrag Monat für Monat für die Tilgung Ihrer Schulden. Arbeiten Sie sich so Schritt für Schritt durch die Schuldenliste. Nach und nach wird auch die Zinslast sinken und Sie werden deutlich mehr finanziellen Spielraum gewinnen. Wenn Sie an Ihrem Plan festhalten, werden Sie nach einiger Zeit schuldenfrei sein oder nur noch geringe "gute" Schulden haben.

                  h4.sf-plain-h4 Die wichtigste Erkenntnis
                  p Seien Sie sich der Psychologie hinter Ihren Ausgaben immer bewusst und decken Sie Ihre schlechten finanziellen Gewohnheiten rücksichtslos auf, dies ist der wichtigste Erkenntnis zum Schuldenabbau. Danach braucht es nur etwas Planung und einige Zeit, um den Schulden Schritt für Schritt an den Kragen zu gehen. So liegt der Schuldenabbau ganz in Ihren Händen.

                  p
                    strong Mehr zu Krediten und Schuldenabbau von FinIQ finden Sie
                      a(href='/kredite')  hier
                      | .



                  div.divider.notopmargin.mbottommargin






          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/kredite/wie-werde-ich-schuldenfrei', title: 'Wie werde ich schuldenfrei?', description: 'Lassen Sie sich vom Thema Schulden nicht unterkriegen. Mit nur wenige Einsichten, etwas Planung und Geduld werden Sie wieder finanziellen Spielraum bekommen. Alles liegt in Ihren Händen.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie entwickeln sich meine Ersparnisse über die Zeit?'], ['/geldanlage/wie-lege-ich-geld-an', 'Wie lege ich Geld an?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
