//-
   Created by benjamintanz on 19.11.15.

extends ../layout

block meta
  meta(name='keywords', content='Geldanlage, Fehler, Fehlentscheidung, Finanzplanung, Diversifikation')
  meta(name='description', content='Fehler sind auch bei der Geldanlage nicht zu vermeiden und wahrscheinlich hat fast jeder schon einmal eine finanzielle Entscheidung getroffen, welche er später bereut hat. Für eine erfolgreiche Anlagestrategie sollten Sie wissen, was man tun und was man besser lassen sollte. Wir erläutern Ihnen 4 der häufigsten Fehler bei der Geldanlage.')
  //- todo: adjust metatags

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Wie werde ich schuldenfrei?

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Home
                  li.nobottommargin
                    a(href='/kredite') Kredite und Schuldenabbau
                  li.nobottommargin
                    a(href='/kredite/wie-werde-ich-schuldenfrei') Wie werde ich schuldenfrei?



                div.entry-content.mtopmargin
                  p Der Urlaub muss verschoben werden, da die Zinszahlungen für laufende Kredite zu hoch sind? Ein neues Smartphone muss noch warten, weil am Ende des Monats kein Geld mehr übrig ist? Viele Menschen in Deutschland können ein Lied von diesen Problemen singen. Ursache sind oft hohe Schulden und die damit einhergehenden hohen Zinszahlungen. FinIQ
                    a(href='/kredite/gute-schulden-und-schlechte-schulden')  unterscheidet zwischen guten und schlechten Schulden
                    | , wobei insbesondere schlechte Schulden oftmals zu einem Teufelskreis werden: Wer einmal Schulden angesammelt hat, wird sie so einfach nicht mehr los. Die Zinsen sind so hoch, dass Zinszahlungen womöglich durch weitere Schulden finanziert werden müssen und der Schuldenberg weiter anwächst.
                    | Außerdem sind Schulden eine hohe emotionale Bürde: Nicht wenige haben schlaflose Nächte, wenn Sie an das Thema Schulden denken. Dazu trägt noch bei, dass die Wörter Schulden und Schuld in der deutschen Sprache nahezu identisch klingen. Es gibt also gute Gründe, den Aufbau von Schulden zu stoppen und die ersten Schritte zum Schuldenabbau anzugehen.
                  p Fühlen auch Sie sich unwohl beim Thema Schulden? Sie sind nicht alleine, wahrscheinlich geht es fast jedem Menschen so. Es gibt aber keinen Grund, sich große Sorgen über dieses Thema zu machen. Alles liegt in Ihren Händen, Sie müssen lediglich einen Plan machen und geduldig am Thema Schuldenabbau arbeiten, dann werden Sie sich schon bald die hohen Zinszahlungen sparen und sich davon den ein oder anderen Urlaub leisten können. Gehen Sie das Thema Schuldenabbau mit dem FinIQ-Sechs-Punkte-Plan an.


                  h4.sf-plain-h4 Der Sechs-Punkte-Plan zur Schuldenfreiheit
                  p Der folgende Plan unterstützt Sie dabei, den Schulden an den Kragen zu gehen. Das funktioniert aber nicht über Nacht, sondern kann Monate oder Jahre dauern. Darum ist es wichtig, dass sie unermüdlich bleiben und Ihrem Plan folgen. Wie auch Abnehmen oder der Aufbau von Muskeln funktioniert Schuldenabbau nicht über Nacht, sondern erfordert regelmäßiges "Training". Wenn Sie am Ball bleiben ist der Erfolg aber praktisch garantiert.

                  h4.sf-styled-h4(number='1') Schreiben Sie mindestens einen Monat lang auf, wann und für was Sie Geld ausgeben.
                  p Um mehr Schulden in Zukunft zu vermeiden, sollten Sie Ihre Ausgaben genauer unter die Lupe nehmen. Laut Studien geschehen etwa die Hälfte unser täglichen Tätigkeiten alleine aus Gewohnheit. Dies gilt auch und insbesondere für die Ausgaben: Zahlen Sie monatlich für Abononemments, welche Sie überhaupt nicht nutzen? Gehen Sie jeden Samstag einkaufen, um sich für die anstrengende Arbeitswoche zu belohnen? Gehen Sie oft mit Freunden einkaufen und stellen fest, dass Sie viel mehr ausgegeben haben als sonst? Haben Sie sich schon so an den Dispo gewöhnt, dass Sie nicht mehr über die hohen Kreditzinsen nachdenken? Wahrscheinlich schaltet jeder bei vielen Ausgaben irgendwann auf Autopilot, dies ist einfach nur menschlich. Wichtig ist nur, dass Sie sich solcher Budgetteufel bewusst werden und langsam gegensteuern.
                  p Ein guter Weg, die Fehler aus der Vergangenheit hinter sich zu lassen, ist die Auflistung und Bewertung Ihrer Ausgaben für mindestens einen Monat. Erstellen Sie eine Liste mit wirklich allen Ausgaben eines Monats. Nachdem Sie die Liste fertig haben, bewerten Sie jede Ausgabe mit einer Note von eins bis fünf. Eine eins bekommen Ausgaben, welche auch in Ihrer Höhe absolut notwendig und wichtig für Sie sind. Eine fünf bekommen Ausgaben, welche absolut unnötig sind. Diese Ausgabenliste wird sehr wahrscheinlich schon einige Überraschungen zu Tage bringen.

                  h4.sf-styled-h4(number='2') Geben Sie weniger aus, indem Sie unnötige Ausgaben reduzieren.
                  p Nachdem Sie analysiert haben, was die Schulden verursacht hat, können Sie beginnen, Ihre Ausgaben zu reduzieren und Schulden abzubauen. Nehmen Sie dazu die Ausgabenliste und starten Sie mit den Ausgaben, welche Sie mit der Note fünf bewertet haben. Stoppen Sie gnadenlos all diese Ausgaben, kündigen Sie wenn notwendig Verträge und Abonnements. Wundern Sie sich nicht, wenn Sie sich bei der Umsetzung fragen, warum Sie eigentlich drei Auslandskrankenversicherungen, zwei Handyverträge und vier schon seit Monaten nicht mehr genutzte Online-Abos haben - oft sammelt sich über die Zeit so einiges an. Wenn Sie damit fertig sind, sollten Sie sich belohnen: Sie haben praktisch aus dem Nichts mehr Geld für sich geschaffen.
                  p Gehen Sie nach und nach auch die Ausgaben mit Note vier und drei an und überlegen Sie, ob und wie Sie sich auch diese Ausgaben sparen können. Überstürzen Sie aber nichts, Sie sind auf dem richtigen Weg und können sich hin und wieder auch mal etwas gönnen.
                  p Falls Sie mit der Ausgabensenkung sehr eilig haben ist vielleicht auch eine "Cash-Diät" etwas für Sie: Dazu schauen Sie als erstes, wie viel Sie normalerweise pro Woche für Einkäufe usw. ausgeben. Die Ausgabenliste kann Ihnen dabei helfen. Dananch multiplizieren Sie diese Zahl mit 0,8, um den Wert für 80 % Ihrer üblichen wöchentlich Ausgaben zu erhalten. Nun gehen Sie jede Woche zum Geldautomaten, heben genau diesen Betrag ab, und zahlen von nun an nur noch bar. Wenn das wöchentliche Budget zur Neige geht, setzen Sie sich das Ziel, nicht mehr auszugeben, sondern auf die neue Woche zu warten. Dieses vielleicht unkonventionelle Vorgehen hat laut Studien zwei Vorteile: Das beschränkte Budget führt dazu, dass Sie Ihre Ausgaben automatisch besser planen und budgetieren. Außerdem führen die Barzahlungen dazu, das Sie über jede einzelne Ausgaben etwas genauer nachdenken, da eine Karte immer etwas leichter über den Ladentisch gereicht wird als Bargeld. Nachdem Sie die "Cash-Diät" für einige Wochen umgesetzt haben, werden Sie feststellen, dass Sie Ihr wöchentliches Budget auch gut und gerne noch weiter senken könnten. Das ist aber in den meisten Fällen überhaupt nicht mehr notwendig.

                  h4.sf-styled-h4(number='3') Machen Sie eine Liste, um Ihre "schlechten" Schulden zu identifizieren
                  p Das Wichtigste haben Sie schon geschafft: Die Kürzung der Ausgaben gibt finanziellen Spielraum für den Abbau der Schulden. Nun geht es darum, herauszufinden, welchen Schulden Sie als erstes an den Kragen gehen sollten. Höchste Priorität sollten Schulden und Kredite haben, für welche Sie hohe Zinsen zahlen und welche Ihnen kaum Benefits für die Zukunft bringen.
                    | Die üblichen Verdächtigen hier sind Überziehungszinsen, Kreditkartenschulden, Konsumentenkredite oder auch Autokredite. Am besten Sie erstellen direkt eine Schuldenliste, um einen Gesamtüberblick zu bekommen. Die Schuldenliste sollte alle Kredite und sonstige Schulden benennen und diese zusammen mit Höhe und Zinssatz ausweisen. Notieren Sie in der Liste auch, ob Sie die Schulden sofort zurückzahlen können oder ob Fristen eingehalten werden müssen. Wenn Sie sich nicht sicher sind: Schauen Sie Online nach oder greifen Sie zum Telefonhörer und rufen Sie die Bank an, um Zinskonditionen und Rückzahlungsbedingungen zu erfahren.
                  p Atmen Sie tief durch, falls Ihnen die Liste lang und die Beträge hoch erscheinen: Die Schulden basieren auf Fehlern in der Vergangenheit, welche Sie in Zukunft nicht mehr machen werden. Insbesondere die schlechten Schulden werden nun nach und nach zurückgezahlt.

                  h4.sf-styled-h4(number='4') Rechnen Sie aus, wie viel Sie pro Monat zurückzahlen können

                  p Für Ihren persönlichen Anlageprozess sollten Sie immer die 3 Schritte Information, Planung und Ausführung in dieser Reihenfolge befolgen. Nicht wenige zäumen jedoch das Pferd von hinten auf und unterschreiben zum Beispiel einen
                    | Bausparvertrag, ohne sich Gedanken über alternative Anlageprodukte, Anlageziele und die eigene Risikobereitschaft zu machen. Nicht selten endet das im Frust über den langfristigen Vertrag, weil plötzlich Finanzierungsbedarf
                    | für eine größere Ausgabe besteht, welche nun mit einem teuren Kredit finanziert werden muss.
                  blockquote
                    p Sparen Sie für die Rente oder die Ausbildung der Kinder? Befassen Sie sich immer erst mit Ihren Anlagezielen, bevor Sie langfristige Verträge unterschreiben oder Aktien kaufen. Damit ersparen Sie sich möglichen Ärger in der Zukunft.
                  div.entry-image.alignright
                    img(src='/assets/img/geld_anlegen/blog_haeufigeFehlerGeldanlage_01.jpg', alt='Fehler bei der Geldanlage')
                    p.sf-image-source iStock.com / numnimnet
                  p Damit Sie keine Überraschungen erleben, sollten Sie sich zunächst über Geldanlage informieren und sich mit Ihren Anlagezielen befassen. Wollen Sie zum Beispiel über einen langen Zeitraum für die Rente vorsorgen oder sparen, um in wenigen Jahren das Studium Ihrer Kinder zu finanzieren? Verfügen Sie bereits über Ersparnisse, mit welchen Sie notfalls kurzfristig auch unerwartete größere Ausgaben bis zu einem gewissen Grad finanzieren können
                    | oder müssen Sie sich ein Polster an 'Notgroschen' erst ansparen? All diese Dinge sollten Sie berücksichtigen, bevor Sie Aktien kaufen oder langfristige Verträge abschließen.
                  p
                    strong Im Artikel
                      a(href='/geldanlage/wie-lege-ich-geld-an')  Wie lege ich Geld an
                      |  können Sie sich über Details zur Geldanlage informieren.

                  p Nachdem Sie Ihre Ziele kennen, ist es an der Zeit, sich mit den verschiedenen Produkten auseinanderzusetzen. FinIQ empfiehlt, sich zum Einstieg mit Tagesgeld, Festgeld und ETFs auf Aktienindizes etwas genauer zu beschäftigen. Damit haben Sie bereits ein breites Spektrum an sicheren und risikoreicheren Anlagen abgedeckt. Bedenken Sie bei den Produkten immer, dass es entgegen eventuell anderslautenden Behauptungen leider auch bei der Geldanlage nichts umsonst gibt. Je mehr Risiken Sie mit Anlagen wie ETFs auf Aktienindizes eingehen, desto mehr Rendite werden Sie im langfristigen Durchschnitt auch erzielen. Legen Sie dagegen mit sehr wenig Risiko an, werden Sie auch kaum Rendite erzielen.
                  p
                    strong Sie können sich
                      a(href='/geldanlage/assetallokation#product-info')  hier
                      |  über die wichtigsten Anlageprodukte informieren.

                  h4.sf-styled-h4(number='2') Emotionsgetriebene Entscheidungen
                  p Vorschnelle und emotionsgetriebene Entscheidungen führen selten zu guten Ergebnissen, dies gilt für Finanzentscheidungen ganz besonders. Schauen Sie sich bei solchen Entscheidungen unbedingt
                    | immer auch die Zahlen an. Es ist besser, für eine anstehende Entscheidung mehr Informationen zu sammeln und einige Nächte darüber zu schlafen, als sie in einigen Jahren zu bereuen. Natürlich spielt das
                    | Bauchgefühl bei Entscheidungen oftmals eine Rolle, es wäre aber fatal, sich alleine auf den Bauch zu verlassen.
                  p Verlassen Sie sich auch nicht alleine auf die Ratschläge von Freunden, Bekannten oder Beratern. Was als gut gemeinter Ratschlag gemeint war und für Freunde und Bekannte gut war, muss für Sie noch nicht per se das Richtige sein. Setzen Sie sich
                    | bei jeder Anlageentscheidung zunächst mit den Risiken und Renditemöglichkeiten sowie der Anlagedauer des Produkts auseinander. Falls Sie etwas nicht verstehen, entscheiden Sie sich für "Keep it simple" und investieren in Tagesgeld, Festgeld und/oder ETFs auf große Aktienindizes.
                  p
                    strong Vielleicht ist der Artikel
                      a(href='/geldanlage/was-sind-etfs')  Was sind ETFs?
                      |  auch für Sie interessant.

                  h4.sf-styled-h4(number='3') Mangelnde Geduld
                  p Egal ob Sie viel oder wenig Geld anlegen: Um eine gute Rendite zu erzielen, sollten Sie zu Ihren langfristigen Anlageplänen stehen. Ständige Anpassungen Ihres Portfolios
                    | verursachen meist nichts als Transaktionskosten, welche sich deutlich in der erzielbaren Rendite bemerkbar machen. Gerade Privatanleger tendieren oft dazu, bei Kursverfällen am Aktienmarkt
                    | schnell zu verkaufen, nur um später in besseren Zeiten wieder teuer einzukaufen. Dabei zeigt zum Beispiel das Renditedreieck des deutschen Aktieninstituts, dass man mit einer Anlage in den deutschen Aktienindex von mindestens 15 Jahren Laufzeit zu keiner Zeit in den vergangenen 50 Jahren eine negative Rendite erzielt hätte, egal in welchem Jahr man eingestiegen wäre. Behalten Sie also Geduld, Ihre Aktien werden es Ihnen danken.
                  blockquote
                    p Mit einer Anlage in den deutschen Aktienindex von mindestens 15 Jahren Laufzeit hätte man in den vergangenen 50 Jahren, unabhängig vom Einstiegsjahr, immer eine positive Rendite erzielt.
                  p Vermeiden Sie auch den Irrtum, Aktien zu kaufen, nur weil sie in letzter Zeit stark gestiegen sind. In nicht wenigen Fällen sind die Aktien dann schon teuer und fallen womöglich bald wieder. Schauen Sie sich besser Rendite und Risiko der Aktie über einen langjährigen Zeitraum an.


                  h4.sf-styled-h4(number='4') Geringe Diversifikation
                  p Manche Anleger setzen alles auf ein Pferd und sind später sehr enttäuscht, wenn das Pferd das Rennen nicht gewinnt. Besser beraten sind Sie mit einer Anlage, welche über
                    | Tagesgeld, Festgeld und Aktien gemäß Ihrer Risikobereitschaft diversifiziert. Auch innerhalb der Kategorie Aktien ist es praktisch immer besser, über verschiedene Aktien
                    | zum Beispiel mit einem ETF zu diversifizieren, statt auf die Aktien einzelner Unternehmen zu setzen.
                  p
                    strong Das
                      a(href='/geldanlage/assetallokation')  FinIQ Tool zur Assetallokation
                      |  hilft Ihnen, eine gute Mischung aus verschiedenen Anlagen für Ihre Geldanlage zu finden.
                  p Wenn Sie die gröbsten Fehler vermeiden und Ihre Augen offen halten, werden Sie langfristig deutlich mehr von Ihrem Geld haben.
                  p
                    strong Mehr zur Geldanlage finden Sie im FinIQ
                      a(href='/geldanlage')  Einmaleins der privaten Geldanlage.



                  div.divider.notopmargin.mbottommargin






          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/geldanlage/fehler-bei-der-geldanlage', title: 'Vier häufige Fehler bei der Geldanlage', description: 'Für eine erfolgreiche Anlagestrategie sollten Sie wissen, was man tun und was man besser lassen sollte. Wir erläutern Ihnen vier der häufigsten Fehler.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie entwickeln sich meine Ersparnisse über die Zeit?'], ['/geldanlage/wie-lege-ich-geld-an', 'Wie lege ich Geld an?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
