//
   Created by benjamintanz on 13.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Gute Schulden, Schlechte Schulden, Kredite')
  meta(name='description', content='Welche Schulden sind schlechte Schulden und welche eher nicht? Dieser Artikel soll Ihnen helfen, bei Thema Schulden die Spreu vom Weizen zu trennen.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Gute Schulden und schlechte Schulden

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Blog
                  li.nobottommargin
                    a(href='/kredit') Kredit
                  li.nobottommargin
                    a(href='/kredit/gute-schulden-und-schlechte-schulden') Gute Schulden und schlechte Schulden

                ul.entry-meta.clearfix
                  li
                    i.icon-calendar3
                    | 18.11.2015 &nbsp
                    i.icon-user
                    | FinIQ &nbsp


                div.entry-content.notopmargin
                  div.entry-image.alignright
                    img(src='/assets/img/kredit/blog_guteSchuldenSchlechteSchulden_01.jpg', alt='Gute Schulden und schlechte Schulden')
                    p.sf-image-source iStock.com / RaStudio
                  p Selten kommen gute Gefühle auf, wenn das Wort Schulden fällt. Dabei sind Schulden in Deutschland sehr weit verbreitet und wenn Sie Schulden haben sollten, dann sind Sie alles andere als alleine. Laut Daten von Creditreform gab es Anfang 2015 6,72 Mio. überschuldete Deutsche, welche laut statistischem Bundesamt im Durchschnitt etwa 34.000 € Schulden hatten. Nun liegt es Nahe, alle Schulden als "schlechte Schulden" anzusehen und diese so schnell wie möglich loszuwerden oder gar nicht erst aufzubauen. Dies macht zwar meist, aber bei weitem nicht immer, Sinn, da es auch Kategorien von Schulden gibt, welche sich positiv auf Ihre Zukunft auswirken und daher sinnvoll sein können. Aber welche Schulden sind nun schlechte Schulden und welche nicht? Dieser Artikel soll Ihnen helfen, bei Thema Schulden die Spreu vom Weizen zu trennen.
                  h4.sf-plain-h4 Gute Schulden helfen Ihnen, in Zukunft mehr Einkommen oder geringere Kosten zu haben
                  p Gute Schulden sind ein Mittel zum Zweck: Sie nehmen heute einen Kredit auf, um in der Zukunft ein höheres Einkommen oder geringere Kosten zu haben. Sie investieren mit solchen Schulden also in Ihre Zukunft. Beispiele für gute Schulden sind Studien- und Ausbildungsfinanzierungen oder auch Immobilienkredite.
                   p Wenn Sie einen Kredit für ein Studium oder eine Ausbildung aufnehmen, dann haben Sie zwar zunächst mal Schulden, verbessern aber auch Ihre Karrierechancen und Ihr Einkommenspotenzial in der Zukunft. Ein Kredit kann sogar ein guter Ersatz für den Nebenjob während des Studiums sein, sofern Sie durch Verzicht auf den Nebenjob das Studium schneller beenden und so auch früher mehr Geld verdienen können. Auf die gesamte Lebenszeit betrachtet sind Studien- und Ausbildungsfinanzierungen meist sehr zu empfehlen und gehören daher zu den guten Schulden. Auch Immobilienfinanzierungen können langfristig gute Schulden sein, da Sie zwar für den Immobilienkauf einen Kredit aufnehmen müssen, in Zukunft aber auch Miete sparen und zum Eigentümer einer Immobilie werden. Mit dem
                    a(href='/hauskauf/mieten-oder-kaufen')  FinIQ-Kaufen-oder-Mieten-Rechner
                    |  können Sie ausprobieren, ob sich der Kauf eines bestimmten Hauses oder einer Wohnung für Sie lohnt oder ob Sie besser zur Miete leben.
                  p Gute Schulden erlauben Ihnen also, mehr zu verdienen oder Ihre Kosten zu senken, um den aufgenommenen Kredit in Zukunft auch besser zurückzahlen zu können. Außerdem sind die Zinsen für Kredite auf Investitionen wie eine Ausbildung oder auch Immobilien meist auch niedriger als Zinsen für andere Kredite.
                div.entry-image
                  img(src='/assets/img/kredit/blog_guteSchuldenSchlechteSchulden_02.png', alt='Übersicht gute Schulden und schlechte Schulden')
                div.entry-content.notopmargin
                  h4.sf-plain-h4 Schlechte Schulden sind keine Investition in die Zukunft
                  p Im Unterschied zu guten Schulden ist die Aufnahme schlechter Schulden keine Investition in Ihre Zukunft, sondern ein Schritt in die Schuldenspirale. Schlechte Schulden sind Kredite für Ausgaben, welche Ihnen in Zukunft weder ein höheres Einkommen noch niedrigere Kosten bescheren. Mehr noch: Schlechte Schulden sind meist mit hohen Zinsen verbunden und sorgen daher für noch deutlich höhere Kosten. Grundsätzlich kann man zu solchen Schulden alle primär für die Finanzierung von Konsum aufgenommenen Kredite zählen. Dazu gehören verzinste Kreditkarten, Überziehungszinsen, Autokredite und bestimmte Ratenkredite.
                  blockquote
                    p Als Daumenregel kann man festhalten, dass Kreditzinsen von über 5 % p. a. ein Anzeichen von schlechten Schulden sind.
                  p Beim Autokredit für Neuwagen besteht zum Beispiel das Risiko, dass Überschuldung theoretisch direkt nach verlassen des Autohändlers eintritt. Finanzieren Sie zum Beispiel einen Neuwagen für 40.000 € mit einem Kredit über 30.000 € und der Neuwagen verliert 40 % seines Werts (laut Statistiken eine realistische Größe für Neuwagen), nachdem er vom Hof des Händlers fährt, dann ist der Wagen nach kurzer Zeit nur noch 24.000 € wert. Diesem Wert steht nun ein Kredit von 30.000 € gegenüber, was - wenn man allein diesen Kauf betrachtet - einer Überschuldung von 6.000 € entspricht. Natürlich sind Autokredite nicht immer ein derart schlechtes Geschäft wie in diesem Beispiel, man sollte aber bei solchen Finanzierungen die Augen offen halten und im Zweifel genauer nachrechnen.
                  p Aufgrund der meist extrem hohen Zinsen sind Überziehungs- oder Dispokredite ein weiteres Beispiel für schlechte Schulden. Banken verlangen durchschnittlich zwischen 8 % und 15 % Zinsen für Kontoüberziehungen. Zum Beispiel zahlen Sie bei einem Dispozins von 15 % über ein Jahr ganze 750 € an Zinsen, wenn Sie durchschnittlich mir 5.000 € im Dispo sind. Diese Zinszahlung entspricht der jährlichen Zinszahlung für einen herkömmlichen Kredit in Höhe von 25.000 € zu einem Zinssatz von 3 %. Der Abbau von Dispokrediten ist einer der wichtigsten Schritte hin zu guten persönlichen Finanzen. Auch wenn es mit Sicherheit nicht einfach ist: Es lohnt sich praktisch immer, hohe Kontoüberziehungen nach und nach abzubauen. Der Königsweg dazu ist, jeden Monat etwas weniger auszugeben, um den Kredit langsam abzubauen. Alternativ kann man auch temporär über eine Umschuldung nachdenken. Meist ist ein Konsumentenkredit zinsgünstiger und daher das geringere Übel.
                  h4.sf-plain-h4 Achten Sie auf ihr Schuldenprofil
                  p Wie dieser Artikel zeigt können Schulden auch guten Zwecken dienen und die Aufnahme eines ein Kredits kann eine sinnvolle Maßnahme für Ihre finanzielle Zukunft sein. Doch Kredit ist nicht gleich Kredit, da das investierte Geld aus dem Kredit Ihnen - je nach Verwendung - mehr oder weniger Einkommen oder Kosten in der Zukunft bringt. Achten Sie also auf Ihr Kredit- und Schuldenprofil, und versuchen Sie jederzeit, schlechte Schulden abzubauen oder gar nicht erst aufzunehmen. Diese Erkenntnis wird Ihnen helfen, in Zukunft weniger oder zumindest bessere Schulden zu haben.




                  p Artikel zur Geldanlage finden Sie im FinIQ
                    a(href='/geldanlage')  Einmaleins der privaten Geldanlage.
                  div.divider.notopmargin.mbottommargin



          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/kredite/gute-schulden-und-schlechte-schulden', title: 'Gute Schulden und schlechte Schulden', description: 'Welche Schulden sind schlechte Schulden und welche eher nicht? Dieser Artikel soll Ihnen helfen, bei Thema Schulden die Spreu vom Weizen zu trennen.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie entwickeln sich meine Ersparnisse über die Zeit?'], ['/hauskauf/mieten-oder-kaufen', 'Ist mieten besser als kaufen?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
