//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Persönliche Finanzen, Finanzplanung, Private Finanzplanung,  Hauskauf, Immobilienkauf, Geldanlage, ETF, Aktien, Depot, Baufinanzierung, Immobilienfinanzierung')
  meta(name='description', content='Wir bauen auf Software und Daten, um komplizierte Finanzfragen zu vereinfachen, damit Sie bessere Entscheidungen treffen können.')

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    section#content
      div.content-wrap.nopadding

        div.section.parallax(style='background: url("/assets/img/other/about_finiq_01j.jpg") center center; background-size:cover; padding: 450px 0; margin-top: 0;', data-stellar-background-ratio="0.8", data-stellar-vertical-offset="110")
          div.about-headingcontainer
            div.container.clearfix
              //div.col_three_fifth.nobottommargin
              div.emphasis-title.center
                h2 Bessere Entscheidungen durch Technologie
                p.lead.xstopmargin FinIQ baut auf Software und Daten, um komplizierte Finanzfragen zu vereinfachen, damit Sie bessere Entscheidungen treffen können.



        div.container.clearfix
          div.row
            h3.center FinIQ hat sich das Ziel gesetzt, unabhängige Tools und Rechner als Entscheidungsunterstützung für die wichtigsten Fragen zu persönlichen Finanzen bereitzustellen. FinIQ ist Open Source und wird unterstützt von der SimplyFi Analytics UG.


          div.divider.divider-center.xxstopmargin
            i.icon-circle

          div.row
            h3.center Kontakt
            div.col-md-6.bottommargin
              h5.nobottommargin E-Mail Allgemein
              a(href='mailto:info@finiq.de') info@finiq.de

            div.col-md-6.bottommargin
              h5.nobottommargin E-Mail Anfragen Blog
              a(href='mailto:blog@finiq.de') blog@finiq.de

          div.divider.divider-center


    include ../_includes/footer
