//
   Created by benjamintanz on 13.10.15.

extends ../layout
block content
  div#wrapper.clearfix
    include ../_includes/navheader

    //-page-content
    section#content(ng-controller='artablaufhauskaufController')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Wie läuft der Hauskauf ab?

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Home
                  li.nobottommargin
                    a(href='/hauskauf') Hauskauf
                  li.nobottommargin
                    a(href='/hauskauf/wie-laeuft-der-hauskauf-ab') Wie läuft der Hauskauf ab?


                div.entry-content.mtopmargin
                  p Der Hauskauf ist vielmals eine der wichtigsten persönlichen und finanziellen Entscheidungen und will nicht nur deshalb gut geplant und ausgeführt sein. Damit Sie bestens planen und unabhängig entscheiden können haben wir den Ablauf des Hauskaufs in Etappen zerlegt. So bekommen Sie einen Überlick und können sich gezielt über jeden Schritt von Bestimmung des Budgets bis hin zur Übergabe informieren.

                  div.divider.notopmargin.mbottommargin
                  //-process step graph
                  div#processTabs
                    ul.process-steps.process-3.bottommargin.clearfix
                      li
                        a.i-circled.i-bordered.i-alt.divcenter(href='#ptab1') 1
                        h5 Haus finden
                      li
                        a.i-circled.i-bordered.i-alt.divcenter(href='#ptab2') 2
                        h5 Finanzierung planen
                      li
                        a.i-circled.i-bordered.i-alt.divcenter(href='#ptab3') 3
                        h5 Haus kaufen

                    div
                      div#ptab1
                        h4 Die erste Etappe: Das perfekte Haus für Sie finden
                        p Auch wenn diese Entscheidung meist sehr individuell ist und von vielen Faktoren abhängt: es gibt ein paar Vorgehensweisen, welche Ihnen die Entscheidung erleichtern und Zeit sparen können. Finden Sie im ersten Schritt heraus, wie viel Sie für das Haus ausgeben können und wollen. Im zweiten Schritt finden Sie die richtige Lage für Ihre Haus. Ihre Anforderungen an Größe und Lage der Immobilie analysieren Sie im dritten Schritt. Nun haben Sie es fast geschafft und können gezielt nach zu Ihnen passenden Objekten suchen: im vierten Schritt suchen und besichtigen Sie passende Immobilien.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 1: Wie hoch darf der Kaufpreis sein?
                        p Dies ist die erste Frage, welche Sie beantworten sollten. Der Preis ist eines der wichtigsten Kriterien beim Hauskauf und die Suche nach Häusern, welche außerhalb Ihres Budgets liegen, ist nichts als vertane Zeit. Um langfristig von der eigenen Immobilie profitieren zu können sollten Sie Ihr Budget kennen und finanzielle Engpässe abfedern können. Daher sollten Sie herausfinden, wieviel Eigenkapital Sie für den Hauskauf zur Verfügung haben und wie viel Ihres monatliches Budgets Sie für den Hauskauf verwenden können und wollen. Grundsätzlich sollten mindestens 25 bis 30 Prozent Eigenkapital zur Verfügung stehen, Sie sollten allerdings nicht Ihre gesamten Ersparnisse in das Haus stecken, um temporäre Engpässe abfedern zu könnnen.
                        p Der
                          a(href='/hauskauf/wie-hoch-darf-der-hauspreis-sein')  FinIQ-Hauspreisrechner
                          |  hilft Ihnen bei der Ermittlung des Ihres Budgets für den Hauskauf.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 2: Die richtige Lage
                        p Bei der Lage entscheiden Experten zwischen der Mikro- und Makrolage. Bei der Makrolage geht es um die Zukunftsfähigkeit und Arbeitsmarktlage der gesamten Region, während es bei der Mikrolage um indivduelle Kriterien innerhalb einer Region geht, wie zum Beispiel die Anbindung an den öffentlichen Nahverkehr. Wenn Sie in Ihrer Region ein Haus kaufen wollen ist für Sie natürlich nur die Entscheidung für die richtige Mikrolage relevant.
                        p Erfahren Sie mehr zu interessanten Makrolagen in Deutschland im FinIQ-Artikel
                          a(href='/hauskauf/deutschlands-attraktivste-arbeitsmaerkte')  Deutschlands attraktivste Arbeitsmärkte.
                        p Die folgende Checkliste enthält Kriterien, auf welche Sie bei der Entscheidung für eine gute Mikrolage achten sollten. Beachten Sie, dass es die perfekte Lage nicht gibt. Jede Entscheidung ist letztlich eine Abwägung verschiedener Kriterien.
                        ul.ul-post
                          li City-Nähe: Auf dem Land sind die Preise niedriger, allerdings haben Sie auch höhere Fahrtkosten und pendeln kostet Zeit.
                          li Landschaft: Mögen Sie die Berge, Flachland, die Nähe zum Meer oder fühlen Sie sich in der Stadt am wohlsten?
                          li Verkehrsanbindung: Wie wichtig ist Ihnen die Nähe zu Haltestellen, Bahnhöfen und Flughäfen?
                          li Kinder: Haben oder planen Sie Kinder? Dann achten Sie auf Nähe zu Kindergärten und Schulen und Infrastruktur für Kinder wie Spiel- und Sportplätze.
                          li Sonstige Infrastruktur: Gibt es ein gutes Angebot an Ärzten, Geschäften, Freizeiteinrichtungen, Sportstätten und Einkaufsmöglichkeiten?

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 3: Größe und Ausstattung
                        p Dies ist praktisch immer der aufwändigste Teil der Suche. Gut beraten ist, wer schon vor der konkreten Suche Klarheit über seine Wünsche und Bedürfnisse schafft, um nicht passende Objekte gleich ausschließen zu können. Die folgende Checkliste enthält die wichtigsten Kriterien:
                        ul.ul-post
                          li Größe: Wie groß ist Ihr Platzbedarf heute und in der Zukunft? Denken Sie dabei auch an Kinder. Als Faustregel für eine komfortable minimale Wohnfläche können sie die Regel 50 Quadratmeter plus Anzahl der Personen mal 20 Quadratmeter nutzen. Für drei Personen sollte die Wohnfläche also nicht kleiner sein als 110 Quadratmeter, für vier Personen entsprechend 130 Qadratmeter.
                          li Stil: Wünschen Sie einen bestimmten Baustil?
                          li Fläche: Wie viel Abstand möchten Sie von den Nachbarn? Soll das Haus freistehen oder wünschen Sie ein Reihen- oder Doppelhaus? Letztere haben Vorteile beim Energieverbrauch.
                          li Materialqualität: Gutes Material senkt die Instandhaltungskosten, schlägt sich allerdings in aller Regel auch im Kaufpreis nieder. Insbesondere wenn Sie eine lange Zeit im Haus leben möchten sollten Sie hier auf Qualität achten.
                          li Besondere Ausstattungen: Überlegen Sie, wie wichtig Ihnen Ausstattungen wie Balkon, eine große Terasse oder ein Kamin sind.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 4: Suchen und Besichtigen
                        p Geschafft! Sie kennen nun Ihr Budget und Ihre Anforderungen an Preis, Lage, Größe und Ausstattung und können sich gezielt auf die Suche machen. Damit sind Sie den meisten anderen Hauskäufern schon einige Schritte voraus. Aktuelle Angebote finden Sie auf Immobilienportalen wie Immonet.de oder Immobilienscout24.de
                        p Steht ein Besichtigungstermin an und Sie wollen gut vorbereitet sein? Nehmen Sie die
                          a(href='/hauskauf/checkliste-hauskauf')  FinIQ-Checklist Hauskauf
                          |  mit zum Termin.

                        div.divider.stopmargin.mbottommargin

                        a.button.button-3d.button-mini.nomargin.fright.tab-linker(href="#", rel='2') Zur nächsten Etappe

                      div#ptab2
                        h4 Die zweite Etappe: Planung der Finanzierung
                        p Die richtige Finanzierung ist praktisch genauso wichtig die Auswahl der Immobilie selbst. Wer unbedacht die nächstbeste Finanzierungsmöglichkeit wählt, läuft Gefahr, dies Jahre später zu bereuen. Ausserdem können schlechte Finanzierungskonditionen einen guten Hauskauf zu einer miserablen Investition werden lassen. Nur wenn Sie gut informiert sind können Sie einschätzen, ob die Beratung durch Bankmitarbeiter oder Vermittler auch objektiv und in Ihrem Interesse ist. Erfahrungsgemäß ist leider nicht auszuschließen, dass Berater Ihnen Produkte des eigenen Unternehmens verkaufen, welche nicht selten den Vergleich mit Konkurrenzprodukten nicht standhalten. Gerade aufgrund der Größe der Investition können Sie hier also bares Geld sparen. Um Ihnen eine effiziente Planung und informierte Entscheidung zu ermöglichen, haben wir die wichtigsten Schritte und Faktoren bei der Finanzierungswahl für Sie zusammengefasst.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 1: Finanzierungsbedarf und -vorgaben ermitteln
                        p Ein Finanzierungsvergleich ist nur dann sinnvoll, wenn Sie bereits Vorgaben wie den Finanzierungsbedarf kennen. Daher ist der erste Schritt, diese Vorgaben zu bestimmen. Grundsätzlich ist die Ermittlung des Finanzierungsbedarfs einfach: Um den Bedarf zu bestimmen ziehen Sie Ihr für den Immobilienkauf verfügbares Eigenkapital von den gesamten Kosten des Immobilienkaufs ab. Als Eigenkapital können Sie Ihre aktuell verfügbaren Ersparnisse sowie Wertpapiere und Fondsanteile nutzen, sofern diese nicht langfristig gebunden sind. Grundsätzlich ist es sinnvoll, möglichst viel Eigenkapital für den Hauskauf einzusetzen, da damit natürlich der notwendige Finanzierungsbedarf sinkt. Allerdings sollten Sie andererseits auch noch einen Anteil der Ersparnisse verfügbar haben, um größere Ausgaben wie etwa den Kauf oder die Reparatur eines Autos finanzieren zu können. Bei den gesamten Kosten des Hauskaufs sollten Sie beachten, dass auch Grunderwerbssteuer, Makler und Notar finanziert werden wollen. Daher übersteigen die gesamten Kosten des Hauskaufs den eigentlichen Preis der Immobilie um etwa 10 %, sofern keine weiteren Investitionen für Reparaturen und Modernisierungen anfallen.
                        p Der
                          a(href='/hauskauf/wie-hoch-darf-der-hauspreis-sein')  FinIQ-Hauspreisrechner
                          |  hilft Ihnen dabei, den Finanzierungsbedarf zu ermitteln und festzustellen, wie hoch der Preis einer Immobilie sein darf, damit er für Sie gut finanzierbar ist. Der Rechner ermittelt die zu erwartenden gesamten Kosten des Hauskaufs auf Grundlage des Kaufpreises und den Finanzierungsbedarf auf Basis Ihrer Angaben zum Eigenkapital. Sie können den Finanzierungsbedarf dem Feld "Darlehensbetrag" entnehmen.
                        p Neben dem Eigenkapital und Finanzierungsbedarf (Darlehensbetrag) sollten Sie sich noch überlegen, in welchem Zeitraum Sie das Darlehen vollständig zurückzahlen wollen (daraus ergibt sich die monatliche Rate) und ob Sie ggf. Sondertilgungen in Anspruch nehmen wollen.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 2: Produktkategorie auswählen
                        p Nun ist es an der Zeit, sich einen Überblick über die verfügbaren Produkte zu machen. Um mit den Anbietern zu beginnen: In Deutschland dürfen Banken (inklusive Direktbanken und Sparkassen sowie Förderbanken), Bausparkassen und Lebensversicherungen Immobilienfinanzierungen anbieten. Sofern Sie zeitnah ein Haus kaufen wollen und nicht bereits seit einigen Jahren in einen Bausparvertrag einzahlen kommt die Finanzierung durch eine Bausparkasse grundsätzlich nicht in Frage, da die Ansparphase erforderlich ist. Finanzierungen durch Lebensversicherungen sind grundsätzlich an eine solche Versicherung geknüpft und endfällig, weshalb diese Produkte eher Nischenprodukte sind. Bleiben also die Banken oder die Vermittler der Banken, welche in der überwiegenden Anzahl der Fälle der richtige Ansprechpartner sind. Das Standardprodukt der Banken für die Immobilienfinanzierung wiederum ist das Annuitätendarlehen mit Festzinsbindung. Bei diesem Darlehen zahlen Sie monatlich den gleichen Betrag für Zins und Tilgung zurück. Der Zinssatz ist über die Laufzeit der Zinsbindung festgesetzt. Die Laufzeit der Zinsbindung kann, muss aber nicht, der Laufzeit des Darlehens entsprechen. Weitere Finanzierungsformen sind das Ratendarlehen und das endfällige Darlehen. Beim Ratendarlehen nehmen die Rückzahlungen über die Laufzeit ab, während beim endfälligen Darlehen die Rückzahlung nur am Ende der Laufzeit erfolgt.
                        p Zusammengefasst sind in der meisten Fällen Annuitätendarlehen der Banken die passende Produktkategorie für die Immobilienfinanzierung.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 3: Angebote vergleichen
                        p Wenn Sie sich nun noch die Zeit nehmen, verschiedene Anbieter für die für Sie erforderliche Finanzierung zu vergleichen, können Sie viel Geld sparen. Es zahlt sich fast immer aus, mindestens drei Anbieter zu kontaktieren und Konditionen zu vergleichen. Zum Beispiel könnten Sie Ihre Hausbank, eine Online-Direktbank und einen Online-Finanzmakler für ein Angebot kontaktieren. Zum Vergleich der Angebote sollten Sie nicht den Zins an sich verwenden, sondern den Effektivzins. Dieser ist nach der Preisangabenverordnung (PAngV) standardisiert und erlaubt ein ökonomisch objektiven Vergleich der Angebote. Grundsätzlich gilt: Je niedriger der Effektivzins, desto besser das Angebot. Achten Sie jedoch auch darauf, ob die anderen Rahmenbedingungen der Finanzierung für Sie in Ordnung sind.

                        div.divider.stopmargin.mbottommargin
                          i.icon-circle

                        h5.xsbottommargin Schritt 4: Finanzierung abschliessen
                        p Zeit zum auf die Schulter klopfen: wahrscheinlich haben Sie durch den Vergleich der Anbieter für die Zukunft eine Menge Geld gespart! Nun geht es darum, die Finanzierung mit dem attraktivsten Finanzierungspartner abzuschließen. Dazu wird der Finanzierungspartner Sie um diverse Dokumente bitten, welche er auch aus gesetzlichen Gründen von Ihnen einfordern kann bzw. muss. Dies sind Unterlagen zur Immobilie als auch zu Ihnen als Kreditnehmer. Rechnen Sie damit, dass der Finanzierungspartner Sie um Einkommensnachweise der letzten Monate, Einkommensteuerbescheide, Nachweise zum Eigenkapital und Auskünfte zu bestehenden Krediten bittet. Hinsichtlich der Immobilie sind meist der Kaufvertrag (im Entwurfsstatus) ein aktueller Grundbuchauszug, sowie ein amtlicher Lageplan gefragt.
                        p Nun steht dem Abschluss des Kaufvertrages nichts mehr im Weg. Erfahren Sie in der nächsten Etappe, auf was sie dabei achten sollten.

                        div.divider.stopmargin.mbottommargin


                        a.button.button-3d.button-mini.nomargin.tab-linker(href="#", rel='1') Zur vorherigen Etappe
                        a.button.button-3d.button-mini.nomargin.fright.tab-linker(href="#", rel='3') Zur nächsten Etappe



                      div#ptab3
                        h4 Die dritte Etappe: Kauf der Immobilie
                        p Herzlichen Glückwunsch, nun muss nur noch der Kaufvertrag erstellt, geschlossen und vollzogen werden und das Haus gehört Ihnen! Mit folgenden Schritten kommen Sie zum Ziel: Als erstes muss der Kaufvertrag erstellt werden, bevor er abgeschlossen und notariell beurkundet wird. Im Kaufvertrag verpflichtet sich der Verkäufer auf die Übertragung des Grundstücks/Hauses, während der Käufer sich verpflichtet, den Kaufpreis zu leisten. Die Beurkundung des Vertrages setzt den Vollzugsprozess in Gang, welcher durch den Notar betreut und überwacht wird. Dabei zahlen Sie den Kaufpreis (ggf. auf ein treuhänderisches Konto beim Notar) und der Notar beantragt die Eigentumsumschreibung. In der Regel müssen Sie sich bei diesen Vorgängen um nichts kümmern, da der Notar dies für Sie erledigt. Er wird Sie kontaktieren, sofern er Ihre Unterstützung braucht. Wenn alles glatt geht erhalten Sie nach einiger Zeit die Nachricht, dass Sie als neuer Eigentümer im Grundbuch eingetragen sind. Leider kann dies bis zu drei Monaten dauern, weshalb in der Praxis das neue Haus meist schon nach Zahlung des Kaufpreises bezogen werden kann. Details zu den einzelnen Schritten haben wir in den nächsten Abschnitten für Sie zusammengefasst.

                        h5.xsbottommargin Schritt 1: Kaufvertrag erstellen und beurkunden
                        p Das Wichtigste vorab: Um die Erstellung des Kaufvertrags kümmert sich der Notar. Sie sind natürlich im Vorteil, wenn Sie die wesentlichen Vertragsinhalte kennen, nicht nur um beim Notar gezielte Fragen stellen zu können. Inhaltlich regelt der Vertrag die folgenden Fragen:
                        ul.ul-post
                          li Wer? Die Vertragsparteien, also Sie und der Käufer der Immobilie.
                          li Was? Das Kaufobjekt laut Bezeichnung im Grundbuch sowie der Kaufpreis. Hierfür zieht der Notar die Angaben im Grundbuchblatt heran. Weiterhin werden Gewährleistungsrechte bei Mängeln im Kaufvertrag geregelt.
                          li Wie? Der Eigentumsübergang erfolgt in der Regel Zug um Zug unter Überwachung des Notars, um Sie und den Verkäufer abzusichern. Daher ist im Vertrag meist auch eine sogenannte Auflassung geregelt, nach welcher Sie den Kaufpreis erst zahlen müssen, wenn im Grundbuch eine Auflassungsvormerkung zu Ihren Gunsten eingetragen wurde. Umgekehrt werden Sie auch erst nach Zahlung des Kaufpreises im Grundbuch als Eigentümer eingetragen.
                          li Wann? Schließlich wird im Kaufvertrag auch der Termin geregelt, an welchem die Übergabe der Immobilie stattfinden soll.
                        p.notopmargin Nach der Erstellung muss der Vertrag durch den Notar beurkundet werden. Der Notar wird Ihnen den Vertrag meist zwei Wochen vor dem Beurkundungstermin zur Einsichtnahme zusenden.

                        div.divider.stopmargin.mbottommargin

                        h5.xsbottommargin Schritt 2: Durchführung und Vollzug des Kaufvertrags
                        p Ihre Aufgabe in dieser Stelle ist die Überweisung des Kaufpreises. Davon abgesehen können Sie sich zurücklehen und auf Nachricht vom Notar warten. Dieser wird für Sie einen Antrag auf Eigentumsumschreibung stellen und Sie informieren, sobald Sie als Eigentümer im Grundbuch eingetragen sind. Unabhängig davon kann die Immobilie grundsätzlich schon am vertraglich vereinbarten Termin übergeben werden.
                        p Sobald die Übertragung des Eigentums stattgefunden hat ist Zeit zum feiern: Sie haben den Hauskauf erfolgreich abgeschlossen!

                        div.divider.stopmargin.mbottommargin

                        a.button.button-3d.button-mini.nomargin.tab-linker(href="#", rel='2') Zur vorherigen Etappe





                  div.divider.notopmargin.mbottommargin




          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar(['Mehr von FinIQ', 'links'],['Share'], ['Newsletter'])
          //- </div> ********** END sidebar right **********
    include ../_includes/footer
