//
   Created by benjamintanz on 24.11.15.

extends ../layout

block meta
  meta(name='keywords', content='Lebenshaltungskosten, München, Lebenshaltungskosten München, Lebenshaltungskosten in München, Lebenshaltungskosten Single München, Lebenshaltungskosten Student München')
  meta(name='description', content='München zählt zu den teuersten, aber auch attraktivsten Städten für Studenten und junge Berufstätige in Deutschland. FinIQ hat die aktuellen Lebenshaltungskosten in München analysiert.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Die Lebenshaltungskosten in München

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Blog
                  li.nobottommargin
                    a(href='/hauskauf') Hauskauf
                  li.nobottommargin
                    a(href='/hauskauf/lebenshaltungskosten-muenchen') Die Lebenshaltungskosten in München

                ul.entry-meta.clearfix
                  li
                    i.icon-calendar3
                    | 24.11.2015 &nbsp
                    i.icon-user
                    | FinIQ &nbsp


                div.entry-content.notopmargin
                  div.entry-image.alignright
                    img(src='/assets/img/hauskauf/blog_lebenshaltungMuenchen_02.jpg', alt='Die Lebenshaltungskosten in München')
                    p.sf-image-source iStock.com / Mapics
                  p München zählt zu den teuersten, aber auch attraktivsten Städten für Studenten und junge Berufstätige in Deutschland. Die Universitäten der Stadt schneiden in Rankings immer wieder ausgezeichnet ab und verschiedene Weltkonzerne wie BMW, Siemens oder die Münchner Rückversicherungs AG haben Ihren Sitz in der bayrischen Landeshauptstadt. Außerdem gibt es von Schwabing über die Maxvorstadt bis nach Haidhausen viele trendige Bars und Cafés sowie zünftige Biergärten zu entdecken.
                  p Da die Lebenshaltungskosten in München sehr hoch sind, sollten Sie sich vor der Entscheidung zum Umzug einen Überblick über die zu erwartenden Kosten machen. Damit können Sie auch realistisch Einschätzen, wie hoch zum Beispiel die Mietkosten sein werden und ob Sie sich frühzeitig um einen Job oder Nebenjob kümmern sollten.
                  p Für 2015/2016 hat FinIQ errechnet, dass Studenten mit monatlichen Lebenshaltungskosten zwischen 900 und 2.000 € rechnen müssen, wobei die Untergrenze ein sehr sparsames Studentenleben voraussetzt. Wer nicht auf jeden Euro schauen muss oder will sollte eher mit 1.300 € pro Monat rechnen. Junge Berufstätige sollten in München mit monatlichen Lebenshaltungskosten zwischen 1.300 und 3.000 € rechnen, je nach Wohnung und Kosten für Hobbies und Freizeit. Wie sich diese Zahlen zusammensetzen erläutern wir Ihnen in den folgenden Absätzen.
                div.entry-image
                  img(src='/assets/img/hauskauf/blog_lebenshaltungMuenchen_01.jpg', alt='Details zu den Lebenshaltungskosten in München')
                div.entry-content.notopmargin
                  h4.sf-plain-h4 Mietkosten
                  p Wie zu erwarten bilden die Mietkosten den größten Kostenblock. Ein Zimmer in einer Wohngemeinschaft ist in München ab 500 € im Monat zu haben. Für Ein-Zimmer-Wohnungen und kleine Appartements zahlt man, je nach Lage und Ausstattung, zwischen 750 und 1.400 € Gesamtmiete im Monat. Es kann sich lohnen, etwas mehr Zeit in die Wohnungssuche zu stecken. Auch auf dem Münchner Wohnungsmarkt kann man ab und an ein Schnäppchen machen, auch wenn die Preise über die vergangenen Jahre stark gestiegen sind.
                  p Eventuell kann es auch sinnvoll sein, direkt eine Wohnung in München zu kaufen und sich damit die Mietausgaben zu sparen. Sie können mit dem
                    a(href='/hauskauf/mieten-oder-kaufen')  FinIQ-Kaufen-oder-Mieten-Rechner
                    |   ausprobieren, ob sich der Kauf einer Wohnung für Sie lohnt.

                  h4.sf-plain-h4 Lebensmittel
                  p Die Kosten für Lebensmittel in München unterscheiden sich kaum von anderen deutschen Großstädten, allerdings liegen die Preise von Gaststätten und Restaurants über dem Durchschnitt. Wer sparsam ist und hauptsächlich beim Discounter einkauft kommt mit 200 € über die Runden. Die Lebensmittelkosten können aber auch gut und gerne auf 500 - 600 € steigen, insbesondere wenn man - wie viele junge Berufstätige - oft in Kantinen und Restaurants essen geht.

                  h4.sf-plain-h4 Nahverkehr und Transport
                  p Überraschend günstig sind die Tarife des Münchner Verkehrs- und Tarifverbunds für den Nahverkehr. Studenten können mit der IsarCard unbegrenzt im Verbund reisen und zahlen dafür etwa 25 € im Monat. Junge Berufstätige zahlen ohne Studentenrabatt etwa 50 € pro Monat. Falls Sie pendeln und zum Beispiel an Wochenenden längere Strecken zurücklegen, sollten Sie je nach Distanz und Häufigkeit noch einmal mit 100 € bis 300 € zusätzlich rechnen.

                  h4.sf-plain-h4 Kommunikation
                  p Für Handy, Internet und TV zahlt man in München nicht mehr als in anderen deutschen Städten auch. Es gibt allerdings lokale Netzbetreiber wie zum Beispiel M-net, welche meistens etwas preiswerter als die anderen Anbieter sind.

                  h4.sf-plain-h4 Hobby, Freizeit & Kleidung
                  p Wer sich mit dem Notwendigsten zufrieden gibt kommt auch in München mit etwa 50 € pro Monat aus. Allerdings kann man in der Stadt auch sehr gut auf Shopping-Tour gehen und deutlich mehr Geld ausgeben. Daneben gibt es viele trendige Bars, welche nicht ganz billig sind. Wer sparen will oder muss, der sollte in München einigermaßen diszipliniert sein.

                  h4.sf-plain-h4 Versicherungen
                  p Die Krankenversicherung und eine Privathaftpflicht sind die notwendigen Versicherungen für Studenten. Dafür zahlen Sie monatlich, je nach Anbieter und Vertrag, zwischen 80 und 150 €. Für Young Professionals wird die Krankenversicherung in der Regel bereits vom Arbeitgeber abgeführt und muss daher nicht mehr gesondert gezahlt werden. Allerdings kann eine Berufsunfähigkeitsversicherung sinnvoll sein, für welche Sie 20 - 80 € pro Monat einplanen sollten.


                  p Artikel und Tools zum Haus- und Wohnungskauf finden Sie im FinIQ
                    a(href='/hauskauf')  Guide zum Haus- und Wohnungskauf.
                  div.divider.notopmargin.mbottommargin



          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/hauskauf/lebenshaltungskosten-muenchen', title: 'Die Lebenshaltungskosten in München', description: 'Die aktuellen Lebenshaltungskosten für Studenten und Young Professionals in München.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/hauskauf/wie-hoch-darf-der-hauspreis-sein', 'Wie viel Haus oder Wohnung kann ich mir leisten?'], ['/hauskauf/mieten-oder-kaufen', 'Ist mieten besser als kaufen?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
