//-
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Hauskauf, Mieten oder Kaufen, Immobilie, Immobilienkauf')
  meta(name='description', content='Der Kauf einer Wohnung oder eines Hauses ist vielmals eine der wichtigsten persönlichen und finanziellen Entscheidungen und will nicht nur deshalb gut geplant und umgesetzt sein.')

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Hauskauf', 'Der Guide zum Hauskauf', ['Home', '/'], ['Hauskauf', '/hauskauf', 'true'])

    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            //- calculators
            div.col_half
              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Rechentools
              div#posts
                include ../_mixins/calc_preview_item

                mixin calc_preview_item('Wie hoch darf der Kaufpreis sein?', 'Die Bestimmung des Budgets ist einer der ersten Schritte beim Hauskauf. Finden Sie mit diesem Tool heraus, wie viel Sie für die Immobilie ausgeben können und wollen. Kaufnebenkosten wie Grunderwerbssteuer und Kosten für Makler und Notar werden natürlich automatisch berücksichtigt. Eine gute Budgetplanung spart Ihnen Zeit und minimiert finanzielle Risiken.', '/hauskauf/wie-hoch-darf-der-hauspreis-sein', 'assets/img/hauskauf/img_couple_01_small.jpg', 'Wie hoch darf der Kaufpreis sein?')

                mixin calc_preview_item('Ist mieten besser als kaufen?', 'Sie stehen vor der Entscheidung, ein bestimmtes Haus zu kaufen oder zu mieten? Sie haben die Möglichkeit, Ihr Haus oder Ihre Immobilie zu kaufen und sind sich nicht sicher, ob dies ein guter Schritt ist? Diese Entscheidung hängt von vielen individuellen Faktoren ab. Das Mieten-oder-Kaufen-Berechnungstool unterstützt Sie dabei, eine gute Entscheidung zu treffen.', '/hauskauf/mieten-oder-kaufen', 'assets/img/hauskauf/img_comparebuyrent_01.jpg', 'Ist mieten besser als kaufen?')

            //- from blog
            div.col_half.col_last
              //div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Vergleichstools
              //div#posts
                include ../_mixins/compare_preview_item

                mixin compare_preview_item('Vergleichen Sie verschiedene Baufinanzierungen', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.', '/')


              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Artikel
              div
                include ../_mixins/article_preview_item

                mixin article_preview_item('Wie läuft der Hauskauf ab?', 'Erfahren Sie, auf was es beim Hauskauf ankommt. Alle Schritte, gegliedert in Etappen, von der Suche der richtigen Immobilie über die Finanzierung bis zur Übergabe. Dieser Artikel eignet sich besonders zum Einstieg in das Thema Haus- und Immobilienkauf.', '/hauskauf/wie-laeuft-der-hauskauf-ab')

                mixin article_preview_item('Checkliste Hauskauf', 'Bestens vorbereitet auf den Besichtigungstermin: Die Checkliste für die Besichtigung bei geplantem Hauskauf.', '/hauskauf/checkliste-hauskauf')



              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Aus unserem Blog

              div#posts.small-thumbs
                include ../_mixins/blog_preview_item

                mixin blog_preview_item('10 Schnäppchen-Regionen zum Bauen', '19.10.2015', 'Nicht nur in sehr abgelegenen Regionen kann man noch zu günstigen Grundstücken kommen. Wer genau hinschaut kann auch in den Gegenden um die deutschen Großstädte preiswertes Bauland finden. Wir zeigen Ihnen, wo Grundstücke noch preiswert sind.', '/hauskauf/schnaeppchen-regionen-zum-bauen', 'assets/img/hauskauf/img_schnaeppchen.jpg', '10 Schnäppchen-Regionen zum Bauen')

                mixin blog_preview_item('Übersicht der Grundstückspreise', '12.10.2015', 'Die Grundstückspreise in den Regionen Deutschlands sind nicht nur für Häuslebauer interessant, sondern geben auch eine Indikation für die Höhe und Entwicklung des Immobilienmarktes allgemein. Beim Hauskauf oder -bau sollten Sie auf die Preise und Preisentwicklungen achten, um beim Kauf nicht zu viel zu zahlen und keine Wertverluste zu erleiden. Um Ihnen einen Marktüberblick zu geben hat FinIQ die Grundstückspreise in Deutschland auf Stadt- und Kreisebene analysiert.', '/hauskauf/uebersicht-der-grundstueckspreise', 'assets/img/hauskauf/img_grundstueckspreise.jpg', 'Übersicht der Grundstückspreise')

                mixin blog_preview_item('Deutschlands attraktivste Arbeitsmärkte', '05.10.2015', 'Die Attraktivität des Arbeitsmarktes hat großen Einfluss auf die Lebensqualität in den Städten und Landkreisen sowie die heutige und zukünftige Bewertung von Immobilien. Der FinIQ-Attraktivitätsindex zeigt Ihnen, wie wirtschaftlich attraktiv die einzelnen Regionen Deutschlands sind.', '/hauskauf/deutschlands-attraktivste-arbeitsmaerkte', 'assets/img/hauskauf/img_arbeitsmaerkte.jpg', 'Deutschlands attraktivste Arbeitsmärkte')








          //- sidebar
          include ../_mixins/sidebar
          //mixin sidebar(['Mehr von FinIQ', 'links'],['Share'], ['Newsletter'])


    include ../_includes/footer
