//
   Created by benjamintanz on 05.10.15.

extends ../layout
block content
  div#wrapper.clearfix
    include ../_includes/navheader
    //- Page-title
    section#page-title
      div.container.clearfix
        h1 Hauskauf
        span Der Guide zum Hauskauf
        ol.breadcrumb
          li
            a(href='/') Home
          li.active Hauskauf


    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            //- calculators

            div.col_half
              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Rechentools
              div#posts
                div.entry.clearfix
                  div.entry-title
                    h4.nobottommargin.fb
                      a(href='/') Wie hoch darf der Kaufpreis sein?
                  div.entry-content.notopmargin
                    p.smallbottommargin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                  div.entry-image.smallbottommargin
                    a(href='assets/img/hauskauf/img02.jpg', data-lightbox='image')
                      img(class='image_fade', src='assets/img/hauskauf/img02.jpg', alt='Standard Post with Image')
                  div.entry-button
                    a(href='/hauskauf/wie-hoch-darf-der-hauspreis-sein').button.button-3d.button-mini.button-rounded.button-blue Wie hoch darf der Kaufpreis sein?

                div.entry.clearfix
                  div.entry-title
                    h4.nobottommargin.fb
                      a(href='/') Ist mieten besser als kaufen?
                  div.entry-content.notopmargin
                    p.smallbottommargin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                  div.entry-image.smallbottommargin
                    a(href='assets/img/hauskauf/img02.jpg', data-lightbox='image')
                      img(class='image_fade', src='assets/img/hauskauf/img02.jpg', alt='Standard Post with Image')
                  div.entry-button
                    a(href='/hauskauf/mieten-oder-kaufen').button.button-3d.button-mini.button-rounded.button-blue Sollte ich mieten oder kaufen?

              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Artikel
              div.title-block
                h4 Wie läuft der Hauskauf ab?
                span Das Wichtigste zum Ablauf
              div.title-block
                h4 Wie finden Sie das richtige Haus?
                span Informationen zur Suche





            //- from blog
            div.col_half.col_last
              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Baufinanzierung
              div#posts
                div.entry.clearfix
                  div.entry-title
                    h4.nobottommargin.fb
                      a(href='/') Vergleichen Sie verschiedene Baufinanzierungen
                  div.entry-content.notopmargin
                    p.smallbottommargin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                  div.entry-button
                    a(href='/').button.button-3d.button-mini.button-rounded.button-blue Finden Sie die richtige Baufinanzierung


              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Aus unserem Blog

              div#posts.small-thumbs.alt
                div.entry.clearfix
                  div.entry-image
                    a(href='assets/img/hauskauf/img01.jpg', data-lightbox='image')
                      img(class='image_fade', src='assets/img/hauskauf/img01.jpg', alt='Standard Post with Image')
                  div.entry-c
                    div.entry-title
                      h4.nobottommargin.fb
                        a(href='/hauskauf/deutschlands-attraktivste-arbeitsmaerkte') Deutschlands attraktivste Arbeitsmärkte
                    ul.entry-meta.clearfix
                      li
                        i.icon-calendar3 &nbsp; 12.10.2015
                  div.entry-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                    a(href='/').more-link Weiterlesen ...


                div.entry.clearfix
                  div.entry-image
                    a(href='assets/img/hauskauf/img01.jpg', data-lightbox='image')
                      img(class='image_fade', src='assets/img/hauskauf/img01.jpg', alt='Standard Post with Image')
                  div.entry-c
                    div.entry-title
                      h4.nobottommargin.fb
                        a(href='/hauskauf/uebersicht-der-grundstueckspreise') Übersicht der Grundstückspreise
                    ul.entry-meta.clearfix
                      li
                        i.icon-calendar3 &nbsp; 05.10.2015
                  div.entry-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                    a(href='/').more-link Weiterlesen ...


          //- sidebar
          div.sidebar.nobottommargin.col_last.clearfix
            div.sidebar-widgets-wrap
              div.widget.clearfix
                h4 Mehr von FinBob
                p (links)
              div.widget.clearfix
                h4 Share
              div.widget.clearfix
                h4 Newsletter
              div.widget.clearfix
                h4 Werbung







    include ../_includes/footer
