//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Kosten Hauskauf, Hauspreisrechner, Kosten Hauskauf Rechner, Hauskauf, Hauspreis, Notarkosten Hauskauf, Grunderwerbssteuer')
  meta(name='description', content='Die Bestimmung des Budgets ist einer der ersten Schritte beim Hauskauf. Finden Sie mit diesem Tool heraus, wie viel Sie für die Immobilie ausgeben können und wollen. Kaufnebenkosten wie Grunderwerbssteuer und Kosten für Makler und Notar werden natürlich automatisch berücksichtigt. Eine gute Budgetplanung spart Ihnen Zeit und minimiert finanzielle Risiken.')

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Wie hoch darf der Preis Ihres Hauses sein?', 'Der Rechner zur Entscheidungshilfe', ['Home', '/'], ['Hauskauf', '/hauskauf'], ['Wie hoch darf der Hauspreis sein', '/hauskauf/wie-hoch-darf-der-hauspreis-sein', 'true'])


    //-page-content
    section#content(ng-controller='kaufpreisController as vm')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** sidebar left (INPUTS) ***********
          div.sidebar.nobottommargin.clearfix
            div.sidebar-widgets-wrap.sidebar-widgets-wrap-calc
              div.widget.clearfix
                h4
                  i.icon-pencil
                  | &nbsp; Eingaben

                //- primary inputs
                sf-slider(description='Aktuelle Monatsmiete',                               value='vm.inputs.rent',   tip='Die monatlichen Mietkosten, welche Sie durch den Kauf der Immobilie sparen würden. Geben Sie hier die Warmmiete inklusive aller Nebenkosten an. Die Betriebskosten der neuen Immobilie berücksichtigt das Tool in der Berechnung.', addon='€ / Mt.', id='rent',  options='{"floor": "0", "ceil": "12000", "precision": "1", "step": "50"}')
                sf-slider(description='Zusätzliches monatlich frei verfügbares Einkommen',  value='vm.inputs.income', tip='Das frei verfügbare Einkommen, welches Sie nach Zahlung aller Ihrer laufenden Kosten (inklusive Miete) zur Verfügung haben und für die Rückzahlung einer Immobilienfinanzierung verwenden könnten. Als Faustregel sollte die Summe aus der aktuellen Monatsmiete und dem zusätzlichen freien Einkommen nicht mehr als 45 % Ihres Nettoeinkommens ausmachen.', addon='€ / Mt.', id='income',  options='{"floor": "0", "ceil": "12000", "precision": "1", "step": "50"}')
                sf-slider(description='Eigenkapital',                                       value='vm.inputs.equity', tip='Das zum Hauskauf zur Verfügung stehende Eigenkapital. Dies ist der Teil Ihrer Ersparnisse, welchen Sie beim Hauskauf investieren möchten.', addon='€', id='equity',  options='{"floor": "0", "ceil": "2000000", "precision": "1", "step": "500"}')
                sf-slider(description='Rückzahlungszeitraum',                               value='vm.inputs.term',   tip='Der Zeitraum bis zur vollständigen Rückzahlung des Darlehens ohne verbleibende Restschuld. Während dieses Zeitraums leisten Sie monatlich gleichbleibende Raten zur Rückzahlung des Darlehens. Auf Basis des Rückzahlungszeitraums schlägt ihnen das Tool automatisch den durchschnittlichen Zinssatz für ein entsprechendes Darlehen vor.', addon='Jahre', id='term',   options='{"floor": "0", "ceil": "25", "precision": "2", "step": "1"}')
                sf-slider(description='Darlehenszinssatz',                                  value='vm.inputs.debtinterest',    tip='Der jährliche Zins für das zum Immobilienerwerb notwendige Darlehen. Der vorgegebene Wert orientiert sich bereits an den aktuellen Marktzinsen für Darlehen mit Laufzeit bzw. Zinsbindung über den gesamten Rückzahlungszeitraum. Je nach Bonität und Besicherung des Darlehens kann der Darlehenszinssatz noch abweichen.', addon='% p. a.', id='debtinterest',   options='{"floor": "0", "ceil": "10", "precision": "2", "step": "0.25"}')


                //- secondary inputs
                div.panel-group.nobottommargin.accordion
                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details
                    div#collapseOne.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        sf-slider(description='Kaufnebenkosten',                                  value='vm.inputs.priceaddon',    tip='Die Nebenkosten, welche beim Hauskauf entstehen. Hier handelt es sich hauptsächlich um die Grunderwerbssteuer sowie Kosten für Notar und Makler. Erfahrungsgemäß sind hier 8-10 % des Kaufpreises zu veranschlagen.', addon='%', id='priceaddon',   options='{"floor": "0", "ceil": "20", "precision": "2", "step": "0.25"}')
                        //sf-slider(description='Laufende Kosten',                                  value='vm.inputs.maintenance',   tip='Die monatlichen Kosten zum Betrieb (Wasserversorgung, Energie, Müllentsorgung, etc.) und der Instandhaltung (Reparaturen, Sanierungen, etc.) der Immobilie als Jahresanteil vom Kaufpreis der Immobilie. Erfahrungsgemäß kann man hier jährlich von 2,5 % des Kaufpreises ausgehen, wobei jeweils 1,25 % auf Betriebs- und Instandhaltungskosten entfallen.', addon='€', id='maintenance',   options='{"floor": "0", "ceil": "1000", "precision": "1", "step": "10"}')
                        sf-slider(description='Laufende Kosten',                                  value='vm.inputs.maintenancepercent',  tip='Die monatlichen Kosten zum Betrieb (Wasserversorgung, Energie, Müllentsorgung, etc.) und der Instandhaltung (Reparaturen, Sanierungen, etc.) der Immobilie als Jahresanteil vom Kaufpreis der Immobilie. Erfahrungsgemäß kann man hier jährlich von 2,5 % des Kaufpreises ausgehen, wobei jeweils 1,25 % auf Betriebs- und Instandhaltungskosten entfallen.', addon='%', id='maintenancepercent',   options='{"floor": "0", "ceil": "10", "precision": "2", "step": "0.25"}')
                        sf-slider(description='Rückzahlungsanteil',                               value='vm.inputs.repaypercent',  tip='Der Anteil des monatlich freien Einkommens, welcher bis zur vollständigen Rückzahlungs des Darlehens zur Tilgung verwendet wird. Das freie Einkommen ist das Einkommen, welches Ihnen nach Zahlung der laufenden Kosten zur Verfügung steht. ', addon='%', id='repaypercent',   options='{"floor": "0", "ceil": "125", "precision": "1", "step": "1"}')

          //- </div> ********** END sidebar left (INPUTS) **********


          //- ********** page center - main content **********
          div.postcontent.bothsidebar.nobottommargin.clearfix
            div.col_full
              //- price feasible
              div.row(ng-if='vm.inputs.repaypercent <= 85')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #50B432')
                div.col-sm-10.col-xs-12
                  h3 Sie können sich eine Immobilie für
                    span(style='color: #50B432')  {{vm.result.maxprice | currency:"€":2}}
                    |  leisten.

              //- price maybe feasible
              div.row(ng-if='vm.inputs.repaypercent > 85 && vm.inputs.repaypercent <= 100')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #F38200')
                div.col-sm-10.col-xs-12
                  h3 Sie können sich eine Immobilie für
                    span(style='color: #F38200')  {{vm.result.maxprice | currency:"€":2}}
                    |  möglicherweise nicht leisten.

              //- price not feasible
              div.row(ng-if='vm.inputs.repaypercent > 100')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #B20925')
                div.col-sm-10.col-xs-12
                  h3 Sie können sich eine Immobilie für
                    span(style='color: #B20925')  {{vm.result.maxprice | currency:"€":2}}
                    |  nicht leisten.


              rzslider(rz-slider-model='vm.inputs.repaypercent', rz-slider-ceil='125', rz-slider-floor='0', rz-slider-hide-limit-labels='true', rz-slider-translate='vm.sliderTranslate', style='margin-top: 0px;')


              div.divider.notopmargin.lbottommargin
              h5 Basierend auf Ihrer Miete von monatlich {{vm.inputs.rent | currency:"€":2}}, dem zusätzlich verfügbaren Einkommen von mtl. {{vm.inputs.income | currency:"€":2}} und den erwarteten laufenden Kosten der Immobilie von mtl. etwa {{vm.result.maintenance | currency:"€":2}} könnten Sie
                span  {{vm.inputs.income + vm.inputs.rent - vm.result.maintenance | currency:"€":2}} pro Monat zur Darlehenstilgung
                |  verwenden.
              h5 Im berechneten Szenario verwenden Sie {{vm.inputs.repaypercent}} % der {{vm.inputs.income + vm.inputs.rent - vm.result.maintenance | currency:"€":2}} zur Darlehenstilgung, also {{(vm.inputs.income + vm.inputs.rent - vm.result.maintenance) * (vm.inputs.repaypercent / 100)  | currency:"€":2}}.
                span(ng-if='vm.inputs.repaypercent <= 85', style="color: #333333")  Ihnen bleiben
                  span(style='color: #50B432')  {{(vm.inputs.income + vm.inputs.rent - vm.result.maintenance) * ((100 - vm.inputs.repaypercent) / 100)  | currency:"€":2}} monatlich als Reserve.
                span(ng-if='vm.inputs.repaypercent > 85 && vm.inputs.repaypercent <= 100', style="color: #333333")  Ihnen bleiben
                  span(style='color: #F38200')  {{(vm.inputs.income + vm.inputs.rent - vm.result.maintenance) * ((100 - vm.inputs.repaypercent) / 100)  | currency:"€":2}} monatlich als Reserve.
                span(ng-if='vm.inputs.repaypercent > 100', style="color: #B20925")  Die Tilgungszahlungen übersteigen Ihre Zahlungsfähigkeit.

              h5 Mit {{(vm.inputs.income + vm.inputs.rent - vm.result.maintenance) * (vm.inputs.repaypercent / 100)  | currency:"€":2}} pro Monat können Sie über einen Zeitraum von {{vm.inputs.term}} Jahren ein Darlehen über {{vm.result.loan | currency:"€":2}} vollständig zurückzahlen. Zusammen mit ihrem Eigenkapital können Sie ingesamt also {{vm.result.totalpropcost | currency:"€":2}} ausgeben. Nach Berücksichtigung der Kaufnebenkosten (Grunderwerbssteuer, Makler, Notar) von etwa {{vm.result.notar + vm.result.makler + vm.result.proptax | currency:"€":2}}
                span  können Sie für die Immobilie {{vm.result.maxprice | currency:"€":2}} ausgeben.


              h4 Berechnungsdetails
              div.tabs.tabs-tb.tabs-bordered.clearfix.ui-tabs.ui-widget.ui-widget-content.ui-corner-all#results-tabs
                ul.tab-nav.clearfix.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
                  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(role='tab', tabindex='0', aria-controls='tabs-5', aria-labelledby='ui-id-5', aria-selected='true')
                    a(href='#tabs-5', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-5')
                      i.fa.fa-calculator
                      | Ergebnisse
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-6', aria-labelledby='ui-id-6', aria-selected='false')
                    a(href='#tabs-6', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-6')
                      i.fa.fa-cogs
                      | Vorgehen
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-7', aria-labelledby='ui-id-7', aria-selected='false')
                    a(href='#tabs-7', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-7')
                      i.fa.fa-lightbulb-o
                      | Annahmen
                div.tab-container

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-5(aria-labelledby='ui-id-5', role='tabpanel', aria-expanded='true', aria-hidden='false', style="display: block;")
                    p.xsbottommargin.stext Alle Angaben in €, sofern nicht anders bezeichnet
                    table.table
                      tbody
                        tr.active
                          td Kaufpreis
                          td.text-right {{vm.result.maxprice | currency:"":2 | parentheses}}
                        tr
                          td Grunderwerbssteuer
                          td.text-right {{vm.result.proptax | currency:"":2 | parentheses}}
                        tr
                          td Notargebühr
                          td.text-right {{vm.result.notar | currency:"":2 | parentheses}}
                        tr
                          td Maklerprovision
                          td.text-right {{vm.result.makler | currency:"":2 | parentheses}}
                        tr.active
                          td Gesamtkosten der Immobilie
                          td.text-right {{vm.result.totalpropcost | currency:"":2 | parentheses}}
                        tr
                          td Darlehensbetrag
                          td.text-right {{vm.result.loan | currency:"":2 | parentheses}}
                        tr
                          td Rückzahlungsrate (mtl.)
                          td.text-right {{vm.result.rate | currency:"":2 | parentheses}}
                        tr
                          td Laufende Kosten (mtl.)
                          td.text-right {{vm.result.maintenance | currency:"":2 | parentheses}}
                        tr
                          td Laufzeit
                          td.text-right {{vm.result.term | currency:"":0 | parentheses}} Jahre
                        tr
                          td Anfängliche Tilgung
                          td.text-right {{vm.result.initrepay | currency:"":2 | parentheses}} %
                        tr
                          td Zinsaufwand
                          td.text-right {{vm.result.interest | currency:"":2 | parentheses}}
                        tr.active
                          td Gesamtaufwand des Immobilienerwerbs
                          td.text-right {{vm.result.totalcost | currency:"":2 | parentheses}}




                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-6(aria-labelledby='ui-id-6', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p Dieses Tool hilft Ihnen dabei, festzustellen, wie viel Sie für den Kauf einer Immobilie ausgeben können, um auch noch nach dem Kauf ruhig schlafen zu können. Es werden verschiedene Richtwerte berechnet, damit Sie eine informierte Entscheidung zum Immobilien- bzw. Hauskauf treffen können.

                    h5.xsbottommargin Wie der finanzierbare Immobilienpreis berechnet wird
                    p.xsbottommargin Die Berechnung des finanzierbaren Immobilienpreises kann man in drei Schritte unterteilen. Im ersten Schritt wird ermittelt, wie hoch Ihre monatlichen Beiträge für die Darlehensrückzahlung sein können. Im zweiten Schritt wird berechnet, wieviel Sie unter Berücksichtigung eines für Sie finanzierbaren Darlehens für den Hauskauf insgesamt ausgeben können. Im dritten Schritt werden die einmaligen Kosten des Hauskaufs von dem im letzten Schritt berechneten Wert abgezogen, um den Kaufpreis der Immobilie an sich (bzw. laut Inserat) zu bestimmen.

                    h6.xsbottommargin Erster Schritt: Höhe der Darlehensrückzahlung
                    p.xsbottommargin Aus den Eingaben zur Ihrer aktuellen Miete (Warmmiete) und dem zusätzlichen monatlich frei verfügbaren Einkommen wird die Höhe der monatlichen Zahlung berechnet, welche Sie für das Haus leisten könnten. Es wird davon ausgegangen, dass die Mietzahlungen nach dem Hauskauf entfallen. Von diesem Betrag werden die (errechneten) monatlichen laufenden Kosten der Immobilie (Betriebs- und Instandhaltungskosten) abgezogen. Sie können den Prozentsatz der laufenden Kosten (als Jahresanteil vom Kaufpreis) im Feld 'Laufende Kosten' unter 'Details' anpassen. Der auf Basis des Prozentsatzes errechnete monatliche Betrag der laufenden Kosten wird auch als Ergebnis ausgegeben. Der verbleibende Betrag wird mit dem Rückzahlungsanteil multipliziert, um die Darlehensrückzahlung zu erhalten. Der gewünschte Rückzahlungsanteil ist der Anteil der Darlehensrückzahlungen am verbleibenden freien Einkommen und ist unter 'Rückzahlungsanteil' einstellbar. Ein geringerer Rückzahlungsanteil geht mit größeren finanziellen Reserven einher.

                    h6.xsbottommargin Zweiter Schritt: Berechnung der finanzierbaren Gesamtkosten des Kaufs
                    p.xsbottommargin Die finanzierbaren Gesamtkosten für den Kauf ergeben sich aus Ihrem Eigenkapital und der Höhe des Darlehens. Die Höhe des Darlehens wird ermittelt aus der berechneten monatlich möglichen Darlehensrückzahlung, dem gewünschten Rückzahlungszeitraum sowie dem Zinssatz.

                    h6.xsbottommargin Dritter Schritt: Der Preis der Immobilie
                    p.xsbottommargin Im letzten Schritt schließlich werden zu erwartende einmalige Kosten des Immobilienkaufs (Kaufnebenkosten) von den finanzierbaren Gesamtkosten abgezogen. Dabei handelt es sich um Kosten wie Grunderwerbssteuer sowie Makler- und Notarkosten. Den vorgebebenen Prozentsatz der Kaufnebenkosten vom Kaufpreis können Sie wenn nötig unter 'Kaufnebenkosten' anpassen. Ergebnis dieses Schritts ist der Kaufpreis.


                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-7(aria-labelledby='ui-id-7', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p.xsbottommargin Um Ihnen die Analyse zu erleichtern haben wir bereits sinnvolle Annahmen zur Berechnung getroffen. Die folgenden Abschnitte erläutern die wichtigsten Annahmen. Sie können Annahmen jedoch auch ändern und die Analyse so noch besser auf Ihre persönlichen Verhältnisse zuschneiden, indem Sie die Detailangaben in der Liste der Eingabefelder entsprechend anpassen.
                    p.xsbottommargin
                      strong Kaufnebenkosten:
                      |  Die Kaufnebenkosten bestehen im Wesentlichen aus der Grunderwerbssteuer sowie Gebühren für Makler und Notar/Gericht. Im Durchschnitt belaufen sich diese Kosten auf etwa 10 % des Kaufpreises, wobei die Grunderwerbssteuer (je nach Bundesland) ca. 5 % ausmacht, die Maklergebühr etwa 3,8 % sowie Notar- und Gerichtskosten jeweils etwa 0,8 % und 0,4 %.
                    p.xsbottommargin
                      strong Laufende Kosten:
                      |  Diese Kosten setzen sich zusammen aus den Kosten für die Nutzung / den Betrieb (Wasser, Heizung, Müll) und die Instandhaltung der Immobilie. Der angenommene Satz von 2,5 % des Kaufpreises ist eine konservative (hohe) Schätzung und setzt sich zusammen aus einem Betriebskostenanteil von 1,25 % und einem Instandhaltungskostenanteil von 1,25 %. Der Betriebskostenanteil von 1,25 % entspricht etwa einem Betriebskostensatz von 25 % der Gesamtmiete für eine vergleichbare Mietwohnung und ist damit eine Annährung an den aktuellen Betriebskostenspiegel. Der Instandhaltungskostensatz orientiert sich an der sogenannten Peterschen Formel zur Abschätzung der Instandhaltungsrücklage für Immobilien. Diese Formel basiert auf empirisch ermittelten durchschnittlichen Instandhaltungskosten und besagt, dass innerhalb von 80 Jahren der 1,5-fache Herstellungswert der Immobilie für die Instandhaltung notwendig wird. Um den Instandhaltungskostensatz zu berechnen gehen wir davon aus, dass die Herstellungskosten der Immobilie zwei Drittel des Kaufpreises ausmachen (Kaufpreis abzüglich u. a. des Grundstücks). Damit ergibt sich der Satz nach der Peterschen Formel aus der Gleichung (Kaufpreis * 0,66 * 1,5) / 80 = Kaufpreis * 1,25 %. Falls Sie genauere Angaben zu den spezifischen Kosten Ihrer Immobilie haben können Sie den Kostensatz natürlich entsprechend anpassen. Nichtsdestotrotz ist der Satz von 2,5 % auf Grundlage realistischer Annahmen für Immobilien in Deutschland ermittelt und kann daher als realistischer Ausgangspunkt für die Berechnung dienen.
                    p.xsbottommargin
                      strong Rückzahlungsanteil:
                      |  Der Rückzahlungsanteil ist der Anteil der Darlehensrückzahlungen am gesamten monatlichen Betrag, welchen Sie für die Rückzahlung verwenden könnten. In den meisten Fällen ist es angebracht, den Rückzahlungsanteil geringer als 100 % zu setzen, um noch eine kleine monatliche Reserve zu haben. Diese kann zum Beispiel genutzt werden, um Schwankungen der laufenden Kosten auszugleichen. Erfahrungsgemäß sollte der Rückzahlungsanteil im Normallfall nicht größer als 85 % sein.


            //div.col_full
              h3.xsbottommargin Die Entscheidung zum Kaufen oder Mieten
              p Der Kauf einer Immobilie ist eine Entscheidung von großer finanzieller und persönlicher Tragweite und sollte daher gut überlegt sein. Für viele Immobilienerwerber spielen emotionale Komponenten bei der Entscheidung für die eigenen vier Wände eine große Rolle. Um später keine bösen Überraschungen zu erleben sollte jedoch beim Immobilienerwerb auch auf die wirtschaftliche Komponente geachtet werden. Kernaspekt der wirtschaftlichen Betrachtung ist die Analyse, ob es finanziell lohnenswert ist, eine bestimmte Immobilie zu kaufen oder besser zur Miete zu wohnen. Der finanzielle Aspekt des Immobilienerwerbs scheint oft undurchsichtig, unter anderem auch, weil in den Prozess involvierte Parteien die verschiedensten Eigeninteressen verfolgen. Auch wenn man beim Immobilienerwerb nicht alle finanziellen Risiken ausschließen kann gilt: Eine gute Entscheidung ist meist leichter als gedacht!
              h5.xsbottommargin Ist der Kauf immer die beste Option?
              p Lange Zeit galt der Kauf einer Wohnimmobilie als die wirtschaftlich beste Option, insbesondere bei Verfügbarkeit von hohem Eigenkapital und einer günstigen Finanzierung. Dies ist heute allerdings nicht immer der Fall und die wirtschaftliche Vorteilhaftigkeit hängt letzlich von verschiedenen Faktoren ab. Beispielsweise unterliegen Immobilienpreise teils starken und regional unterschiedlichen Schwankungen, während Mietpreise unter anderem auch durch staatliche Regulierung vergleichsweise konstant sind. Die folgende Grafik "Preis- und Mietenindex für Deutschland" zeigt, dass die Kaufpreise für Immobilien in Deutschland zuletzt stark angestiegen sind während die Mietpreise langfristig mit einer konstanten moderaten Rate steigen. Daher kann es zu bestimmten Zeiten an bestimmten Orten besser sein, zur Miete zu wohnen. Weiterhin ist der Kauf einer Immobilie mit diversen Fixkosten verbunden, welche sich erst über längere Zeit amortisieren. Daher ist auch relevant, über welchen Zeitraum Sie die Immobilie bewohnen möchten. Schließlich ist ein Vergleich der Mietkosten mit den beim Immobilienkauf entstehenden Finanzierungskosten (Kreditzinsen) und den Instandhaltungskosten für den konkreten Fall eine wichtige Entscheidungskomponente.
              highchart(id='chart02', config='chartConfig_2')
              div.divider.notopmargin.mbottommargin
              h5.xsbottommargin Wie Ihnen dieses Tool helfen kann
              p Das kaufen-oder-mieten-Tool soll Ihnen die Analyse so einfach wie möglich machen. Dazu haben wir die wichtigsten Einflussfaktoren der Entscheidung analysiert und in das Tool integriert. Sie können Details wie etwa laufende Kosten und deren jährliche Steigerungsraten individuell bestimmen und eingeben. Falls Ihnen keine speziellen Werte vorliegen können Sie auch unsere Vorgaben verwenden, welche auf Grundlage aktueller Daten zum Immobilienmarkt sowie weit verbreiteter Berechnungsmethoden wie etwa der Peterschen Formel zur Ermittlung der Instandhaltungskosten bestimmt worden sind.

          //- </div> ********** END page center - main content **********



          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/hauskauf/wie-hoch-darf-der-hauspreis-sein', title: 'Wie hoch darf der Preis Ihres Hauses sein?', description: 'Finden Sie mit diesem Tool heraus, wie viel Sie für Ihre Immobilie ausgeben können und wollen.'}})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
