//
   Created by benjamintanz on 05.10.15.

extends ../layout
block content
  div#wrapper.clearfix
    include ../_includes/navheader
    //- Page-title
    section#page-title
      div.container.clearfix
        h1 Mieten oder Kaufen
        span Der Rechner zur Entscheidungshilfe
        ol.breadcrumb
          li
            a(href='/') Home
          li
            a(href='/hauskauf') Hauskauf
          li.active Mieten oder Kaufen

    //-page-content
    section#content(ng-controller='MietenOderKaufenCtrl as controller')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- sidebar left (INPUTS)
          div.sidebar.nobottommargin.clearfix
            div.sidebar-widgets-wrap
              div.widget.clearfix
                h4
                  i.icon-pencil
                  | &nbsp; Eingaben

                //- main inputs
                sf-slider(description='Kaufpreis',    value='inputs.price', addon='€', id='price',  options='{"floor": "0", "ceil": "4000000", "precision": "1", "step": "5000"}')
                sf-slider(description='Monatsmiete', value='inputs.rent',  addon='€', id='rent',   options='{"floor": "0", "ceil": "12000", "precision": "1", "step": "50"}')
                sf-slider(description='Eigenkapital', type='frac', value='inputs.equity',addon='%', id='equity', options='{"floor": "0", "ceil": "100", "precision": "2", "step": "0.25"}', fun='calcAbsolute(inputs.price, inputs.equity)')
                sf-slider(description='Monatlich verfügbares Einkommen zum Wohnen',  value='inputs.income',  addon='€', id='income',   options='{"floor": "0", "ceil": "20000", "precision": "1", "step": "50"}')


                //- input toggles
                div.panel-group.nobottommargin.accordion
                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details Kaufen
                    div#collapseOne.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body


                        sf-slider(description='Kaufnebenkosten', type='frac',  value='inputs.priceaddon',  addon='%', id='priceaddon',   options='{"floor": "0", "ceil": "40", "precision": "2", "step": "0.25"}', fun='calcAbsolute(inputs.price, inputs.priceaddon)')

                        label.xxsbottommargin(for='rent') Laufende Kosten
                        div.row
                          div.col-md-6
                            div.input-group
                              input(type='number', id='maintenancePercent', name='maintenancePercent', ng-model='inputs.maintenancePercent', class='sm-form-control')
                              span.input-group-addon %
                          div.col-md-6.noleftpadding
                            p.nobottommargin.text-right {{calcMaintenanceYear() | currency:" €":2 }}/Jahr
                            p.nobottommargin.text-right {{calcMaintenanceMonth() | currency:" €":2 }}/Mt.
                        rzslider(rz-slider-model='inputs.maintenancePercent', rz-slider-ceil='25', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        sf-slider(description='Wertsteigerung Immobilie', value='inputs.valuedynamic',  addon='% p. a.', id='valuedynamic',   options='{"floor": "0", "ceil": "20", "precision": "2", "step": "0.25"}')

                        label.xxsbottommargin(for='rent') Steigerung laufende Kosten
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='costdynamic', name='costdynamic', ng-model='inputs.costdynamic', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='inputs.costdynamic', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')


                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details Mieten
                    div#collapseTwo.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        label.xxsbottommargin(for='rent') Mietkostensteigerung
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='rentdynamic', name='rentdynamic', ng-model='inputs.rentdynamic', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='inputs.rentdynamic', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')


                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details Finanzierung
                    div#collapseThree.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        label.xxsbottommargin(for='rent') Zinssatz Geldanlage
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='equityinterest', name='equityinterest', ng-model='inputs.equityinterest', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='inputs.equityinterest', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Zinssatz Darlehen
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='debtinterest', name='debtinterest', ng-model='inputs.debtinterest', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='inputs.debtinterest', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Monatliche Rückzahlungsrate - Eingabe als Anteil des monatlich zur Darlehenstilgung verfügbaren freien Einkommens
                        div.row
                          div.col-md-6
                            div.input-group
                              input(type='number', id='debtpay', name='debtpay', ng-model='inputs.debtpay', class='sm-form-control')
                              span.input-group-addon %
                          div.col-md-6.noleftpadding
                            p.nobottommargin.text-right {{calcDebtpay() | currency:" €":2 }}/Mt.
                        rzslider(rz-slider-model='inputs.debtpay', rz-slider-ceil='100', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')



          //- main content
          div.postcontent.bothsidebar.nobottommargin.clearfix
            h4.widget_h4 Ergebnis
            h3 Wenn Sie
              span(ng-class="{orange: !buyIsBest}")  {{inputs.period}} Jahre
              |  in diesem Haus oder dieser Eigenstumswohnung bleiben ist
              span(ng-class="{orange: !buyIsBest}") {{calcBestAlternative()}}
              |  die bessere Alternative.


            label.xxsbottommargin Jahr ab Kauf
            rzslider(rz-slider-model='inputs.period', rz-slider-floor='1', rz-slider-ceil='30', rz-slider-show-ticks-value='true', style='margin-top: 30px;')
            div.divider.notopmargin.lbottommargin
            table.table
              thead
                tr
                  th Jahr {{inputs.period}}
                  th.text-right Mieten
                  th.text-right Kaufen
                  th.text-right Differenz
              tbody
                tr
                  td Endvermögen
                  td.text-right.orange {{result.rentFinalWealth | currency:" €":2}}
                  td.text-right.lightblue {{result.buyFinalWealth | currency:" €":2}}
                  td.text-right {{result.rentFinalWealth - result.buyFinalWealth | currency:" €":2}}

            highchart(id='chart1', config='chartConfig')
            div.divider.notopmargin.mbottommargin
            h4.nobottommargin Details zum Endvermögen
            p.xsbottommargin.stext Angaben in €
            table.table
              thead
                tr
                  th Jahr {{inputs.period}}
                  th.text-right Mieten
                  th.text-right Kaufen
                  th.text-right Differenz
              tbody
                tr.active
                  td Endvermögen
                  td.text-right {{result.rentFinalWealth | currency:"":2}}
                  td.text-right {{result.buyFinalWealth | currency:"":2}}
                  td.text-right {{result.rentFinalWealth - result.buyFinalWealth | currency:"":2}}
                tr
                  td &nbsp; Eigenkapital
                  td.text-right {{result.rentEquity | currency:"":2}}
                  td.text-right {{result.buyEquity | currency:"":2}}
                  td.text-right {{result.rentEquity - result.buyEquity | currency:"":2}}
                tr
                  td &nbsp; Wohneinkommen
                  td.text-right {{result.rentFinalIncome | currency:"":2}}
                  td.text-right {{result.buyFinalIncome | currency:"":2}}
                  td.text-right {{result.rentFinalIncome - result.buyFinalIncome | currency:"":2}}
                tr
                  td &nbsp; Mietkosten
                  td.text-right {{result.rentFinalCost | currency:"":2}}
                  td.text-right {{0 | currency:"":2}}
                  td.text-right {{result.rentFinalCost  | currency:"":2}}
                tr
                  td &nbsp; Zinsertrag
                  td.text-right {{result.rentFinalInterest | currency:"":2}}
                  td.text-right {{result.buyInterestSave | currency:"":2}}
                  td.text-right {{result.rentFinalInterest - result.buyInterestSave | currency:"":2}}
                tr
                  td &nbsp; Zinsaufwand
                  td.text-right {{0 | currency:"":2}}
                  td.text-right {{result.buyInterestLoan | currency:"":2}}
                  td.text-right {{0 - result.buyInterestLoan | currency:"":2}}
                tr
                  td &nbsp; Laufende Kosten
                  td.text-right {{0 | currency:"":2}}
                  td.text-right {{result.buyMaintenance | currency:"":2}}
                  td.text-right {{0 - result.buyMaintenance | currency:"":2}}
                tr
                  td &nbsp; Darlehenstilgung
                  td.text-right {{0 | currency:"":2}}
                  td.text-right {{result.buyRepay | currency:"":2}}
                  td.text-right {{0 - result.buyRepay | currency:"":2}}
                tr
                  td &nbsp; Darlehensrestschuld
                  td.text-right {{0 | currency:"":2}}
                  td.text-right {{result.buyResidual | currency:"":2}}
                  td.text-right {{0 - result.buyResidual | currency:"":2}}
                tr
                  td &nbsp; Immobilienwert
                  td.text-right {{0 | currency:"":2}}
                  td.text-right {{result.buyPropValue | currency:"":2}}
                  td.text-right {{0 - result.buyPropValue | currency:"":2}}


          //- sidebar right
          div.sidebar.nobottommargin.col_last.clearfix
            div.sidebar-widgets-wrap
              div.widget.clearfix
                h4 Mehr von FinBob
                p (links)
              div.widget.clearfix
                h4 Share
              div.widget.clearfix
                h4 Newsletter
              div.widget.clearfix
                h4 Werbung

    include ../_includes/footer
