//
   Created by benjamintanz on 05.10.15.

extends ../layout
block content
  div#wrapper.clearfix(ng-app='MietenOderKaufen')
    include ../_includes/navheader
    //- Page-title
    section#page-title
      div.container.clearfix
        h1 Mieten oder Kaufen
        span Der Rechner zur Entscheidungshilfe
        ol.breadcrumb
          li
            a(href='/') Home
          li
            a(href='/hauskauf') Hauskauf
          li.active Mieten oder Kaufen

    //-page-content
    section#content(ng-controller='MietenOderKaufenController as controller')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- sidebar left (INPUTS)
          div.sidebar.nobottommargin.clearfix
            div.sidebar-widgets-wrap
              div.widget.clearfix
                h4
                  i.icon-pencil
                  | &nbsp; Eingaben

                //- main inputs
                label.xxsbottommargin(for='price') Kaufpreis
                div.input-group
                  input(type='number', id='price', name='price', ng-model='price', class='sm-form-control')
                  span.input-group-addon €
                rzslider(rz-slider-model='price', rz-slider-ceil='4000000', rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                div.divider.notopmargin.mbottommargin

                label.xxsbottommargin(for='rent') Monatsmiete
                div.input-group
                  input(type='number', id='rent', name='rent', ng-model='rent', class='sm-form-control')
                  span.input-group-addon €
                rzslider(rz-slider-model='rent', rz-slider-ceil='20000', rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                div.divider.notopmargin.mbottommargin

                label.xxsbottommargin(for='rent') Eigenkapital
                div.row
                  div.col-md-6
                    div.input-group
                      input(type='number', id='equity', name='equity', ng-model='equity', class='sm-form-control')
                      span.input-group-addon %
                  div.col-md-6.noleftpadding
                    p.nobottommargin.text-right {{calcEquity() | currency:" €":2 }}
                rzslider(rz-slider-model='equity', rz-slider-ceil='100', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                div.divider.notopmargin.mbottommargin

                label.xxsbottommargin(for='rent') Monatlich verfügbares Einkommen zum Wohnen
                div.input-group
                  input(type='number', id='income', name='income', ng-model='income', class='sm-form-control')
                  span.input-group-addon €
                rzslider(rz-slider-model='income', rz-slider-ceil='20000', rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                //- input toggles
                div.panel-group.nobottommargin.accordion
                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details Kaufen
                    div#collapseOne.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        label.xxsbottommargin(for='rent') Kaufnebenkosten
                        div.row
                          div.col-md-6
                            div.input-group
                              input(type='number', id='priceaddon', name='priceaddon', ng-model='priceaddon', class='sm-form-control')
                              span.input-group-addon %
                          div.col-md-6.noleftpadding
                            p.nobottommargin.text-right {{calcPriceaddon() | currency:" €":2 }}
                        rzslider(rz-slider-model='priceaddon', rz-slider-ceil='40', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Laufende Kosten
                        div.row
                          div.col-md-6
                            div.input-group
                              input(type='number', id='maintenancePercent', name='maintenancePercent', ng-model='maintenancePercent', class='sm-form-control')
                              span.input-group-addon %
                          div.col-md-6.noleftpadding
                            p.nobottommargin.text-right {{calcMaintenanceYear() | currency:" €":2 }}/Jahr
                            p.nobottommargin.text-right {{calcMaintenanceMonth() | currency:" €":2 }}/Mt.
                        rzslider(rz-slider-model='maintenancePercent', rz-slider-ceil='25', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Wertsteigerung Immobilie
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='valuedynamic', name='valuedynamic', ng-model='valuedynamic', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='valuedynamic', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Steigerung laufende Kosten
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='costdynamic', name='costdynamic', ng-model='costdynamic', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='costdynamic', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')


                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details Mieten
                    div#collapseTwo.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        label.xxsbottommargin(for='rent') Mietkostensteigerung
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='rentdynamic', name='rentdynamic', ng-model='rentdynamic', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='rentdynamic', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')


                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details Finanzierung
                    div#collapseThree.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        label.xxsbottommargin(for='rent') Zinssatz Geldanlage
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='equityinterest', name='equityinterest', ng-model='equityinterest', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='equityinterest', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Zinssatz Darlehen
                        div.row
                          div.col-md-7
                            div.input-group
                              input(type='number', id='debtinterest', name='debtinterest', ng-model='debtinterest', class='sm-form-control')
                              span.input-group-addon % p. a.
                          div.col-md-5.noleftpadding
                        rzslider(rz-slider-model='debtinterest', rz-slider-ceil='20', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')

                        div.divider.notopmargin.mbottommargin

                        label.xxsbottommargin(for='rent') Monatliche Rückzahlungsrate - Eingabe als Anteil des monatlich zur Darlehenstilgung verfügbaren freien Einkommens
                        div.row
                          div.col-md-6
                            div.input-group
                              input(type='number', id='debtpay', name='debtpay', ng-model='debtpay', class='sm-form-control')
                              span.input-group-addon %
                          div.col-md-6.noleftpadding
                            p.nobottommargin.text-right {{calcDebtpay() | currency:" €":2 }}/Mt.
                        rzslider(rz-slider-model='debtpay', rz-slider-ceil='100', rz-slider-precision="2", rz-slider-step="0.25", rz-slider-hide-limit-labels='true', rz-slider-translate='sliderTranslate')



          //- main content
          div.postcontent.bothsidebar.nobottommargin.clearfix
            h4.widget_h4 Ergebnis
            p {{result1() | currency:" €":2}}
            p {{result2() | currency:" €":2}}

          //- sidebar right
          div.sidebar.nobottommargin.col_last.clearfix
            div.sidebar-widgets-wrap
              div.widget.clearfix
                h4 Mehr von FinBob
                p (links)
              div.widget.clearfix
                h4 Share
              div.widget.clearfix
                h4 Newsletter
              div.widget.clearfix
                h4 Werbung

    include ../_includes/footer
