//
   Created by benjamintanz on 13.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Hauskauf, Grundstücke, Grundstückspreise')
  meta(name='description', content='Nicht nur in sehr abgelegenen Regionen kann man noch zu günstigen Grundstücken kommen. Wer genau hinschaut kann auch in den Gegenden um die deutschen Großstädte preiswertes Bauland finden. Wir zeigen Ihnen, wo Grundstücke noch preiswert sind.')

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content(ng-controller='zehnschnaeppchenController as controller')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 10 Schnäppchen-Regionen zum Bauen

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Blog
                  li.nobottommargin
                    a(href='/hauskauf') Hauskauf
                  li.nobottommargin
                    a(href='/hauskauf/schnaeppchen-regionen-zum-bauen') Schnäppchen-Regionen zum Bauen

                ul.entry-meta.clearfix
                  li
                    i.icon-calendar3
                    | 19.10.2015 &nbsp
                    i.icon-user
                    | FinIQ &nbsp


                div.entry-content.notopmargin

                  p Nicht nur in sehr abgelegen Regionen kann man zu günstigen Grundstücken kommen. Auch die Gegenden um die deutschen Großstädte haben das ein oder andere Schnäppchen zu bieten. FinIQ hat die Städte und Landkreise um die Großstädte nach den Kriterien Entfernung zur Großstadt und Grundstückspreis pro Quadratmeter unter die Lupe genommen und die ein oder andere Überraschung gefunden. Wenn Sie also bereit sind, einige Kilometer zu pendeln, können Sie attraktive Jobs in der Großstadt mit einem preiswerten Haus auf dem Land verbinden. Wir zeigen Ihnen, wo Grundstücke in Metropolregionen noch preiswert sind.


                  div#region-carousel.carousel.slide(data-ride='carousel', data-interval='12000')
                    //- indicators
                    ol.carousel-indicators
                      li(data-target="#region-carousel", data-slide-to="0", class="active")
                      li(data-target="#region-carousel", data-slide-to="1")
                      li(data-target="#region-carousel", data-slide-to="2")
                      li(data-target="#region-carousel", data-slide-to="3")
                      li(data-target="#region-carousel", data-slide-to="4")
                      li(data-target="#region-carousel", data-slide-to="5")
                      li(data-target="#region-carousel", data-slide-to="6")
                      li(data-target="#region-carousel", data-slide-to="7")
                      li(data-target="#region-carousel", data-slide-to="8")
                      li(data-target="#region-carousel", data-slide-to="9")

                    //- slides wrapper
                    div.carousel-inner(role='listbox')
                      div.item.active
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/muehldorf.jpg', alt='Mühldorf')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Dr. János Korom,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Mühldorf am Inn
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region München
                          p.notopmargin(style= 'line-height: 1.2;') Im etwa 75 Kilometer von München entfernten Landkreis Mühldorf am Inn liegt der durchschnittliche Grundstückspreis bei 92 € pro Quadratmeter und ist damit 16 mal günstiger als in München.
                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/oderspree.jpg', alt='Oder-Spree-Kreis')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Sebastian Michalke,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Oder-Spree-Kreis
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Berlin
                          p.notopmargin(style= 'line-height: 1.2;') In Berlin sind die Preise in den letzten Jahren stark gestiegen. Nicht so im etwa 60 Kilometer entfernten Oder-Spree-Kreis, wo der Quadrameter mit 41 € ganze 10 mal günstiger ist als in Berlin.
                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/erding.jpg', alt='Erding')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Ștefan Jurcă,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Erding
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region München
                          p.notopmargin(style= 'line-height: 1.2;') Sicher gibt es günstigere Landkreise als Erding. Trotzdem sind die Grundstücke mit etwa 183 € pro Quadratmeter 8 mal günstiger als im nur 40 Kilometer entfernten München.

                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/segeberg.jpg', alt='Segeberg')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Henry Mühlpfordt,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Segeberg
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Hamburg
                          p.notopmargin(style= 'line-height: 1.2;') Auch im hohen Norden gibt es preiswertes Bauland. Im etwa 65 Kilometer entfernten Segeberg zahlt man 80 € pro Quadratmeter. In Hamburg selbst würde man 8 mal soviel zahlen.

                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/lauenburg.jpg', alt='Herzogtum Lauenburg')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Michael Mertens,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Herzogtum Lauenburg
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Hamburg
                          p.notopmargin(style= 'line-height: 1.2;') Im idyllischen Landkreis Herzogtum Lauenburg, etwa 50 Kilometer von Hamburg entfernt, bekommt man Bauland 6,5 mal günstiger als in Hamburg.

                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/mkk.jpg', alt='Main-Kinzig-Kreis')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - René Hering,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Main-Kinzig-Kreis
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Frankfurt am Main
                          p.notopmargin(style= 'line-height: 1.2;') Für Sparfüchse rund um Frankfurt gibt es den Main-Kinzig-Kreis. Dort zahlt man mit 165 € pro Quadratmeter 4 mal weniger als in Frankfurt, bei einer Entfernung von etwa 50 Kilometern.
                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/neuburg.jpg', alt='Neuburg-Schrobenhausen')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Brian Burger,
                            a(href='https://creativecommons.org/licenses/by/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Neuburg-Schrobenhausen
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Ingolstadt
                          p.notopmargin(style= 'line-height: 1.2;') Im Landkreis Neuburg-Schrobenhausen ist es mit 109 € pro Quadratmeter 3,5 mal günstiger als in Ingolstadt, bei einer Entfernung von nur etwa 30 Kilometern.

                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/rheinneuss.jpg', alt='Rhein-Kreis Neuss')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - sodele,
                            a(href='https://creativecommons.org/licenses/by-sa/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Rhein-Neuss-Kreis
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Düsseldorf
                          p.notopmargin(style= 'line-height: 1.2;') Im direkt an Düsseldorf angrenzenden Rhein-Kreis Neuss bekommt man Bauland 3,5 mal günstiger als in Düsseldorf.

                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/forchheim.jpg', alt='Forchheim')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - kavau100,
                            a(href='https://creativecommons.org/licenses/by-nd/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Kreis Forchheim
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Nürnberg
                          p.notopmargin(style= 'line-height: 1.2;') Nach Nürnberg fährt man durchschnittlich nur 35 Kilometer, aber das Bauland ist im Landkreis Forchheim 3 mal günstiger als in der Frankenmetropole.
                      div.item
                        img(src='/assets/img/hauskauf/zehnSchnaeppchenRegionen/rheinerft.jpg', alt='Rhein-Erft-Kreis')
                        div.carousel-caption
                          p.sf-image-source Quelle: Flickr - Kimba Reimer,
                            a(href='https://creativecommons.org/licenses/by/2.0', target="_blank")  Lizenz
                          h2.nobottommargin Rhein-Erft-Kreis
                          p.notopmargin(style= 'line-height: 1.2; text-transform: uppercase;') Region Köln
                          p.notopmargin(style= 'line-height: 1.2;') Köln ist sehr nah, mit durchschnittlich 168 € pro Quadratmeter kosten die Grundstücke jedoch nur halb so viel wie in der Metropole.


                    //- controls
                    a.left.carousel-control(href="#region-carousel", role="button", data-slide="prev")
                      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                      span.sr-only Vorheriges
                    a.right.carousel-control(href="#region-carousel", role="button", data-slide="next")
                      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                      span.sr-only Nächstes
                  //- set captions below pictures
                  div.new-caption-area



                  div.divider.notopmargin.mbottommargin
                  p Trotz der günstigen Grundstücke sollte man bei der Entscheidung auch die Pendelkosten berücksichtigen. Die Preisunterschiede sind in vielen Regionen jedoch so groß, dass sich aufs Land ziehen finanziell allemal lohnt. Die folgende Tabelle gibt eine Übersicht der Schnäppchen-Regionen für den Hausbau rund um die Großstädte.

                  div.sf-image
                    img.img-responsive(src="/assets/img/hauskauf/schnaeppchen_Infographic.png", alt="Die attraktivsten Arbeitsmärkte Deutschlands.")



                  //-p.strong Sie haben Fragen zu unserer Studie? Kontaktieren Sie uns: info@finiq.de

                  p.weak Quelle: Statistisches Bundesamt (www.destatis.de). Es wurden die letzten verfügbaren Daten verwendet (2013).





          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          //mixin sidebar(['Mehr von FinIQ', 'links'],['Share'], ['Newsletter'])
          //- </div> ********** END sidebar right **********
    include ../_includes/footer
