//
   Created by benjamintanz on 05.10.15.

extends ../layout
block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Bausparrechner', 'Das Tool zur Berechnung von Bausparverträgen', ['Home', '/'], ['Bausparen', '/bausparen'], ['Bausparrechner', '/bausparen/bausparrechner', 'true'])

    //-page-content
    section#content(ng-controller='bausparrechnerController as vm')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** sidebar left (INPUTS) ***********
          div.sidebar.nobottommargin.clearfix
            div.sidebar-widgets-wrap.sidebar-widgets-wrap-calc
              div.widget.clearfix
                h4
                  i.icon-pencil
                  | &nbsp; Eingaben

                //- primary inputs
                sf-slider(description='Bausparsumme',               value='vm.inputs.principal',    tip='Der Gesamtbetrag, über den der Bausparvertrag abgeschlossen wird. Dies ist der Betrag, welcher bei Zuteilung des Bausparvertrages ausgezahlt wird', addon='€', id='principal',  options='{"floor": "3000", "ceil": "300000", "precision": "1", "step": "1000"}')
                //sf-slider(description='Sparbeitrag',                value='vm.inputs.saving',       tip='Der Regelsparbeitrag, welcher in der Ansparphase monatlich in den Bausparvertrag eingezahlt wird. Es wird unterstellt, dass die Zahlung jeweils am Monatsende (nachschüssig) erfolgt. ',addon='€', id='rent',   options='{"floor": "0", "ceil": "1500", "precision": "1", "step": "25"}')

                sf-slider(description='Sparbeitrag', type='frac',  value='vm.inputs.saving' tip='Der monatliche Regelsparbeitrag als Promillesatz von der Bausparsumme, welcher in der Ansparphase monatlich in den Bausparvertrag eingezahlt wird. Es wird unterstellt, dass die Zahlung jeweils am Monatsende (nachschüssig) erfolgt. Für die meisten Verträge liegt der Satz zwischen 3‰ und 10‰.',addon='‰', id='saving', options='{"floor": "1", "ceil": "16", "precision": "2", "step": "0.1"}', fun='vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000)')

                sf-slider(description='Anspardauer',                value='vm.inputs.termsave',    addon='Jahre',    tip='Der Zeitraum, über den die monatlichen Sparbeiträge geleistet werden.' ,id='termsave',  options='{"floor": "1", "ceil": "15", "precision": "2", "step": "1"}')
                sf-slider(description='Guthabenzinssatz',           value='vm.inputs.interestsave', addon='% p. a.',  tip='Der jährlichen Zinssatz, welchen Sie laut Bausparvertrag auf das angesparte Kapital erhalten.' ,id='interestsave',  options='{"floor": "0", "ceil": "3", "precision": "2", "step": "0.05"}')
                sf-slider(description='Darlehenszinssatz',          value='vm.inputs.interestdebt', addon='% p. a.',  tip='Der jährliche Zinssatz, welchen Sie laut Bausparvertrag für das Bauspardarlehen zahlen.' ,id='interestdebt',  options='{"floor": "0", "ceil": "5", "precision": "2", "step": "0.05"}')
                //sf-slider(description='Rückzahlungsrate',           value='vm.inputs.repay',       tip='Der monatliche Betrag zur Rückzahlung des Darlehens. Dieser Betrag fällt nach Zuteilung während der Rückzahlungsphase an und besteht aus Zins und Tilgung. Es wird unterstellt, dass die Zahlung jeweils am Monatsende (nachschüssig) erfolgt. ',addon='€', id='repay',   options='{"floor": "0", "ceil": "1500", "precision": "1", "step": "25"}')

                sf-slider(description='Rückzahlungsrate', type='frac',  value='vm.inputs.repay' tip='Der monatliche Betrag zur Rückzahlung des Darlehens als Promillesatz von der Bausparsumme. Dieser Betrag fällt nach Zuteilung während der Rückzahlungsphase an und besteht aus Zins und Tilgung. Es wird unterstellt, dass die Zahlung jeweils am Monatsende (nachschüssig) erfolgt. ',addon='%', id='repay', options='{"floor": "2", "ceil": "16", "precision": "2", "step": "0.05"}', fun='vm.calcAbsolute(vm.inputs.principal, vm.inputs.repay, 1000)')

                //- secondary inputs
                div.panel-group.nobottommargin.accordion
                  div.panel.panel-default
                    div.panel-heading(style='font-size: 14px;')
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Wohnungsbauprämie
                    div#collapseOne.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        sf-select(description='Wohnungsbauprämie berücksichtigen?',   value='vm.inputs.bonus',      tip='Auswahl zur Bestimmung, ob die Wohnungsbauprämie berücksichtigt werden soll. Bei Angabe von "JA" wird der Rechner mittels weiterer Fragen zunächst feststellen, ob und in welchem Umfang Anspruch auf die Wohnungsbauprämie besteht. Sofern Anspruch besteht wird die entsprechende Prämie automatisch in die Berechnung einbezogen.', id='bonus',  options='option.name for option in [{id: 1, name: "Ja"}, {id: 2, name: "Nein"}] track by option.id')
                        sf-select(description='Familienstand',                        value='vm.inputs.marriage',   tip='Angabe des Familienstandes zur Berechnung von Förderansprüchen.', id='marriage',  options='option.name for option in [{id: 1, name: "Ledig"}, {id: 2, name: "Verheiratet"}] track by option.id')
                        sf-slider(description='Bruttoeinkommen',                      value='vm.inputs.income',     tip='Das jährliches Bruttoeinkommen wird zur Berechnung von Förderansprüchen benötigt. Falls Sie verheiratet sind geben Sie hier bitte die Summe der Einkommen beider Ehepartner an.', addon='€ / Jahr', id='income',  options='{"floor": "10000", "ceil": "200000", "precision": "1", "step": "500"}')

                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details
                    div#collapseTwo.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        //sf-slider(description='Abschlussgebühr',                  value='vm.inputs.initialfee',    tip='Eventuelle einmalige Gebühren, welche beim Abschluss des Vertrages anfallen. Dies Gebühren werden mit den Einzahlungen verrechnet. Falls keine einmaligen Gebühren anfallen, tragen Sie einfach 0 ein.', addon='€', id='initialfee',  options='{"floor": "0", "ceil": "2500", "precision": "1", "step": "10"}')

                        sf-slider(description='Abschlussgebühr', type='frac',  value='vm.inputs.initialfee' tip='Die einmaligen Gebühren als Prozentsatz der Bausparsumme, welche für die meisten Bausparverträge bei Abschluß anfallen. Der Gebührensatz je nach Vertrag zwischen 0,5 % und 3 %.',addon='%', id='initialfee', options='{"floor": "0", "ceil": "5", "precision": "2", "step": "0.05"}', fun='vm.calcAbsolute(vm.inputs.principal, vm.inputs.initialfee, 100)')

                        sf-slider(description='Sondereinzahlung bei Beginn',      value='vm.inputs.initialpay',    tip='Einmalige Sparbeiträge, welche bei manchen Verträgen zu Beginn der Vertragsperiode möglich sind. Diese Sondereinzahlungen werden entsprechend über die Ansparperiode verzinst.', addon='€', id='initialpay',  options='{"floor": "0", "ceil": "15000", "precision": "1", "step": "50"}')
                        sf-slider(description='Auszahlungsprozentsatz',           value='vm.inputs.paypercent',   addon='%',  tip='Bei Standardverträgen ist der Auszahlungsprozentsatz 100% der Bausparsumme. Bei einigen Verträgen kann jedoch davon nach oben oder unten abgewichen werden, was die Auszahlung relativ zur Bausparsumme entsprechend erhöht oder senkt. Im Zweifel sollten Sie hier 100% eingeben.' ,id='paypercent',  options='{"floor": "0", "ceil": "100", "precision": "2", "step": "1"}')

          //- </div> ********** END sidebar left (INPUTS) **********


          //- ********** page center - main content **********
          div.postcontent.bothsidebar.nobottommargin.clearfix
            div.col_full
              //- principle feasible
              div.row(ng-if='vm.result.savingratio >= 40 && vm.result.savingratio < 65')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #50B432')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Die Bausparsumme von
                    span(style='color: #50B432')  {{vm.inputs.principal | currency:"€":2}}
                    |  ist realistisch für diese Eingaben. Ihre Ansparquote beträgt {{vm.result.savingratio | currency:"%":0}}.


              //- principle maybe feasible
              div.row(ng-if='vm.result.savingratio < 40 && vm.result.savingratio >= 20')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #F38200')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Die Bausparsumme von
                    span(style='color: #F38200')  {{vm.inputs.principal | currency:"€":2}}
                    |  ist sehr hoch, da die Ansparquote unter 40 % liegt.

              //- principle not feasible
              div.row(ng-if='vm.result.savingratio < 20')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #B20925')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Die Bausparsumme von
                    span(style='color: #B20925')  {{vm.inputs.principal | currency:"€":2}}
                    |  ist sehr wahrscheinlich nicht realisierbar, da die Ansparquote unter 20 % liegt.

              //- principle maybe feasible
              div.row(ng-if='vm.result.savingratio >= 65 && vm.result.savingratio < 100')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #F38200')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Die Bausparsumme von
                    span(style='color: #F38200')  {{vm.inputs.principal | currency:"€":2}}
                    |  ist sehr niedrig im Vergleich zum Sparbeitrag. Ihr Ansparquote liegt bei {{vm.result.savingratio | currency:"%":0}}.

              //- principle not feasible
              div.row(ng-if='vm.result.savingratio >= 100')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #B20925')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Die Bausparsumme von
                    span(style='color: #B20925')  {{vm.inputs.principal | currency:"€":2}}
                    |  ist zu niedrig. Ihre Ansparquote ist größer als 100 %.


              //- warning concering the loan
              div.row(ng-if='vm.result.termloan > 30 || !vm.result.termloan')
                div.col-sm-12
                  p.warning Hinweis: Die Darlehenslaufzeit zur Rückzahlung ist größer als 30 Jahre. Wählen Sie eine niedrigere Bausparsumme, eine höhere Rückzahlungsrate oder einen höheren Sparbeitrag.



              //- effective interest rate
              div.row(ng-if='vm.result.irrSave && vm.result.irrLoan').animate-if
                div.col-sm-6
                  div.sf-info-box
                    span(style='font-size: 24px; color: #009CDE;')  {{vm.result.irrSave | currency:"%":2}}
                    p Effektiver Zinssatz Ansparphase


                div.col-sm-6
                  div.sf-info-box
                    span(style='font-size: 24px; color: #009CDE;') {{vm.result.irrLoan | currency:"%":2}}
                    p Effektiver Zinssatz Rückzahlungsphase



              div.divider.notopmargin.lbottommargin
              //- charts
              div
                highchart(id='chart01', config='chartConfig_1')
              div.divider.notopmargin.lbottommargin
              div
                highchart(id='chart02', config='chartConfig_2')


              div.divider.notopmargin.lbottommargin


              h4 Berechnungsdetails
              div.tabs.tabs-tb.tabs-bordered.clearfix.ui-tabs.ui-widget.ui-widget-content.ui-corner-all#results-tabs
                ul.tab-nav.clearfix.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
                  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(role='tab', tabindex='0', aria-controls='tabs-5', aria-labelledby='ui-id-5', aria-selected='true')
                    a(href='#tabs-5', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-5')
                      i.fa.fa-calculator
                      | Ergebnisse
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-6', aria-labelledby='ui-id-6', aria-selected='false')
                    a(href='#tabs-6', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-6')
                      i.fa.fa-cogs
                      | Vorgehen
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-7', aria-labelledby='ui-id-7', aria-selected='false')
                    a(href='#tabs-7', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-7')
                      i.fa.fa-lightbulb-o
                      | Annahmen
                div.tab-container

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-5(aria-labelledby='ui-id-5', role='tabpanel', aria-expanded='true', aria-hidden='false', style="display: block;")
                    p.xsbottommargin.stext Alle Angaben in €, sofern nicht anders bezeichnet
                    table.table
                      thead
                        tr
                          th
                          th.text-right
                      tbody
                        tr.active
                          td Sparguthaben Ende Ansparphase
                          td.text-right {{vm.result.finalsavingswohnungsbau | currency:"":2}}
                        tr
                          td &nbsp; davon Spareinzahlungen
                          td.text-right {{vm.result.totalpays | currency:"":2}}
                        tr
                          td &nbsp; davon Guthabenzinsen
                          td.text-right {{vm.result.totalinterest | currency:"":2}}
                        tr
                          td &nbsp; davon Wohnungsbauprämie
                          td.text-right {{vm.result.wohnungsbau | currency:"":2}}
                        tr
                          td &nbsp; Anzahl Sparraten
                          td.text-right {{vm.result.numberpays | currency:" (Monate)":0}}
                        tr
                          td &nbsp; Ansparquote
                          td.text-right {{vm.result.savingratio | currency:" %":2}}
                        tr.active
                          td Auszahlungsbetrag bei Zuteilung
                          td.text-right {{vm.result.totalloanpay | currency:"":2}}
                        tr.active
                          td Rückzahlungsaufwand insgesamt
                          td.text-right {{vm.result.totalloanwinterest | currency:"":2}}
                        tr
                          td &nbsp; davon Darlehenshöhe
                          td.text-right {{vm.result.totalloan | currency:"":2}}
                        tr
                          td &nbsp; davon Darlehenszinsaufwand
                          td.text-right {{vm.result.interestloan | currency:"":2}}
                        tr
                          td &nbsp; Anzahl Darlehensraten
                          td.text-right {{vm.result.totalloanpays | currency:" (Monate)":1}}
                        tr
                          td &nbsp; Laufzeit des Darlehens
                          td.text-right {{vm.result.termloan | currency:" Jahre":2}}






                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-6(aria-labelledby='ui-id-6', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p Der Mieten-oder-Kaufen-Rechner stellt das Endvermögen für die Szenarien Mieten oder Kaufen einer Immobilie bzw. Eigentumswohnung gegenüber und dient damit als Unterstützung bei der Kauf- oder Mietentscheidung. Für beide Szenarien wird das Endvermögen über den gewählten Zeitraum berechnet, indem das Anfangsvermögen sowie Zu- und Abflüsse analysiert werden. Allgemein basiert die Analyse also auf der Bestimmung und Verrechnung aller Zahlungsströme. Wichtige Enflußgröße für das Ergebnis ist das Verhältnis von Mietkosten zu erwarteten Kredit- und Instandhaltungskosten beim Immobilienkauf. Details zur Berechnung für die Szenarien können Sie den folgenden Abschnitten entnehmen.
                    h5.xsbottommargin Wie das Endvermögen für das Kaufszenario berechnet wird
                    p.xsbottommargin Die Berechnung des Vermögens für das Kaufszenario lässt sich in drei Schritte unterteilen. Im ersten Schritt werden alle Zahlungen (bzw. Vermögensgegenstände) zum Zeitpunkt des Immobilienkaufs berechnet und addiert. Im zweiten Schritt werden die Zahlungsströme während des gesamten Zeitraumes zwischen Immobilienkauf und Ende des Betrachtungszeitraums (gewähltes "Jahr ab Kauf") erstellt. Schließlich erfolgt die Berechnung von Zahlungsströmen bzw. Vermögensgegenständen am Ende es Zeitraums.
                    p.xsbottommargin Zur Berechnung der Zahlungen zum Zeitpunkt des Immobilienkaufs wird zunächst die Höhe des erforderlichen Darlehens bestimmt. Diese ergibt sich aus dem eingegebenen Kaufpreis und der Kaufnebenkosten abzüglich des Eigenkapitals. Den positiven Zahlungsströmen/Vermögensgegenständen Darlehensauszahlung und Eigenkapital steht zum Kaufzeitpunkt der negative Zahlungsstrom Kaufpreis der Immobilie inklusive Nebenkosten gegenüber. Der Saldo ergibt grundsätzlich null.
                    p.xsbottommargin Die Zahlungsströme während der Laufzeit bestehen aus Zinsertrag und -aufwand, Zahlungen zur Darlehenstilgung sowie laufende Kosten der Immobilie. Der Zinsaufwand wird auf Grundlage der ermittelten Darlehenshöhe, der eingegebenen Rückzahlungsrate - welche bis zur vollständigen Rückzahlung des Darlehens nach Voreinstellung dem verfügbaren Einkommen zum Wohnen entspricht - und des Darlehenszinssatzes ermittelt. Weiterhin wird der Zinsertrag aus der Anlage eventueller Differenzen zwischen dem verfügbaren Einkommen zum Wohnen und der Darlehensrückzahlung sowie der Ertrag aus Anlage von Überschüssen nach vollständiger Rückzahlung des Darlehens (sofern zutreffend) berechnet. Aus diesen Rechnungen ergeben sich schließlich die Positionen Zinsaufwand und -ertrag. Die Zahlungen zur Darlehenstilgung ergeben sich aus der angegeben Rückzahlungsrate. Analog berechnen sich die gesamten laufenden Kosten, welche auf Grundlage der Angabe zu den monatlichen laufenden Kosten aggregiert werden.
                    p Schließlich wird der Immobilienwert am Ende des Zeitraums (Preis plus eventuelle Steigerungen) und eine eventuelle Darlehensrestschuld berechnet. Um das Endvermögen zu berechnen wird letztlich der Saldo aus diesen Größen zu den bereits ermittelten Werten addiert. Ergebnis ist das rechnerische Endvermögen für den Immobilienkauf, welches praktisch alle relevanten Parameter berücksichtigt.
                    h5.xsbottommargin Wie das Endvermögen für das Mietszenario berechnet wird
                    p.xsbottommargin Die Berechnung des Endvermögens für das Mietszenario ist vergleichsweise einfach. In diesem Fall setzt sich das Endvermögen aus der Anlage des Eigenkapitals zum eingegebenen/vorgegebenen Zinssatz für die Geldanlage sowie den anfallenden Überschüssen aus der Differenz zwischen dem verfügbaren Einkommen zum Wohnen und den tatsächlichen Mietkosten zusammen. Im Fall der Miete kann das Eigenkapital, welches andernfalls zur Finanzierung der Immobilie verwendet werden würde, zum Anlagezinssatz angelegt werden. Auch die verfügbaren Überschüsse aus der Differenz zwischen dem verfügbaren Einkommen zum Wohnen und der Miete können verzinslich angelegt werden.
                    p Damit ergibt sich das Endvermögen im Mietszenario aus dem anfänglich verfügbaren Eigenkapital, der Differenz aus dem gesamten verfügbaren Wohneinkommen und den gesamten Mietkosten sowie dem Zinsertrag aus der Anlage des Eigenkapitals und des über den Zeitraum anfallenden überschüssigen Kapitals.

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-7(aria-labelledby='ui-id-7', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p.xsbottommargin Um Ihnen die Analyse zu erleichtern haben wir bereits sinnvolle Annahmen zur Berechnung getroffen. Die folgenden Abschnitte erläutern die wichtigsten Annahmen. Sie können Annahmen jedoch auch ändern und die Analyse so noch besser auf Ihre persönlichen Verhältnisse zuschneiden, indem Sie die Detailangaben in der Liste der Eingabefelder entsprechend anpassen.
                    p.xsbottommargin
                      strong Kaufnebenkosten:
                      |  Die Kaufnebenkosten bestehen im wesentlichen aus der Grunderwerbssteuer sowie Gebühren für Makler und Notar/Gericht. Im Durchschnitt belaufen sich diese Kosten auf etwa 10 % des Kaufpreises, wobei die Grunderwerbssteuer (je nach Bundesland) ca. 5 % ausmacht, die Maklergebühr etwa 3,8 % sowie Notar- und Gerichtskosten jeweils etwa 0,8 % und 0,4 %.
                    p.xsbottommargin
                      strong Laufende Kosten:
                      |  Diese Kosten setzen sich zusammen aus den Kosten für die Nutzung / den Betrieb (Wasser, Heizung, Müll) und die Instandhaltung der Immobilie. Der angenommene Satz von 2,5 % des Kaufpreises ist eine konservative (hohe) Schätzung und setzt sich zusammen aus einem Betriebskostenanteil von 1,25 % und einem Instandhaltungskostenanteil von 1,25 %. Der Betriebskostenanteil von 1,25 % entspricht etwa einem Betriebskostensatz von 25 % der Gesamtmiete für eine vergleichbare Mietwohnung und ist damit eine Annährung an den aktuellen Betriebskostenspiegel. Der Instandhaltungskostensatz orientiert sich an der sogenannten Peterschen Formel zur Abschätzung der Instandhaltungsrücklage für Immobilien. Diese Formel basiert auf empirisch ermittelten durchschnittlichen Instandhaltungskosten und besagt, dass innherhalb von 80 Jahren der 1,5-fache Herstellungswert der Immobilie für die Instandhaltung notwendig wird. Um den Instandhaltungskostensatz zu berechnen gehen wir davon aus, dass die Herstellungskosten der Immobilie zwei Drittel des Kaufpreises ausmachen (Kaufpreis abzüglich u. a. des Grundstücks). Damit ergibt sich der Satz nach der Peterschen Formel aus der Gleichung (Kaufpreis * 0,66 * 1,5) / 80 = Kaufpreis * 1,25 %. Falls Sie genauere Angaben zu den spezifischen Kosten Ihrer Immobilie haben können Sie den Kostensatz natürlich entsprechend anpassen. Nichtdestrotrotz ist der Satz von 2,5 % auf Grundlage realistischer Annahmen für Immobilien in Deutschland ermittelt und kann daher als realistischer Ausgangspunkt für die Berechnung dienen.
                    p.xsbottommargin
                      strong Wertsteigerung Immobilie:
                      |  Die Wertsteigerung ist von Region zu Region unterschiedlich und eine nur mit großer Unsicherheit prognostizierbare Größe. Die Vorgabe von 1,1 % orientiert sich an der langfristigen durchschnittlichen Immobilienrendite in Deutschland über die letzten 10 Jahre.
                    p.xsbottommargin
                      strong Steigerung laufende Kosten:
                      |  Die Vorgabe zur jährlichen Steigerung der laufenden Kosten von 2,2 % orientiert sich an der Entwicklung des Betriebskostenspiegels über die vergangenen 10 Jahre.
                    p.xsbottommargin
                      strong Steigerung Mietkosten:
                      |  Auch die Vorgabe zur jährlichen Steigerung der Mietkosten  orientiert sich an der Entwicklung des Betriebskostenspiegels über die letzten 10 Jahre.
                    p.xsbottommargin
                      strong Zinssatz Geldanlage und Darlehen:
                      |  Die Zinssätze für Geldanlage und Darlehen orientieren sich an den durchschnittlichen aktuellen Marktzinssätzen für langfristige Anlagen und Darlehen. Im Fall der Anlage wird angenommen, dass die Zinsen jährlich dem Kapital zugeschlagen werden und fortan mitverzinst werden (Zinseszins).
                    p.xsbottommargin
                      strong Monatliche Rückzahlungsrate:
                      |  Die Vorgabe für die monatliche Rückzahlungsrate beträgt 90 % des freien verfügbaren Einkommens. Damit wird nahezu das gesamte monatliche verfügbare Einkommen zum Wohnen abzüglich der laufenden Kosten für die Immobilie zur Tilgung des Darlehens verwendet. Diese Einstellung führt zu einer schnellen Tilgung des Darlehens unter Berücksichtigung eines kleinen Liquiditätspuffers. Senken Sie diesen Prozentsatz entsprechend, sofern Sie einen geringeren Betrag zur Darlehenstilgung einsetzen wollen. Damit verlängert sich auch die Darlehensperiode bzw. die am Ende des Betrachtungszeitraums bestehende Restschuld.
                    p.xsbottommargin
                      strong Weitere Annahmen:
                      |  Bezüglich der Zahlungszeitpunkte geht der Rechner davon aus, dass Einkommen zum Wohnen jeweils am Monatsanfang zur Verfügung steht, Mietzahlungen am Monatsanfang geleistet werden und Tilgungszahlungen am Monatsende anfallen.


            div.col_full
              h3.xsbottommargin Die Entscheidung zum Kaufen oder Mieten
              p Der Kauf einer Immobilie ist eine Entscheidung von großer finanzieller und persönlicher Tragweite und sollte daher gut überlegt sein. Für viele Immobilienerwerber spielen emotionale Komponenten bei der Entscheidung für die eigenen vier Wände eine große Rolle. Um später keine bösen Überraschungen zu erleben sollte jedoch beim Immobilienerwerb auch auf die wirtschaftliche Komponente geachtet werden. Kernaspekt der wirtschaftlichen Betrachtung ist die Analyse, ob es finanziell lohnenswert ist, eine bestimmte Immobilie zu kaufen oder besser zur Miete zu wohnen. Der finanzielle Aspekt des Immobilienerwerbs scheint oft undurchsichtig, unter anderem auch, weil in den Prozess involvierte Parteien die verschiedensten Eigeninteressen verfolgen. Auch wenn man beim Immobilienerwerb nicht alle finanziellen Risiken ausschließen kann gilt: Eine gute Entscheidung ist meist leichter als gedacht!
              h5.xsbottommargin Ist der Kauf immer die beste Option?
              p Lange Zeit galt der Kauf einer Wohnimmobilie als die wirtschaftlich beste Option, insbesondere bei Verfügbarkeit von hohem Eigenkapital und einer günstigen Finanzierung. Dies ist heute allerdings nicht immer der Fall und die wirtschaftliche Vorteilhaftigkeit hängt letzlich von verschiedenen Faktoren ab. Beispielsweise unterliegen Immobilienpreise teils starken und regional unterschiedlichen Schwankungen, während Mietpreise unter anderem auch durch staatliche Regulierung vergleichsweise konstant sind. Die folgende Grafik "Preis- und Mietenindex für Deutschland" zeigt, dass die Kaufpreise für Immobilien in Deutschland zuletzt stark angestiegen sind während die Mietpreise langfristig mit einer konstanten moderaten Rate steigen. Daher kann es zu bestimmten Zeiten an bestimmten Orten besser sein, zur Miete zu wohnen. Weiterhin ist der Kauf einer Immobilie mit diversen Fixkosten verbunden, welche sich erst über längere Zeit amortisieren. Daher ist auch relevant, über welchen Zeitraum Sie die Immobilie bewohnen möchten. Schließlich ist ein Vergleich der Mietkosten mit den beim Immobilienkauf entstehenden Finanzierungskosten (Kreditzinsen) und den Instandhaltungskosten für den konkreten Fall eine wichtige Entscheidungskomponente.
              highchart(id='chart02', config='chartConfig_2')
              div.divider.notopmargin.mbottommargin
              h5.xsbottommargin Wie Ihnen dieses Tool helfen kann
              p Das kaufen-oder-mieten-Tool soll Ihnen die Analyse so einfach wie möglich machen. Dazu haben wir die wichtigsten Einflussfaktoren der Entscheidung analysiert und in das Tool integriert. Sie können Details wie etwa laufende Kosten und deren jährliche Steigerungsraten individuell bestimmen und eingeben. Falls Ihnen keine speziellen Werte vorliegen können Sie auch unsere Vorgaben verwenden, welche auf Grundlage aktueller Daten zum Immobilienmarkt sowie weit verbreiteter Berechnungsmethoden wie etwa der Peterschen Formel zur Ermittlung der Instandhaltungskosten bestimmt worden sind.

          //- </div> ********** END page center - main content **********



          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar(['Mehr von FinIQ', 'links'],['Share'], ['Newsletter'])
          //- </div> ********** END sidebar right **********
    include ../_includes/footer
