//
   Created by benjamintanz on 13.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Kosten, Kind, Baby, Finanzplanung, Geldanlage')
  meta(name='description', content='')
// TODO: content tag


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Das Baby ist da: Wie Sie das neue Familienmitglied in Ihrer Finanzplanung berücksichtigen

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Blog
                  li.nobottommargin
                    a(href='/geldanlage') Geldanlage
                  li.nobottommargin
                    a(href='/geldanlage/das-baby-ist-da') Das Baby ist da

                ul.entry-meta.clearfix
                  li
                    i.icon-calendar3
                    | 12.11.2015 &nbsp
                    i.icon-user
                    | FinIQ &nbsp


                div.entry-content.notopmargin
                  div.entry-image.alignright
                    img(src='/assets/img/geld_anlegen/blog_dasBabyIstDa_01.jpg', alt='Finanzplanung für den Nachwuchs')
                    p.sf-image-source iStock.com / AGrigorjeva
                  p In Deutschland werden mehr und mehr Kinder geboren: Nach einem Tiefpunkt von 660.000 Geburten in 2011 haben in 2014 laut dem Statistischen Bundesamt 715.000 Kinder das Licht der Welt erblickt. Auch für die nächsten Jahre wird mit steigenden Geburtenzahlen gerechnet, man kann also schon von einem kleinen Babyboom in Deutschland sprechen.
                  p Nicht wenige Eltern sind in den ersten Jahren nach der Geburt überrascht, dass deutlich weniger Geld auf dem Konto übrigbleibt als zunächst erwartet: Kinder sind wunderbar, kosten aber auch einiges an Geld!
                  p Mit etwas Planung jedoch können Sie die ersten Jahre nach der Geburt gut meistern. Worauf es dabei ankommt, erläutern wir in diesem Artikel.
                  h4.sf-plain-h4 Setzen Sie Prioritäten
                  p Setzen Sie Ihre Prioritäten und passen Sie Ihre Sparziele an, um für das neue Familienmitglied vorzusorgen. Falls Ihnen die Studienfinanzierung Ihres Kindes wichtiger ist als eine große Eigentumswohnung oder ein Haus, dann sollten Sie entsprechend planen und etwa mit einem Sparplan schon heute für die Studienfinanzierung vorsorgen. Ein Studium in Deutschland kostet etwa 50.000 € (800 € pro Monat über 5 Jahre). Wenn Sie monatlich 200 € ansparen, dann haben Sie nach etwa 18 Sparjahren 50.000 € zusammen und damit das komplette Studium finanziert. Mit dem
                    a(href='/geldanlage/sparrechner')  FinIQ-Sparrechner
                    |  können Sie ausprobieren, wie das Guthaben Ihres Sparplans je nach Höhe der Einzahlungen bis zum Studienbeginn anwächst.

                  h4.sf-plain-h4 Passen Sie Ihr Budget an
                  p Laut Statistischem Bundesamt addieren sich die Kosten für ein Kind bis zum 18. Geburtstag durchschnittlich auf 131.256 €. Das ist eine Menge Geld, insbesondere weil die Kosten für ein Studium dabei noch nicht berücksichtigt sind. Monatlich belaufen sich die Kosten in den ersten 6 Lebensjahren auf etwa 500 €, in den nächsten 6 Jahren (von 6 bis 12 Jahren) auf 600 € und ab dem Alter von 12 Jahren bis zum 18. Geburtstag auf etwa 700 €.
                  blockquote
                    p Die Kosten für ein Kind belaufen sich bis zum 18. Geburtstag durchschnittlich auf 131.256 €.
                  p Gut beraten ist, wer schon früh sein Budget analysiert und prüft, wie viel Spielraum zur Finanzierung des neuen Familienmitglieds besteht. Ist genug Bares verfügbar, um monatlich 500 - 700 € zu finanzieren? Falls nicht sollte, man sich frühzeitig überlegen, die ein oder andere Ausgabe (Reisen? Neues Auto?) zugunsten des Kindes zu kürzen. Ihr Budget, Ihr Konto und vor allem Ihr Kind werden es Ihnen danken!

                  h4.sf-plain-h4 Achten Sie auf die Ausgaben
                  p Für Dinge wie einen Kinderwagen oder Kleidung für den Nachwuchs kann man ohne Probleme ein Vermögen ausgeben und die Auswahl an Kinderwägen ist heute wahrscheinlich größer als die Auswahl an neuen Autos. Mit geschicktem Marketing sorgen viele Retailer dafür, dass sogar eigentlich überflüssige Produkte als eine Notwendigkeit für Ihr Kind erscheinen: Schließlich wollen ja alle nur das Beste für Ihr Kind. Darüber hinaus sind die meisten Einkäufe nach kurzer Zeit nicht mehr verwendbar, da das Kind gewachsen ist und neue Kleidung braucht.
                  p Schauen Sie beim Shopping für Ihr Kind genauer hin und achten Sie darauf, was Sie wirklich benötigen. Es gibt wenig objektive Gründe für die Anschaffung von Designeroutfits, welche der oder dem Kleinen nach wenigen Wochen nicht mehr passen. Wenn Sie noch etwas Geld übrig haben, denken Sie lieber an die Zukunft Ihres Kindes und beginnen Sie damit, Geld für das Studium anzusparen.


                  h4.sf-plain-h4 Denken Sie über Kinderbetreuung nach
                  p Berücksichtigen Sie auch Ihre berufliche Situation in der Budgetplanung für das Kind. Wann wollen Sie nach der Geburt wieder in den Beruf einsteigen? Wer betreut das Kind während Ihrer Abwesenheit? Benötigen Sie eine Tagesmutter? Stellen Sie das Einkommen aus Ihrem Job den Kosten für die Kinderbetreuung gegenüber und entscheiden Sie, welche Betreuungslösung für Sie auch finanziell Sinn macht.
                  p Natürlich ist Ihre Liebe das Wichtigste für Ihr Kind. Umso besser, wenn Sie sich auch schon über die Finanzen für die Zeit der Kindheit Gedanken gemacht haben.

                  div.divider.notopmargin.mbottommargin



          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/geldanlage/geldanlage-fuer-studenten', title: 'Finanzplanung für den Nachwuchs', description: 'Das Baby ist da: Wie Sie das neue Familienmitglied in Ihrer Finanzplanung berücksichtigen.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie entwickeln sich meine Ersparnisse über die Zeit?'], ['/geldanlage/wie-lege-ich-geld-an', 'Wie lege ich Geld an?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
