//
   Created by benjamintanz on 13.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Smart Beta, Smart-Beta-Strategien,ETFs, investieren, Aktien')
  meta(name='description', content='Nachdem Smart-Beta-Strategien in den USA bereits seit 2010 in aller Munde sind, werden Sie nun auch von vielen Anlegern in Deutschland entdeckt. Die Attraktivität von Smart Beta liegt in der Möglichkeit, mehr Rendite, weniger Risiko oder eine höhere Diversifikation zu erzielen als mit gewöhnlichen Beta- oder Indexanlagen.')



block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //-page-content
    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            div.single-post.nobottompadding
              div.entry.clearfix
                div.entry-title
                  h2 Smart Beta: Ein neue Sicht auf traditionelle Investmentansätze

                ul.entry-meta.clearfix(style='margin-bottom: 10px;')
                  li.nobottommargin
                    a(href='/') Blog
                  li.nobottommargin
                    a(href='/geldanlage') Geldanlage
                  li.nobottommargin
                    a(href='/geldanlage/smart-beta') Smart Beta: Ein neue Sicht auf traditionelle Investmentansätze

                ul.entry-meta.clearfix
                  li
                    i.icon-calendar3
                    | 16.11.2015 &nbsp
                    i.icon-user
                    | FinIQ &nbsp


                div.entry-content.notopmargin
                  div.entry-image.alignright
                    img(src='/assets/img/geld_anlegen/blog_smartBeta_01.jpg', alt='Smart Beta')
                    p.sf-image-source iStock.com / Nik01ay
                  p Nachdem Smart-Beta-Strategien in den USA bereits seit 2010 in aller Munde sind, werden Sie nun auch von vielen Anlegern in Deutschland entdeckt. Die Attraktivität von Smart Beta liegt in der Möglichkeit, mehr Rendite, weniger Risiko oder eine höhere Diversifikation zu erzielen als mit gewöhnlichen Beta- oder Indexanlagen. Dieser Artikel erläutert im Detail, was sich hinter diesen Strategien verbirgt, warum Smart Beta vorteilhaft sein kann und für welche Anleger diese Strategien gut geeignet sind. Der Fokus liegt dabei auf Smart-Beta-Strategien auf Aktien, jedoch gibt es solche Strategien auch für den Anleihen-, Rohstoff- und Immobilienmarkt.
                  h4.sf-plain-h4 Alpha, Beta und Smart Beta
                  p In der
                    span(data-toggle='tooltip', title='Die klassische Investmenttheorie gründet sich auf dem Capital Asset Pricing Model (CAPM). Das CAPM ist ein Gleichgewichtsmodell des Kapitalmarkts, nach welchem Preise für Wertpapiere bestimmt werden können.').text-tooltip  klassischen Investmenttheorie
                    |  teilt man Rendite und Risiko einer Aktie in einen Alpha- und einen Betafaktor auf. Der Betafaktor repräsentiert dabei die Abhängigkeit der Aktie vom gesamten Markt, während der Alphafaktor den von der Marktrendite unabhängigen Renditeanteil repräsentiert. Eine Aktie mit einem Beta von eins schwankt beispielsweise wie der Markt, während eine Aktie mit Beta kleiner eins weniger und mit Beta größer eins mehr als der Markt schwankt. Aus Anlegersicht wichtig ist, dass der Alphafaktor einer Aktie nicht diversifizierbar und generell schwer zu prognostizieren ist, da er stark von unternehmensspezifischen Faktoren abhängt. Die große Unsicherheit bezüglich des Alphafaktors ist einer der Hauptgründe, warum für viele Investoren die Anlage in einen großen Marktindex wie den DAX (und damit eine Anlage in Beta) empfehlenswert ist. Im Artikel
                    a(href='/geldanlage/was-sind-etfs')  Was sind ETFs?
                    |  können Sie mehr zur Geldanlage in Indizes wie den DAX mit Hilfe von ETFs erfahren.
                  blockquote
                    p Mit Smart-Beta-Strategien können Anleger ihren individuellen Mix aus Alpha- und Beta-Strategien wählen.
                  p Smart-Beta-Strategien sind eine Mischung aus Alpha- und Beta-Strategien, welche den passiven und kostengünstigen Charakter von Beta-Strategien (zum Beispiel mittels eines ETF auf den DAX) um das attraktive Renditepotenzial automatisierter aktiver Investmentstrategien anreichern. Smart-Beta-Strategien im Aktienmarkt entspringen der seit langem bekannten Tatsache, dass sich das Risiko einer Aktie nicht nur in die zwei Faktoren Gesamtmarkt (Beta) und Unternehmen (Alpha), sondern in viele weitere Faktoren, wie zum Beispiel spezielle makroökonomische Risikofaktoren wie Liquidität oder sogenannte Stylefaktoren wie den Momentumfaktor, aufteilen lässt. Alleine die Aufteilung von Rendite und Risiko auf verschiedene Faktoren bedeutet noch nicht, dass man in diese Faktoren auch unabhängig investieren kann. Die Umsetzung solcher sogenannter Faktorstrategien war in der Vergangenheit vielmehr Profis vorbehalten bzw. sehr teuer für Privatanleger. Smart-Beta-Produkte erlauben es nun, sehr kostengünstig etwa mit ETFs in solche Strategien zu investieren und erweitern damit das Produktportfolio der Anleger.


                  h4.sf-plain-h4 Wie kann man mit Smart Beta Renditen optimieren?
                  p Durch den Fokus auf bestimmte langfristige Faktoren, welche gute erwartete Renditen haben, lassen sich mit Smart Beta Renditen optimieren. Die Anlageentscheidung basiert also größtenteils auf Faktoren und nicht auf einzelnen Aktien oder auf der Auswahl von Indizes. Aber welche Faktoren spielen bei Aktien eine Rolle?
                  p Die Faktoren lassen sich in sogenannte systematische und thematische Faktoren unterscheiden. Für thematische Faktoren ist es besonders relevant, dass sich Anleger eine Meinung über die zukünftige Marktentwicklung bilden. Dies ist bei systematischen Faktoren im Allgemeinen nicht notwendig, da solche Faktoren meist marktunabhängig sind.
                  blockquote
                    p Gleichgewichtung der Aktien im Portfolio hat in der Vergangenheit zu systematisch höheren Renditen geführt als die verbreitete Gewichtung nach Marktwert.
                  div.entry-image.alignleft
                    img(src='/assets/img/geld_anlegen/blog_smartBeta_02.jpg', alt='Smart Beta als Mix von Alpha und Beta')
                  p Drei der wichtigsten systematischen Faktoren sind Wert, Momentum und Gleichgewichtung. Verschiedene Studien zeigen, dass
                    span(data-toggle='tooltip', title='Unter billgen Aktien versteht man in diesem Zusammenhang solche, welche zum Referenzzeitpunkt eine niedrigere Bewertung haben als vergleichbare Aktien. Als Maß für die Bewertung wird meist das Kurs-Gewinn-Verhältnis oder das Kurs-Buchwert-Verhältnis genutzt.').text-tooltip  "billige"
                    |  Aktien höhere erwartete Renditen erzielen als "teure" Aktien, da der Markt die Preisdifferenz über die Zeit ausgleicht. Diesen Faktor nennt man den Wertfaktor. Nach dem Momentumfaktor werden sich solche Aktien gut entwickeln, welche sich auch in der näheren Vergangenheit (meist 3-12 Monate) gut entwickelt haben. Schließlich haben verschiedene
                    span(data-toggle='tooltip', title='Ein Beispiel ist das Papier von Plyakha, Uppal & Volkov (2012): "Why Does an Equal-Weighted Portfolio Outperform Value- and Price-Weighted Portfolios?".').text-tooltip  akademische Studien
                    |  gezeigt, dass die Marktwertgewichtung der traditionellen Aktienindizes und deren Abbildung in einem ETF für Investoren meist nicht optimal ist. Mit einer (wertmäßigen) Gleichgewichtung der Aktien im Portfolio lässt sich grundsätzlich eine höhere Rendite erzielen. Der Hauptgrund dafür ist, dass bereits teure Aktien mit einem entsprechend hohen Marktwert keinen höheren Portfolioanteil haben als billigere Aktien. Neben diesen Faktoren gibt es noch viele weitere, welche positives Renditepotenzial bringen.
                  p Zu den thematischen Faktoren gehören zum Beispiel die demographische Entwicklung oder die aktuelle und zukünftige Marktliquidität in einem Land. Wer eine starke Meinung zu diesen Entwicklungen hat, der kann seine Meinung zu Geld machen und in ETFs investieren, deren Entwicklung explizit von diesen Faktoren abhängt. Ein Wort der Warnung ist hier aber angebracht: Gute Prognosen sind nicht immer einfach, daher bestehen bei der Investition in thematische ETFs entsprechend hohe Risiken.
                  p Unterm Strich können Sie mit Smart-Beta-Produkten also kostengünstig von der positiven Entwicklung verschiedener Faktoren profitieren und Ihr Geld damit besser für sich arbeiten lassen.


                  h4.sf-plain-h4 Für wen eignet sich Smart Beta?
                  p Smart-Beta-ETFs eignen sich für Anleger, welcher bereits etwas Erfahrung mit der Geldanlage in ETFs haben. Gehören Sie zu diesen Anlegern, dann stellen insbesondere Smart-Beta-ETFs, welche auf systematische Faktoren wie die Gleichgewichtung abzielen, ausgezeichnete Instrumente für eine weitere Renditeoptimierung dar. ETFs auf thematische Faktoren dagegen sind mit wenigen Ausnahmen nur für professionelle Anleger uneingeschränkt zu empfehlen, da die Prognose der thematischen Faktoren nicht selten einen gehörigen Anteil Kaffeesatzleserei beinhaltet.
                  p Falls Sie erst am Anfang stehen und erste Erfahrungen mit der Investition in ETFs sammeln wollen, empfehlen wir den Artikel
                    a(href='/geldanlage/was-sind-etfs')  Was sind ETFs?

                  p Sie finden mehr Artikel zur Geldanlage im FinIQ
                    a(href='/geldanlage')  Einmaleins der privaten Geldanlage.
                  div.divider.notopmargin.mbottommargin



          //- </div> ********** END page center - main content **********
          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/geldanlage/smart-beta', title: 'Smart Beta', description: 'Smart Beta: Eine neue Sicht auf traditionelle Investmentansätze.'}, more: true, morecontent: [['/geldanlage/assetallokation', 'Wie verteile ich mein Geld am besten?'], ['/geldanlage/sparrechner', 'Wie entwickeln sich meine Ersparnisse über die Zeit?'], ['/geldanlage/was-sind-etfs', 'Was sind ETFs?']]})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
