//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Sparrechner, Sparplan, Sparen, Guthabenentwicklung')
  meta(name='description', content='Der Sparrechner zeigt Ihnen, wie das von Ihnen angelegte Kapital über die Zeit anwächst. Sie können die Ergebnisse auf Ihre Situation zuschneiden, indem Sie Parameter wie u. a. die Sparrate, den Sparzeitraum und den Zinssatz individuell einstellen.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Sparrechner', 'Der Sparrechner zeigt Ihnen, wie das von Ihnen angelegte Kapital über die Zeit anwächst. Sie können die Ergebnisse auf Ihre Situation zuschneiden, indem Sie Parameter wie u. a. die Sparrate, den Sparzeitraum und den Zinssatz individuell einstellen.', ['Home', '/'], ['Geld anlegen', '/geldanlage'], ['Sparrechner', '/geldanlage/sparrechner', 'true'])

    //-page-content
    section#content(ng-controller='sparrechnerController as vm')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** sidebar left (INPUTS) ***********
          div.sidebar.nobottommargin.clearfix
            div.sidebar-widgets-wrap.sidebar-widgets-wrap-calc
              div.widget.clearfix
                h4
                  i.icon-pencil
                  | &nbsp; Eingaben

                //- primary inputs
                sf-slider(description='Anfangskapital',                  value='vm.inputs.principal', tip='Der Geldbetrag, der am Anfang angelegt bzw. eingezahlt wird. Geben Sie 0 ein, sofern zu Beginn kein Geld eingezahlt wird.', addon='€', id='principal',  options='{"floor": "0", "ceil": "250000", "precision": "1", "step": "1000"}')
                sf-slider(description='Sparrate',                        value='vm.inputs.saving',    tip='Der Geldbetrag, welcher periodisch (z. B. monatlich) über die Laufzeit eingezahlt wird.', addon='€', id='saving',  options='{"floor": "0", "ceil": "2500", "precision": "1", "step": "50"}')
                sf-select(description='Sparintervall',                   value='vm.inputs.inflowfreq',tip='Der zeitliche Abstand, in welchem die periodische Sparrate geleistet wird. Zahlt man jeden Monat ein, dann wählt man hier die Option "monatlich". Alternativ kann vierteljährliche, halbjährliche und jährliche Zahlung ausgewählt werden.', id='inflowfreq', options='option.name for option in [{id: 1, name: "jährlich"}, {id: 2, name: "halbjährlich"}, {id: 4, name: "vierteljährlich"}, {id: 12, name: "monatlich"}] track by option.id')
                sf-slider(description='Zinssatz',                        value='vm.inputs.interest',  tip='Der nominale Jahreszins des angelegten Kapitals.', addon='% p. a.', id='interest', options='{"floor": "0", "ceil": "10", "precision": "2", "step": "0.05"}')
                sf-slider(description='Laufzeit',                        value='vm.inputs.term',      tip='Die Länge des Zeitraums in Jahren, über welchen die periodischen Sparraten geleistet und das Kapital verzinst wird.', addon='Jahre', id='term', options='{"floor": "0", "ceil": "30", "precision": "1", "step": "1"}')



                //- secondary inputs
                div.panel-group.nobottommargin.accordion
                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details
                    div#collapseOne.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        sf-slider(description='Dynamisierung',            value='vm.inputs.dynamic',      tip='Die jährliche Erhöhung der Sparrate. Machen Sie hier eine Angabe, falls sich die Sparrate von Jahr zu Jahr erhöht.', addon='%', id='dynamic', options='{"floor": "0", "ceil": "10", "precision": "2", "step": "0.05"}')
                        sf-slider(description='Anlagezeitraum',           value='vm.inputs.saveterm',     tip='Länge eines eventuell auf die eigentliche Laufzeit folgenden Zeitraums, über welchen keine weiteren Einzahlungen geleistet werden, das bis dahin eingezahlte Kapital aber weiter verzinst wird.', addon='Jahre', id='saveterm', options='{"floor": "0", "ceil": "30", "precision": "1", "step": "1.0"}')
                        sf-select(description='Einzahlungsart',           value='vm.inputs.inflowtime',   tip='Die Einzahlungsart gibt an, ob die Sparrate am Anfang (vorschüssig) oder Ende (nachschüssig) der Sparperiode eingezahlt wird. Am Periodenanfang geleistete Zahlungen werden für die Periode bereits mitverzinst. Nachschüssige Zahlungen werden erst ab der nächsten Periode verzinst. Für die meisten Fälle ist "anchschüssig" die richtige Wahl.', id='inflowtime', options='option.name for option in [{id: 1, name: "nachschüssig"}, {id: 2, name: "vorschüssig"}] track by option.id')
                        sf-select(description='Zinsperiode',              value='vm.inputs.interestfreq', tip='Die Häufigkeit der Zinsgutschrift. Unterjährlich gutgeschriebene Zinsen werden ab dem Zeitpunkt der Gutschrift mitverzinst.', id='interestfreq', options='option.name for option in [{id: 1, name: "jährlich"}, {id: 2, name: "halbjährlich"}, {id: 4, name: "vierteljährlich"}, {id: 12, name: "monatlich"}] track by option.id')
                        sf-select(description='Zinseszins',               value='vm.inputs.compounding',  tip='Angabe, ob Zinserträge periodisch ausgeschüttet oder dem Kapital zugeschlagen und weiter verzinst werden sollen. Eine Ausschüttung entspricht einer weiteren Verzinsung mit 0 %. Sowohl Auszahlung als auch Zuschlag der Zinserträge zum Kapital erfolgen jeweils im Rhythmus der gewählten Zinsperiode.', id='compounding',  options='option.name for option in [{id: 1, name: "Ja, Zinsansammlung"}, {id: 2, name: "Nein, Zinsauszahlung"}] track by option.id')

          //- </div> ********** END sidebar left (INPUTS) **********


          //- ********** page center - main content **********
          div.postcontent.bothsidebar.nobottommargin.clearfix
            div.col_full
              h3 Der Endwert Ihres Kapitals beträgt
                span  {{vm.result.terminal | currency:"€":2}}
                | .

              div.col_two_third
                highchart(id='chart02', config='chartConfig_2')
              div.col_one_third.col_last
                highchart(id='chart01', config='chartConfig_1')


              h4 Berechnungsdetails
              div.tabs.tabs-tb.tabs-bordered.clearfix.ui-tabs.ui-widget.ui-widget-content.ui-corner-all#results-tabs
                ul.tab-nav.clearfix.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
                  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(role='tab', tabindex='0', aria-controls='tabs-5', aria-labelledby='ui-id-5', aria-selected='true')
                    a(href='#tabs-5', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-5')
                      i.fa.fa-calculator
                      | Details Endvermögen
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-6', aria-labelledby='ui-id-6', aria-selected='false')
                    a(href='#tabs-6', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-6')
                      i.fa.fa-cogs
                      | Vorgehen
                  //li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-7', aria-labelledby='ui-id-7', aria-selected='false')
                    a(href='#tabs-7', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-7')
                      i.fa.fa-lightbulb-o
                      | Annahmen
                div.tab-container

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-5(aria-labelledby='ui-id-5', role='tabpanel', aria-expanded='true', aria-hidden='false', style="display: block;")
                    p.xsbottommargin.stext Alle Angaben in €
                    table.table
                      tbody
                        tr.active
                          td Endkapital
                          td.text-right {{vm.result.terminal | currency:"":2 | parentheses}}
                        tr
                          td &nbsp; Anfangskapital
                          td.text-right {{vm.result.principal | currency:"":2 | parentheses}}
                        tr
                          td &nbsp; Gesamte Einzahlungen
                          td.text-right {{vm.result.inflow | currency:"":2 | parentheses}}
                        tr
                          td &nbsp; Gesamter Zinsertrag
                          td.text-right {{vm.result.interest | currency:"":2 | parentheses}}


                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-6(aria-labelledby='ui-id-6', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p Der Sparrechner zeigt Ihnen, wie Ihr angelegtes Geld über die Zeit wächst. Dafür geben Sie den anfänglichen Geldbetrag (Anfangskapital) und eventuelle laufende Einzahlungen (Sparrate) ein. Bei den laufenden Sparraten können Sie entscheiden, ob diese monatlich, vierteljährlich, halbjährlich oder jährlich eingezahlt werden. Falls Sie nur einmal am Anfang Geld einzahlen wollen, dann setzten Sie die Sparrate einfach auf 0. Das Tool geht von einem festen Zinssatz aus und berücksichtigt in der Grundeinstellung Zinseszinsen.
                    h5.xsbottommargin Wie Sie das Ergebnis weiter personalisieren können
                    p.xsbottommargin Mit Hilfe der Detaileinstellungen können Sie das die Berechnung weiter auf Ihre Bedürfnisse zuschneiden und erfahren, wie genau Ihr Kapital unter verschiedenen Bedingungen wächst.
                    p.xsbottommargin Beispielsweise können Sie eine Dynamisierung der Sparrate vorgeben, durch welche Ihre Sparrate jährlich um einen bestimmten Prozentsatz erhöht wird. Weiterhin können Sie einen auf die eigentliche Laufzeit folgenden Anlagezeitraum vorgeben, in welchem keine Einzahlungen mehr geleistet werden, das Kapital aber weiter angelegt und verzinst wird. Schließlich haben Sie die Wahl, ob Zahlungen periodisch vorschüssig oder nachschüssig geleistet werden, ob Zinsen jährlich oder unterjährlich gutgeschrieben werden und ob der Zinseszins berücksichtigt werden soll. Wenn Ihnen diese Einstellungen nichts sagen behalten Sie einfach die Vorgaben bei, diese spiegeln bereits die gebräuchlichsten Angaben wieder.


            div.col_full
              h3.xsbottommargin Der Sparrechner für die Vermögensbildung
              p Regelmäßiges Sparen ist die Grundlage für die Vermögensbildung und wer es schafft, auf Dauer monatlich oder jährlich einen bestimmten Betrag beiseite zu legen, kann sich nach einigen Jahren meist über ein beachtliches Vermögen freuen. Insbesondere regelmäßigen Einzahlungen und Zinseszinseffekte machen die Geldanlage über einen langen Zeitraum sehr attraktiv. Probieren Sie es aus und analysieren Sie mit Hilfe des Sparrechners, wie sich Ihr Vermögen unter verschiedene Szenarien entwickelt. Um langfristig die Früchte des Sparens zu ernten, ist jedoch etwas Durchhaltevermögen und gute Information gefragt, um keine Fehler bei der Geldanlage zu begehen. Wir zeigen Ihnen, auf was Sie bei der Geldanlage achten sollten.
              h5.xsbottommargin Warum sollte ich überhaupt sparen?
              p Natürlich ist es verlockend, sein gesamtes Einkommen gleich wieder auszugeben, Möglichkeiten dafür finden sich immer. Wenn Sie jedoch diszipliniert sind und einen Grundstock an Geld angespart haben, beginnt das Geld durch den Zinseszinseffekt automatisch für Sie zu arbeiten. In Summe können Sie also bei geschicktem Sparen über die Zeit sogar mehr ausgeben, wenn sie auf eine gute Balance zwischen Anlegen und Sparen achten. Darüber hinaus macht Einkommen aus Ersparnissen Sie unabhängiger vom Arbeitseinkommen und gibt Ihnen auf lange Sicht mehr Freiheit, sich zu verwirklichen. Nicht zu vergessen ist auch, dass Ersparnisse Sie auch mal über finanziell schlechtere Zeiten retten können.
              h5.xsbottommargin Investieren und Sparen
              p Investieren und Sparen sind zwei Seiten derselben Medaille. Wenn Sie sparen, um Geld in Aktien anzulegen, investieren Sie Ihre Ersparnisse in Unternehmen, welche dadurch wachsen können und Ihnen später die Erträge der Unternehmenstätigkeit über Kursgewinne und Dividenden wieder zurückzahlen. Auch wenn Sie sich entscheiden, Ihre Ersparnisse bei einer Bank als Tages- oder Festgeld anzulegen, wird die Bank einen Großteil Ihrer Einlagen auch wieder in Aktien oder Anleihen von Unternehmen oder Staaten investieren. In diesem Fall verpflichtet sich die Bank jedoch, Ihre gesamten Einlagen inklusive Zins nach einiger Zeit zurückzuzahlen.
              p Falls Sie sich entscheiden in Aktien zu investieren, müssen Sie sich nicht die Arbeit machen, die richtigen Einzelaktien zu finden. Wie Studien zeigen wäre dies für die meisten Anleger auch viel zu risikoreich, da Anleger von der Entwicklung einzelner Unternehmen abhängig wären. Es ist praktisch immer besser, in diversifizierte börsengehandelte Fonds (ETFs) zu investieren. Mit ETFs investieren Sie gleich in einen gesamten Index wie den DAX oder den MSCI World und sind daher nicht von der Entwicklung einzelner Unternehmen abhängig. Mehr über ETFs können Sie im Artikel
                a(href='/geldanlage/was-sind-etfs')  Was sind ETFs?
                |  erfahren.
              h5.xsbottommargin Risiko und Rendite
              p Der Zielkonflikt zwischen Risiko und Rendite ist der Kern jeder Entscheidung zur Geldanlage. Nur mit risikoreicheren Produkten wie Aktien lassen sich auch höhere Renditen erzielen, während die Renditen risikoarmer Produkte kaum über den
                span(data-toggle='tooltip', title='Durch die Inflation wird der reale Wert des Geldes über die Zeit geringer, man kann sich also für den gleichen Geldbetrag in Zukunft weniger leisten. Der Zins der meisten risikoarmen Produkte ist gerade so hoch, dass dieser Effekt der Inflation ausgeglichen wird. ').text-tooltip  Ausgleich der Inflation
                |  hinausgehen, wenn überhaupt. Die richtige Wahl hängt von Ihren Sparzielen, Ihrem Anlagehorizont und Ihrer Risikotoleranz ab. Sie können
                a(href='/geldanlage/assetallokation#risk-profile-info')  hier
                |  mehr zu den Themen Sparziele, Anlagehorizont und Risikotoleranz erfahren.
              h5.xsbottommargin Das Anfangskapital
              p Sei es die Auszahlung eines Bonus, eine Erbschaft oder Geld, das schon länger auf dem Gehaltskonto schlummert: Das Anfangskapital für Ihren Vermögensaufbau kann aus verschiedenen Quellen stammen. Auch ganz ohne Anfangskapital kann man mit regelmäßigen Einzahlungen einen beträchtlichen Betrag ansparen.
              h5.xsbottommargin Sparraten
              p Die periodischen Sparraten hängen von Ihren Präferenzen und den Sparzielen ab. Manche möchten so schnell wie möglich einen bestimmten Betrag ansparen und zahlen monatlich hohe Summen ein, um sich ein bestimmtes Ziel zu erfüllen. Andere wiederum denken sehr langfristig und wählen geringere Sparraten in größeren Abständen.
              h5.xsbottommargin Der Zinssatz
              p Die Verzinsung der Ersparnisse hängt von der Anlagedauer und dem Risiko ab, welches Sie eingehen möchten und können. Die Voreinstellung von 1,75 % mag niedrig erscheinen, sorgt aber dennoch langfristig durch den Zinseszinseffekt für eine gute Rendite. Sofern Sie nicht nur in Tages- oder Festgeld, sondern auch in Aktien investieren, können Sie langfristig mit überschaubarem Risiko jährliche Renditen von 4-5 % erzielen.
              h5.xsbottommargin Die Laufzeit
              p Ein letzter wichtiger Faktor bei der Geldanlage ist die Laufzeit. Berücksichtigen Sie dafür den Zeitraum, über welchen Sie den Anlagebetrag entbehren können, bevor Sie Ihn eventuell benötigen oder neu anlegen möchten. Grundsätzlich gilt: Je länger Sie Zeit haben, desto mehr kommen Sie in den Genuss von Zinseszinseffekten. Daher ist es wichtig, möglichst früh mit dem Sparen zu beginnen.
              h5.xsbottommargin Die Entscheidung liegt bei Ihnen
              p Ob und wie Sie investieren möchten, können und sollten letztlich nur Sie alleine entscheiden. Führen Sie sich aber vor Augen, dass nichts tun eine schlechte Entscheidung sein kann. Wenn Sie viel Geld auf dem Gehaltskonto liegen lassen, wird es letztlich durch die Inflation an Wert verlieren. Überlegen Sie sich, ob Sie es nicht besser konservativ und langfristig anlegen, um den Wert für die Zukunft zu erhalten oder zu erhöhen. Achten Sie bei der Anlage auf Produkte mit geringen Kosten, Ihr Geld soll schließlich für Sie und nicht primär für Fondsmanager arbeiten.
              p Finden Sie im nächsten Schritt mit dem
                a(href='/geldanlage/assetallokation')  FinIQ Tool zur Assetallokation
                |  heraus, wie Sie Ihr Geld sinnvoll über Tagesgeld, Festgeld und Aktienfonds verteilen.
          //- </div> ********** END page center - main content **********



          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/geldanlage/sparrechner', title: 'FinIQ-Sparrechner', description: 'Der FinIQ-Sparrechner zeigt Ihnen, wie angelegtes Kapital über die Zeit anwächst.'}})
          //- </div> ********** END sidebar right **********
    include ../_includes/footer
