//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Geldanlage, ETF, Aktien, Tagesgeld, Festgeld, Assetallokation')
  meta(name='description', content='Finden Sie eine Ihrem Risikoprofil entsprechende Mischung aus Geldanlagen.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Wie verteile ich mein Geld am besten?', 'Finden Sie eine Ihrem Risikoprofil entsprechende Mischung aus Geldanlagen.', ['Home', '/'], ['Geld anlegen', '/geldanlage'], ['Assetallokation', '/geldanlage/assetallokation', 'true'])

    //-page-content
    section#content(ng-controller='assetallokationController as vm')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** sidebar left (INPUTS) ***********

          //- </div> ********** END sidebar left (INPUTS) **********


          //- ********** page center - main content **********
          div.postcontent.nobottommargin.clearfix
            h5#risk-profile.nobottommargin.xstopmargin Wählen Sie ein Risikoprofil, um eine für Sie passende Anlagemischung zu finden.
            p.sbottommargin Nicht sicher, welches Profil zu Ihnen passt? Sie können sich
              a(href='#risk-profile-info')  hier
              |  informieren.
            div.class-icons.clearfix
              div.allocation.class_1(ng-click='vm.inputs.selection = 0', ng-class='{"selected": vm.inputs.selection === 0}')
                img(src='/assets/img/geld_anlegen/assetallocation_sehrkons_01.jpg')
                p Sehr konservativ
                div.bottom
              div.allocation.class_2(ng-click='vm.inputs.selection = 1', ng-class='{"selected": vm.inputs.selection === 1}')
                img(src='/assets/img/geld_anlegen/assetallocation_kons_01.jpg')
                p Konservativ
                div.bottom
              div.allocation.class_3(ng-click='vm.inputs.selection = 2', ng-class='{"selected": vm.inputs.selection === 2}')
                img(src='/assets/img/geld_anlegen/assetallocation_ausgew_01.jpg')
                p Ausgewogen
                div.bottom
              div.allocation.class_4(ng-click='vm.inputs.selection = 3', ng-class='{"selected": vm.inputs.selection === 3}')
                img(src='/assets/img/geld_anlegen/assetallocation_aggressiv_01.jpg')
                p Aggressiv
                div.bottom
              div.allocation.class_5(ng-click='vm.inputs.selection = 4', ng-class='{"selected": vm.inputs.selection === 4}')
                img(src='/assets/img/geld_anlegen/assetallocation_sehraggressiv_01.jpg')
                p Sehr aggressiv
                div.bottom

            div.col_full
              div.col_one_fourth.xsbottommargin
                highchart(id='chart01', config='chartConfig_1')
              div.col_three_fourth.col_last.xsbottommargin
                div(ng-show='(vm.inputs.selection === 0)')
                  h3.xstopmargin.xsbottommargin Als
                    span  sehr konservativer
                    |  Investor haben Sie
                  ul.ul-post-close.sbottommargin
                    li Sicherheit als vorrangiges Anlageziel
                    li einen kurzen Anlagezeitraum von 0 bis 5 Jahren
                    li Interesse an einem sehr niedrigen Anlagerisiko
                    li das Ziel, den Nominalwert Ihres Vermögens auf jeden Fall zu erhalten
                    li noch keine Erfahrung mit Anlagen in risikoreicheren Anlageklassen wie Aktien
                div(ng-show='(vm.inputs.selection === 1)')
                  h3.xstopmargin.xsbottommargin Als
                    span  konservativer
                    |  Investor haben Sie
                  ul.ul-post-close.sbottommargin
                    li Sicherheit als vorrangiges Anlageziel, akzeptieren aber auch etwas Risiko
                    li einen relativ kurzen Anlagezeitraum von 3 bis 5 Jahren
                    li Interesse an einem niedrigen Anlagerisiko
                    li das Ziel, den Nominalwert Ihres Vermögens grundsätzlich zu erhalten, aber auch begrenzte Renditepotenziale zu nutzen
                    li keine bis wenig Erfahrung mit Anlagen in risikoreicheren Anlageklassen wie Aktien
                div(ng-show='(vm.inputs.selection === 2)')
                  h3.xstopmargin.xsbottommargin Als
                    span  ausgewogener
                    |  Investor haben Sie
                  ul.ul-post-close.sbottommargin
                    li eine gute Balance aus Rendite und Risiko als Anlageziel
                    li einen mittelfristigen Anlagehorizont von 5 bis 15 Jahren
                    li das Ziel, überschaubare Risiken einzugehen, um Renditechancen zu nutzen
                    li wenig bis mittlere Erfahrung mit Anlagen in risikoreicheren Anlageklassen wie Aktien
                div(ng-show='(vm.inputs.selection === 3)')
                  h3.xstopmargin.xsbottommargin Als
                    span  aggressiver
                    |  Investor haben Sie
                  ul.ul-post-close.sbottommargin
                    li eine hohe Rendite als primäres Anlageziel
                    li einen langfristigen Anlagehorizont von 15 bis 30 Jahren
                    li das Ziel, Renditechancen zu nutzen, und dennoch ausreichend diversifiziert zu bleiben
                    li Erfahrung mit Anlagen in risikoreicheren Anlageklassen wie Aktien
                div(ng-show='(vm.inputs.selection === 4)')
                  h3.xstopmargin.xsbottommargin Als
                    span  sehr aggressiver
                    |  Investor haben Sie
                  ul.ul-post-close.sbottommargin
                    li eine sehr hohe Rendite als primäres Anlageziel
                    li einen langfristigen Anlagehorizont von 15 bis 30 Jahren, über welchen Sie das angelegte Kapital nicht benötigen
                    li keine Scheu vor großen Schwankungen Ihres Vermögens
                    li Erfahrung mit Anlagen in risikoreicheren Anlageklassen wie Aktien
                div
                  h6 In etwa {{vm.result.pLoss_10y * 100 | currency:"%":1 }} aller Fälle ist das Portfolio nach 10 Jahren weniger Wert.

              div.divider.notopmargin.lbottommargin
                i.icon-circle
              highchart(id='chart02', config='chartConfig_2')
              div.col_one_third.xsbottommargin.xstopmargin
                sf-slider(description='Anlagebetrag',                  value='vm.inputs.principal', tip='', addon='€', id='principal',  options='{"floor": "0", "ceil": "500000", "precision": "1", "step": "1000"}')
              div.col_two_third.col_last.xsbottommargin.xstopmargin
                h6 Wenn Sie
                  span  {{vm.inputs.principal | currency:"€":2}} {{vm.profile}}
                  |  anlegen, wird Ihr Portfolio in 20 Jahren
                  ul.ul-post-close
                    li im Median {{vm.result.value | currency:"€":2}} Wert sein und
                    li mit einer Wahrscheinlichkeit von 50 % wird der Portfoliowert zwischen {{vm.result.low_conf | currency:"€":2}} und {{vm.result.high_conf | currency:"€":2}} liegen.


            div.col_full
              h4 Berechnungsdetails
              div.tabs.tabs-tb.tabs-bordered.clearfix.ui-tabs.ui-widget.ui-widget-content.ui-corner-all#results-tabs
                ul.tab-nav.clearfix.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
                  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(role='tab', tabindex='0', aria-controls='tabs-6', aria-labelledby='ui-id-6', aria-selected='true')
                    a(href='#tabs-6', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-6')
                      i.fa.fa-cogs
                      | Vorgehen
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-7', aria-labelledby='ui-id-7', aria-selected='false')
                    a(href='#tabs-7', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-7')
                      i.fa.fa-lightbulb-o
                      | Annahmen
                div.tab-container

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-6(aria-labelledby='ui-id-6', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p Dieses Tool zur Bestimmung der Allokationen bei der Geldanlage ermittelt die optimale Mischung verschiedener Anlageklassen basierend auf Ihrem Risikoprofil und stellt die erwartete Rendite und das Risiko des Portfolios dar.
                    p Um die zukünftige Entwicklung zu prognostizieren haben wir historische Renditen von Tagesgeld, Festgeld und einem breit diversifizierten Aktienindex (MSCI World) über die vergangenen 20 Jahre analysiert. Daraufhin haben wir für jedes Risikoprofil Portfolios zusammengestellt und die Entwicklung dieser Portfolios unter Nutzung der historischen Daten 10.000 mal simuliert (Monte-Carlo-Simulation). Die Ergebnisse dieser Simulation sind eine robuste Grundlage für die langfristige Prognose der Portfolioentwicklung und sind im obigen Chart dargestellt.

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-7(aria-labelledby='ui-id-7', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p.xsbottommargin Die folgenden Annahmen gingen in die Simulation und Prognose der Portfolioentwicklung ein:
                    p.xsbottommargin
                      strong Produktdaten:
                      |  Für die Kategorie Tagesgeld wurden die historischen Basiszinssätze für Tagesgeld aus den vergangenen 20 Jahren verwendet. Die Zinssätze für 5-jährige Sparbriefe aus den letzten 20 Jahren bilden die Datengrundlage für die Kategorie Festgeld. Quelle der Daten ist die FMH Finanzberatung. Die Kategorie Aktien (ETF) wird repräsentiert durch den MSCI World Index, einem global diversifizierten Aktienfonds. Es gibt diverse kostengünstige ETFs für Privatanleger, welche diesen Index abbilden. Bei der Ableitung der Renditen haben wir die Managementgebühren berücksichtigt.
                    p.xsbottommargin
                      strong Ermittlung der erwarteten Renditen
                      |  Portfoliorenditen wurden mittels Monte-Carlo-Simulation auf Basis historischer Renditen simuliert. Es wurde angenommen, dass während der Anlagedauer keine Portfolioumschichtung vorgenommen wird.
                    p.xsbottommargin
                      strong Anlagedauer
                      |  Die angenommene Anlagedauer beträgt 20 Jahre, wobei der je nach Risikoprofil unterschiedliche hohe Tagesgeldanteil täglich verfügbar ist.


            div.col_full
              h3.xsbottommargin Die wichtigsten Informationen für eine gute Geldanlage
              p Ob Aktien, Fonds, Festgeld, Tagesgeld oder das gute alte Sparbuch, die Möglichkeiten bei der Geldanlage sind unbegrenzt. Jedoch unterscheiden sich die Produkte aus Risiko- und Renditesicht mitunter deutlich. Für eine gute Geldanlage ist die richtige Mischung - von Experten auch Assetallokation genannt - entscheidend. Wir helfen Ihnen, eine gute Mischung für Ihre Geldanlage zu finden.
              p Auch Einsteiger können mit ein paar einfachen Regeln Ihre Anlageentscheidungen selbst in die Hand nehmen und damit auf Anlageberater verzichten, welche aufgrund von Provisionsanreizen möglicherweise nicht immer in Ihrem Sinne handeln. Natürlich ist ein vertrauenswürdiger Anlageberater Gold wert, nicht jeder tut sich aber leicht, einen solchen zu finden. Und auch bei dieser Suche gilt: Wer gut informiert ist hat klare Vorteile.
              p Im Kern jeder Entscheidung zur Geldanlage liegt die Abwägung zwischen Rendite und Risiko - nicht mehr und nicht weniger. Für eine höhere Rendite bekommen Sie mehr Risiko, für eine niedrigere Rendite entsprechend weniger Risiko. Daher sollten Sie sich für eine gute Entscheidung mit zwei Fragen beschäftigen:
              ul.ul-post#risk-profile-info
                li Wieviel Risiko kann und will ich über einen bestimmten Zeitraum tragen?
                li Welche Produkte passen zu meinem Risikoprofil?
              h4.xsbottommargin Wie viel Risiko kann und will ich tragen?
              p Es hängt hauptsächlich von Ihren Zielen, ihrem Alter bzw. Anlagehorizont und Ihrer Risikotoleranz ab, ob Sie konservativ, ausgewogen oder sogar aggressiv investieren sollten.
              h5.xsbottommargin Ihre Ziele
              p Legen Sie Geld für die Rente an oder ist Ihr Ziel, viel Geld für kurzfristig anstehende Anschaffungen zur Verfügung zu haben? Im ersten Fall können Sie weniger konservativ investieren, da Sie - sofern die Rente nicht unmittelbar bevorsteht - einen längeren Zeitraum zur Verfügung haben, um auch Marktphasen mit unterdurchschnittlichen Renditen gut zu überstehen. Sparen Sie jedoch, um innerhalb der nächsten 5 Jahre eine größere Anschaffung oder Ausgabe zu finanzieren (Hauskauf, Auto, Studium), dann sollten Sie konservativer vorgehen. Der Grund dafür ist, dass risikoreiche Anlagen stärker schwanken und Sie zu einem nachteiligen Zeitpunkt die Geldanlage auflösen müssten, um die Anschaffung zu finanzieren.
              h5.xsbottommargin Ihr Alter
              p Sie wollen mit 65 in Rente gehen, Ihr Aktienportfolio ist aber um Ihren 64. Geburtstag um 30 % gefallen? Dies wäre eine sehr unglückliche Situation, in der sich nur wenige gerne widerfinden würden, deren Vermögen hauptsächlich aus dem Aktienportfolio besteht. Je Älter Sie sind, desto konservativer sollten Sie anlegen. Eine alte Regel besagt, dass der Aktienanteil Ihres Vermögens nicht höher sein soll als der Prozentsatz, der sich ergibt, wenn Sie Ihr Lebensalter von 100 abziehen. Umgekehrt können Sie mehr Risiko eingehen, wenn Sie jung sind und keine größeren Anschaffungen in den nächsten Jahren planen.
              h5.xsbottommargin Ihre Risikotoleranz
              p Auch bezüglich der Risikotoleranz muss Ihre Geldanlage zu Ihnen passen. Sind Sie eher vorsichtig und risikoavers, dann werden Sie mit einer sehr hohen Aktienquote im Portfolio sicher nicht glücklich werden, da Aktien auch mal fallen können. Sie ziehen dann besser eine konservativere Anlage vor. Wägen Sie aber in jedem Fall ab und vergessen Sie nicht, dass etwas Risiko auch mit besseren Renditechancen einhergeht.
              p Der Schlüssel für eine gute Entscheidung bezüglich des Risikos ist die individuelle Abwägung zwischen den Zielen der Geldanlage, Ihrem Alter und Ihrer Risikotoleranz. Sind Sie zum Beispiel jung, wollen für die Rente sparen und planen keine größeren Ausgaben in den nächsten Jahren, dann könnten Sie grundsätzlich über die nächsten Jahre aggressiv mit einer hohen Aktienquote investieren. Ist Ihre Risikotoleranz jedoch relativ niedrig, dann sollten Sie dies berücksichtigen und besser ausgewogen statt aggressiv investieren.
              p#product-info Sie können nun Ihr Risikoprofil
                a(href='#risk-profile')  hier
                |  eingeben, um zu erfahren, in welche Produkte Sie investieren und mit welcher Wertentwicklung Sie rechnen können. Lesen Sie weiter, um mehr über verschiedene Anlageprodukte zu erfahren.
              div.divider.notopmargin.mbottommargin
              h4.xsbottommargin Welche Produkte passen zu meinem Risikoprofil?
              p Nachdem Sie Ihr Risikoprofil kennen ist es an der Zeit, sich mit den verschiedenen Produkten zu beschäftigen. Auch wenn die Auswahl der Produkte unbegrenzt erscheint: Letztlich kommt es nur auf die erwartete Rendite und das Risiko des jeweiligen Produktes an. Rendite und Risiko Ihrer Geldanlage sollten Sie, getreu dem Warren Buffet zugeschriebenem Satz "Kaufe nur, was du verstehst.", überblicken können.
              h5.xsbottommargin Aktien
              div.well.sf-well
                p.nobottommargin Risiko: hoch
                p.nobottommargin Renditechance: sehr hoch
              p Aktien sind Anteilscheine an Unternehmen, welche einen Anteil des Eigenkapitals des Unternehmens verbriefen. Über Aktien können Sie also Anteile eines Unternehmens erwerben. Der Wert der Aktien ist daher eng mit dem heutigen und vor allem dem erwarteten zukünftigen Wert des Unternehmens verknüpft, weshalb neue Informationen, welche die Zukunft eines Unternehmens betreffen, sich direkt nach Bekanntwerden im Aktienkurs niederschlagen. Die Rendite von Aktien setzt sich zusammen aus der Kurssteigerung und den im Anlagezeitraum erhaltenen Dividenden. Gerade bei langfristigen Anlagen kann die meist jährlich gezahlte Dividende eine wesentliche Renditekomponente sein, die Aktien über mögliche Kurssteigerungen hinaus attraktiv macht.
              p Bei der großen Anzahl an Aktien stellt sich natürlich die Frage, in welche Aktie man nun eigentlich investieren sollte. Die Antwort ist grundsätzlich sehr einfach: Meist ist es nicht sinnvoll, in
                strong  einzelne
                |  Aktien zu investieren. Sie würden sich dann sehr abhängig vom Schicksal eines einzelnen bzw. einzelner Unternehmen machen. Besser ist es, in ein diversifiziertes Portfolio von Aktien zu investieren. Am besten erreichen Sie dies mit einem Aktienfonds, welcher das Geld für Sie in ein diversifiziertes Portfolio investiert.
              h5.xsbottommargin Fonds
              div.well.sf-well
                p.nobottommargin Risiko: mittel
                p.nobottommargin Renditechance: hoch
              p Fonds sind Instrumente zur Geldanlage, welche im Auftrag Ihrer Anleger in bestimmte Vermögensklassen investieren. Die gebräuchlichsten Vermögensklassen sind dabei Aktien, Anleihen und Immobilien. Grundsätzlich 'erben' Fonds das Rendite- und Risikoprofil der Vermögensklasse, in welcher Sie investiert sind. Jedoch gibt es einen wichtigen Unterschied: Fonds investieren in der Regel gleich in mehrere Einzelanlagen und haben daher aufgrund der Diversifizierung ein besseres Risikoprofil. Deshalb ist Ihnen als Investor in einen Aktienfonds das Schicksal einzelner Unternehmen praktisch egal, da Sie in vielen Unternehmen gleichzeitig investiert sind. Das beste Instrument für Anleger, welche diversifiziert in Aktien anlegen wollen, ist nahezu immer der börsengehandelte Aktienfonds (Exchange-Traded Fund, ETF). Dieses passive Anlageinstrument ist kostengünstig und bildet meist die Entwicklung eines gesamten diversifizierten Aktienindexes ab.
              h5.xsbottommargin Festgeld
              div.well.sf-well
                p.nobottommargin Risiko: gering
                p.nobottommargin Renditechance: gering
              p Das Festgeld ist eine sehr beliebte Anlageform und bildet die Basis der Geldanlage für viele Anleger. Beim Festgeld handelt es sich um die Anlage eines bestimmten Geldbetrags über eine Zeitraum von meist 3 bis 10 Jahren zu einem vorher vereinbarten Zinssatz. Damit unterliegt Festgeld keinen Kursschwankungen. Jedoch sind auch die Renditechancen begrenzt, da über den vereinbarten Zins hinaus kein Renditepotenzial besteht. Da Festgeld im Vergleich zu Tagesgeld über einen längeren Zeitraum angelegt wird, gehen Sie das Risiko ein, das Sie das Geld für eventuell anfallende Ausgaben während der Anlagezeit nicht zur Verfügung zu haben. Wer den anzulegenden Geldbetrag allerdings über einen langen Zeitraum nicht benötigt kann auch ein Zeiten niedriger Zinsen passable Renditen mit Festgeld erzielen.
              h5.xsbottommargin Tagesgeld
              div.well.sf-well
                p.nobottommargin Risiko: sehr gering
                p.nobottommargin Renditechance: sehr gering
              p Das Tagesgeld schließlich ist die ideale Anlageform für kurzfristige und sichere Geldanlagen. Diese Eigenschaften erkaufen Sie sich jedoch mit einer Rendite, welche selten den Namen verdient. Daher ist es meist nicht sinnvoll, größere Geldbeträge auf einem Tagesgeldkonto zu haben, sofern keine größeren Ausgaben anstehen. Schichten Sie besser Teile Ihres Vermögens um auf Festgeld oder auch ETFs.
              div.divider.notopmargin.mbottommargin
              h4.xsbottommargin Wie Ihnen dieses Tool helfen kann
              p Das Tool berechnet anhand Ihres Risikoprofils die optimale Aufteilung Ihres Vermögens über verschiedenen Anlageklassen und zeigt Ihnen auf, welche Vermögensentwicklung Sie erwarten können. Damit können Sie entscheiden, wie Sie Ihr Geld am besten für sich arbeiten lassen.

          //- </div> ********** END page center - main content **********



          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/geldanlage/assetallokation', title: 'Wie verteile ich mein Geld am besten?', description: 'Finden Sie eine Ihrem Risikoprofil entsprechende Mischung aus Geldanlagen.'}})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
