//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Geldanlage, ETF, Aktien, Depot, Sparrechner, Assetallokation, Sparen, Sparplan')
  meta(name='description', content='Das Einmaleins der privaten Geldanlagen fasst die wichtigen Information zur privaten Geldanlage für Sie zusammen.')

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Geld anlegen', 'Das Einmaleins der privaten Geldanlage', ['Home', '/'], ['Geld anlegen', '/geldanlage', 'true'])

    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            //- calculators
            div.col_half
              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Rechentools
              div#posts
                include ../_mixins/calc_preview_item

                mixin calc_preview_item('Sparrechner', 'Der Sparrechner zeigt Ihnen, wie das von Ihnen angelegte Geld über die Zeit anwächst. Sie können die Ergebnisse auf Ihre Situation zuschneiden, indem Sie Parameter wie u. a. die Sparrate, den Sparzeitraum und den Zinssatz individuell einstellen.', '/geldanlage/sparrechner', 'assets/img/geld_anlegen/sparrechner_01.jpg', 'Sparrechner')

                mixin calc_preview_item('Wie verteile ich mein Geld am besten?', 'Ob Aktien, Fonds, Festgeld, Tagesgeld oder das gute alte Sparbuch, die Möglichkeiten bei der Geldanlage sind unbegrenzt. Jedoch unterscheiden sich die Produkte aus Risiko- und Renditesicht mitunter deutlich. Für eine gute Geldanlage ist die richtige Mischung - von Experten auch Assetallokation genannt - entscheidend. Wir helfen Ihnen, eine gute Mischung für Ihre Geldanlage zu finden.', '/geldanlage/assetallokation', 'assets/img/geld_anlegen/assetallocation_01.jpg', 'Wie verteile ich mein Geld am besten?')

            //- from blog
            div.col_half.col_last
              //div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Vergleichstools
              //div#posts
                include ../_mixins/compare_preview_item

                mixin compare_preview_item('Vergleichen Sie verschiedene Baufinanzierungen', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.', '/')


              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Artikel
              div
                include ../_mixins/article_preview_item

                mixin article_preview_item('Wie lege ich Geld an?', 'Wir zeigen Ihnen, wie Sie Ihr Geld für sich arbeiten lassen.', '/geldanlage/wie-lege-ich-geld-an')

                mixin article_preview_item('Wie funktionieren Aktien?', 'Das Wichtigste zum Einstieg in die Welt der Aktien.', '/geldanlage/wie-funktionieren-aktien')

                mixin article_preview_item('Was sind ETFs?', 'ETFs sind eine ausgezeichnete Produktklasse für den Einstieg in die Aktienanlage. Die Gründe erfahren Sie in diesem Artikel.', '/geldanlage/was-sind-etfs')



              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Aus unserem Blog

              div#posts.small-thumbs
                include ../_mixins/blog_preview_item

                mixin blog_preview_item('3 Tipps zur Geldanlage für Studenten', '02.11.2015', 'Mit guten Geldanlageentscheidungen schon zur Studienzeit können Sie die Grundlage legen für mehr Geld und einen besseren Lifestyle in der Zukunft.', '/geldanlage/geldanlage-fuer-studenten', 'assets/img/geld_anlegen/blog_geldanlagefuerstudenten_01.jpg', 'Tipps zur Geldanlage für Studenten')

                mixin blog_preview_item('4 häufige Fehler bei der Geldanlage', '04.11.2015', 'Fehler sind auch bei der Geldanlage nicht zu vermeiden und wahrscheinlich hat fast jeder schon einmal eine finanzielle Entscheidung getroffen, welche er später bereut hat. Für eine erfolgreiche Anlagestrategie sollten Sie wissen, was man tun und was man besser lassen sollte. Wir erläutern Ihnen 4 der häufigsten Fehler bei der Geldanlage.', '/geldanlage/fehler-bei-der-geldanlage', 'assets/img/geld_anlegen/blog_haeufigeFehlerGeldanlage_01.jpg', 'Häufige Fehler bei der Geldanlage')



          //- sidebar
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/geldanlage', title: 'Einmaleins der privaten Geldanlage', description: 'Die FinIQ Tools und Visualisierungen helfen Ihnen, gute und unabhängige Finanzentscheidungen zu treffen.'}, more: true, morecontent: [['/hauskauf/wie-hoch-darf-der-hauspreis-sein', 'Wie viel Haus kann ich mir leisten?'], ['/hauskauf/wie-laeuft-der-hauskauf-ab', 'Wie läuft der Hauskauf ab?'], ['/hauskauf/mieten-oder-kaufen', 'Ist mieten besser als kaufen?']]})


    include ../_includes/footer
