//
   Created by benjamintanz on 05.10.15.

extends ../layout
block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Geld anlegen', 'Das Einmaleins der privaten Geldanlage', ['Home', '/'], ['Geld anlegen', '/geldanlage', 'true'])

    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            //- calculators
            div.col_half
              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Rechentools
              div#posts
                include ../_mixins/calc_preview_item

                mixin calc_preview_item('Sparrechner', 'Der Sparrechner zeigt Ihnen, wie das von Ihnen angelegte Geld über die Zeit anwächst. Sie können die Ergebnisse auf Ihre Situation zuschneiden, indem Sie Parameter wie u. a. die Sparrate, den Sparzeitraum und den Zinssatz individuell einstellen.', '/geldanlage/sparrechner', 'assets/img/geld_anlegen/sparrechner_01.jpg', 'Sparrechner')

                mixin calc_preview_item('Wie verteile ich mein Geld am besten?', 'Ob Aktien, Fonds, Festgeld, Tagesgeld oder das gute alte Sparbuch, die Möglichkeiten bei der Geldanlage sind unbegrenzt. Jedoch unterscheiden sich die Produkte aus Risiko- und Renditesicht mitunter deutlich. Für eine gute Geldanlage ist die richtige Mischung - von Experten auch Assetallokation genannt - entscheidend. Wir helfen Ihnen, eine gute Mischung für Ihre Geldanlage zu finden.', '/geldanlage/assetallokation', 'assets/img/geld_anlegen/assetallocation_01.jpg', 'Wie verteile ich mein Geld am besten?')

            //- from blog
            div.col_half.col_last
              //div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Vergleichstools
              //div#posts
                include ../_mixins/compare_preview_item

                mixin compare_preview_item('Vergleichen Sie verschiedene Baufinanzierungen', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.', '/')


              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Artikel
              div
                include ../_mixins/article_preview_item

                mixin article_preview_item('Wie läuft der Hauskauf ab?', 'Erfahren Sie, auf was es beim Hauskauf ankommt. Alle Schritte, gegliegert in Etappen, von der Suche der richtigen Immobilie über die Finanzierung bis zur Übergabe. Dieser Artikel eignet sich besonders zum Einstieg in das Thema Haus- und Immobilienkauf.', '/hauskauf/wie-laeuft-der-hauskauf-ab')

                mixin article_preview_item('Checkliste Hauskauf', 'Bestens vorbereitet auf den Besichtigungstermin: Die Checkliste für die Besichtigung bei geplantem Hauskauf.', '/hauskauf/checkliste-hauskauf')



              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Aus unserem Blog

              div#posts.small-thumbs
                include ../_mixins/blog_preview_item

                mixin blog_preview_item('10 Schnäppchen-Regionen zum Bauen', '19.10.2015', 'Nicht nur in sehr abgelegenen Regionen kann man noch zu günstigen Grundstücken kommen. Wer genau hinschaut kann auch in den Gegenden um die deutschen Großstädte preiswertes Bauland finden. Wir zeigen Ihnen, wo Grundstücke noch preiswert sind.', '/hauskauf/schnaeppchen-regionen-zum-bauen', 'assets/img/hauskauf/img_schnaeppchen.jpg', '10 Schnäppchen-Regionen zum Bauen')

                mixin blog_preview_item('Übersicht der Grundstückspreise', '12.10.2015', 'Die Grundstückspreise in den Regionen Deutschlands sind nicht nur für Häuslebauer interessant, sondern geben auch eine Indikation für die Höhe und Entwicklung des Immobilienmarktes allgemein. Beim Hauskauf oder -bau sollten Sie auf die Preise und Preisentwicklungen achten, um beim Kauf nicht zu viel zu zahlen und keine Wertverluste zu erleiden. Um Ihnen einen Marktüberblick zu geben hat FinIQ die Grundstückspreise in Deutschland auf Stadt- und Kreisebene analysiert.', '/hauskauf/uebersicht-der-grundstueckspreise', 'assets/img/hauskauf/img_grundstueckspreise.jpg', 'Übersicht der Grundstückspreise')

                mixin blog_preview_item('Deutschlands attraktivste Arbeitsmärkte', '05.10.2015', 'Die Attraktivität des Arbeitsmarktes hat großen Einfluß auf die Lebensqualität in den Städten und Landkreisen sowie die heutige und zukünftige Bewertung von Immobilien. Der FinIQ-Attraktivitätsindex zeigt Ihnen, wie wirtschaftlich attraktiv die einzelnen Regionen Deutschlands sind.', '/hauskauf/deutschlands-attraktivste-arbeitsmaerkte', 'assets/img/hauskauf/img_arbeitsmaerkte.jpg', 'Deutschlands attraktivste Arbeitsmärkte')








          //- sidebar
          include ../_mixins/sidebar
          mixin sidebar(['Mehr von FinIQ', 'links'],['Share'], ['Newsletter'])


    include ../_includes/footer
