//
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Bausparen, Bausparrechner, Effektivzins')
  meta(name='description', content='Das Tool zur Berechnung von Bausparverträgen. Finden Sie anhand der effektiven Zinssätze heraus, wie attraktiv Bausparen für Sie ist.')

block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)

    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Bausparrechner', 'Das Tool zur Berechnung von Bausparverträgen. Finden Sie anhand der effektiven Zinssätze heraus, wie attraktiv Bausparen für Sie ist.', ['Home', '/'], ['Baufinanzierung', '/baufinanzierung'], ['Bausparrechner', '/baufinanzierung/bausparrechner', 'true'])

    //-page-content
    section#content(ng-controller='bausparrechnerController as vm')
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- ********** sidebar left (INPUTS) ***********
          div.sidebar.nobottommargin.clearfix
            div.sidebar-widgets-wrap.sidebar-widgets-wrap-calc
              div.widget.clearfix
                h4
                  i.icon-pencil
                  | &nbsp; Eingaben

                //- primary inputs
                //sf-slider(description='Bausparsumme',               value='vm.inputs.principal',    tip='Der Gesamtbetrag, über den der Bausparvertrag abgeschlossen wird. Dies ist der Betrag, welcher bei Zuteilung des Bausparvertrages ausgezahlt wird', addon='€', id='principal',  options='{"floor": "3000", "ceil": "300000", "precision": "1", "step": "1000"}')
                sf-slider(description='Sparbeitrag', type='frac',  value='vm.inputs.saving' tip='Der monatliche Regelsparbeitrag als Promillesatz von der Bausparsumme, welcher in der Ansparphase monatlich in den Bausparvertrag eingezahlt wird. Es wird unterstellt, dass die Zahlung jeweils am Monatsende (nachschüssig) erfolgt. Für die meisten Verträge liegt der Satz zwischen 3‰ und 10‰.',addon='‰', id='saving', options='{"floor": "1", "ceil": "15", "precision": "2", "step": "0.1"}', fun='vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000)')
                sf-slider(description='Anspardauer',                value='vm.inputs.termsave',    addon='Jahre',    tip='Der Zeitraum, über den die monatlichen Sparbeiträge geleistet werden.' ,id='termsave',  options='{"floor": "1", "ceil": "15", "precision": "2", "step": "1"}')
                sf-slider(description='Guthabenzinssatz',           value='vm.inputs.interestsave', addon='% p. a.',  tip='Der jährlichen Zinssatz, welchen Sie laut Bausparvertrag auf das angesparte Kapital erhalten.' ,id='interestsave',  options='{"floor": "0", "ceil": "3", "precision": "2", "step": "0.05"}')
                sf-slider(description='Darlehenszinssatz',          value='vm.inputs.interestdebt', addon='% p. a.',  tip='Der jährliche Zinssatz, welchen Sie laut Bausparvertrag für das Bauspardarlehen zahlen.' ,id='interestdebt',  options='{"floor": "0", "ceil": "5", "precision": "2", "step": "0.05"}')
                sf-slider(description='Rückzahlungsrate', type='frac',  value='vm.inputs.repay' tip='Der monatliche Betrag zur Rückzahlung des Darlehens als Promillesatz von der Bausparsumme. Dieser Betrag fällt nach Zuteilung während der Rückzahlungsphase an und besteht aus Zins und Tilgung. Es wird unterstellt, dass die Zahlung jeweils am Monatsende (nachschüssig) erfolgt. ',addon='‰', id='repay', options='{"floor": "2", "ceil": "16", "precision": "2", "step": "0.05"}', fun='vm.calcAbsolute(vm.inputs.principal, vm.inputs.repay, 1000)')

                //- secondary inputs
                div.panel-group.nobottommargin.accordion
                  div.panel.panel-default
                    div.panel-heading(style='font-size: 14px;')
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Wohnungsbauprämie
                    div#collapseOne.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        sf-select(description='Wohnungsbauprämie berücksichtigen?',   value='vm.inputs.bonus',      tip='Auswahl zur Bestimmung, ob die Wohnungsbauprämie berücksichtigt werden soll. Bei Angabe von "JA" wird der Rechner mittels weiterer Fragen zunächst feststellen, ob und in welchem Umfang Anspruch auf die Wohnungsbauprämie besteht. Sofern Anspruch besteht wird die entsprechende Prämie automatisch in die Berechnung einbezogen.', id='bonus',  options='option.name for option in [{id: 1, name: "Ja"}, {id: 2, name: "Nein"}] track by option.id')
                        sf-select(description='Familienstand',                        value='vm.inputs.marriage',   tip='Angabe des Familienstandes zur Berechnung von Förderansprüchen.', id='marriage',  options='option.name for option in [{id: 1, name: "Ledig"}, {id: 2, name: "Verheiratet"}] track by option.id')
                        sf-slider(description='Bruttoeinkommen',                      value='vm.inputs.income',     tip='Das jährliches Bruttoeinkommen wird zur Berechnung von Förderansprüchen benötigt. Falls Sie verheiratet sind geben Sie hier bitte die Summe der Einkommen beider Ehepartner an.', addon='€ / Jahr', id='income',  options='{"floor": "10000", "ceil": "200000", "precision": "1", "step": "500"}')

                  div.panel.panel-default
                    div.panel-heading
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', class='collapsed')
                        i.fa.fa-angle-right.fa-lg
                        |  Details
                    div#collapseTwo.panel-collapse.collapse(aria-expanded='false', style="height: 0px;")
                      div.panel-body

                        sf-slider(description='Abschlussgebühr', type='frac',  value='vm.inputs.initialfee' tip='Die einmaligen Gebühren als Prozentsatz der Bausparsumme, welche für die meisten Bausparverträge bei Abschluss anfallen. Der Gebührensatz liegt je nach Vertrag zwischen 0,5 % und 3,0 %.',addon='%', id='initialfee', options='{"floor": "0", "ceil": "5", "precision": "2", "step": "0.05"}', fun='vm.calcAbsolute(vm.inputs.principal, vm.inputs.initialfee, 100)')
                        sf-slider(description='Sondereinzahlung bei Beginn',      value='vm.inputs.initialpay',    tip='Einmalige Sparbeiträge, welche bei manchen Verträgen zu Beginn der Vertragsperiode möglich sind. Diese Sondereinzahlungen werden entsprechend über die Ansparperiode verzinst.', addon='€', id='initialpay',  options='{"floor": "0", "ceil": "15000", "precision": "1", "step": "50"}')
                        sf-slider(description='Auszahlungsprozentsatz',           value='vm.inputs.paypercent',   addon='%',  tip='Bei Standardverträgen ist der Auszahlungsprozentsatz 100% der Bausparsumme. Bei einigen Verträgen kann jedoch davon nach oben oder unten abgewichen werden, was die Auszahlung relativ zur Bausparsumme entsprechend erhöht oder senkt. Im Zweifel sollten Sie hier 100% eingeben.' ,id='paypercent',  options='{"floor": "0", "ceil": "100", "precision": "2", "step": "1"}')

          //- </div> ********** END sidebar left (INPUTS) **********


          //- ********** page center - main content **********
          div.postcontent.bothsidebar.nobottommargin.clearfix
            div.col_full
              //- principle feasible
              div.row(ng-if='vm.result.savingratio >= 40 && vm.result.savingratio < 65')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #50B432')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Für die Bausparsumme von
                    span(style='color: #50B432')  {{vm.inputs.principal | currency:"€":2}}
                    |  zahlen Sie monatlich
                    span(style='color: #50B432')  {{vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000) | currency:"€":2}}
                    | .


              //- principle maybe feasible
              div.row(ng-if='vm.result.savingratio < 40 && vm.result.savingratio >= 20')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #F38200')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Für die Bausparsumme von
                    span(style='color: #F38200')  {{vm.inputs.principal | currency:"€":2}}
                    |  zahlen Sie monatlich
                    span(style='color: #F38200')  {{vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000) | currency:"€":2}}
                    | .
                    span(style='color: #F38200')
                      br
                      | Die Ansparquote liegt unter 40 %. Erhöhen Sie den Sparbeitrag.

              //- principle not feasible
              div.row(ng-if='vm.result.savingratio < 20')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #B20925')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Für die Bausparsumme von
                    span(style='color: #B20925')  {{vm.inputs.principal | currency:"€":2}}
                    |  zahlen Sie monatlich
                    span(style='color: #B20925')  {{vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000) | currency:"€":2}}
                    | .
                    span(style='color: #B20925')
                      br
                      | Achtung: Die Ansparquote liegt unter 20 %. Erhöhen Sie den Sparbeitrag.

              //- principle maybe feasible
              div.row(ng-if='vm.result.savingratio >= 65 && vm.result.savingratio < 100')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #F38200')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Für die Bausparsumme von
                    span(style='color: #F38200')  {{vm.inputs.principal | currency:"€":2}}
                    |  zahlen Sie monatlich
                    span(style='color: #F38200')  {{vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000) | currency:"€":2}}
                    | .
                    span(style='color: #F38200')
                      br
                      | Die Ansparquote liegt über 65 %. Wählen Sie einen niedrigeren Sparbeitrag.


              //- principle not feasible
              div.row(ng-if='vm.result.savingratio >= 100')
                div.col-sm-2.hidden-xs
                  i.fa.fa-home.fa-5x(style='color: #B20925')
                div.col-sm-10.col-xs-12
                  h3.sbottommargin Für die Bausparsumme von
                    span(style='color: #B20925')  {{vm.inputs.principal | currency:"€":2}}
                    |  zahlen Sie monatlich
                    span(style='color: #B20925')  {{vm.calcAbsolute(vm.inputs.principal, vm.inputs.saving, 1000) | currency:"€":2}}
                    | .
                    span(style='color: #B20925')
                      br
                      | Achtung: Die Ansparquote liegt über 100 %. Wählen Sie einen niedrigeren Sparbeitrag.

              div.notopmargin.sbottommargin
              p(style='text-transform: uppercase; font-weight: 700; letter-spacing: 1.5px;') Bausparsumme
              rzslider(rz-slider-model='vm.inputs.principal', rz-slider-ceil='300000', rz-slider-floor='3000', rz-slider-step='1000',rz-slider-hide-limit-labels='true', rz-slider-translate='vm.sliderTranslate', style='margin-top: 0px;')
              div.notopmargin.sbottommargin

              //- warning concering the loan
              div.row(ng-if='vm.result.termloan > 30 || !vm.result.termloan')
                div.col-sm-12
                  p.warning Hinweis: Die Darlehenslaufzeit zur Rückzahlung ist größer als 30 Jahre. Wählen Sie eine niedrigere Bausparsumme, eine höhere Rückzahlungsrate oder einen höheren Sparbeitrag.



              //- effective interest rate
              div.row(ng-if='vm.result.irrSave && vm.result.irrLoan').animate-if
                div.col-sm-4
                  div.sf-info-box
                    span(style='font-size: 24px; color: #009CDE;')  {{vm.result.irrSave | currency:"%":2}}
                    p Effektiver Zinssatz Ansparphase

                div.col-sm-4
                  div.sf-info-box
                    span(style='font-size: 24px; color: #009CDE;') {{vm.result.irrLoan | currency:"%":2}}
                    p Effektiver Zinssatz Rückzahlungsphase

                div.col-sm-4
                  div.sf-info-box
                    span(style='font-size: 24px; color: #009CDE;') {{vm.result.savingratio | currency:"%":2}}
                    p Ansparquote



              div.divider.notopmargin.lbottommargin
              //- charts
              div
                highchart(id='chart01', config='chartConfig_1')
              div.divider.notopmargin.lbottommargin
              div
                highchart(id='chart02', config='chartConfig_2')


              div.divider.notopmargin.lbottommargin


              h4 Berechnungsdetails
              div.tabs.tabs-tb.tabs-bordered.clearfix.ui-tabs.ui-widget.ui-widget-content.ui-corner-all#results-tabs
                ul.tab-nav.clearfix.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all(role='tablist')
                  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active(role='tab', tabindex='0', aria-controls='tabs-5', aria-labelledby='ui-id-5', aria-selected='true')
                    a(href='#tabs-5', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-5')
                      i.fa.fa-calculator
                      | Ergebnisse
                  li.ui-state-default.ui-corner-top(role='tab', tabindex='-1', aria-controls='tabs-7', aria-labelledby='ui-id-7', aria-selected='false')
                    a(href='#tabs-7', class='ui-tabs-anchor', role='presentation', tabindex='-1', id='ui-id-7')
                      i.fa.fa-lightbulb-o
                      | Annahmen
                div.tab-container

                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-5(aria-labelledby='ui-id-5', role='tabpanel', aria-expanded='true', aria-hidden='false', style="display: block;")
                    p.xsbottommargin.stext Alle Angaben in €, sofern nicht anders bezeichnet
                    table.table
                      thead
                        tr
                          th
                          th.text-right
                      tbody
                        tr.active
                          td Sparguthaben Ende Ansparphase
                          td.text-right {{vm.result.finalsavingswohnungsbau | currency:"":2}}
                        tr
                          td &nbsp; davon Spareinzahlungen
                          td.text-right {{vm.result.totalpays | currency:"":2}}
                        tr
                          td &nbsp; davon Guthabenzinsen
                          td.text-right {{vm.result.totalinterest | currency:"":2}}
                        tr
                          td &nbsp; davon Wohnungsbauprämie
                          td.text-right {{vm.result.wohnungsbau | currency:"":2}}
                        tr
                          td &nbsp; Anzahl Sparraten
                          td.text-right {{vm.result.numberpays | currency:" (Monate)":0}}
                        tr
                          td &nbsp; Ansparquote
                          td.text-right {{vm.result.savingratio | currency:" %":2}}
                        tr.active
                          td Auszahlungsbetrag bei Zuteilung
                          td.text-right {{vm.result.totalloanpay | currency:"":2}}
                        tr.active
                          td Rückzahlungsaufwand insgesamt
                          td.text-right {{vm.result.totalloanwinterest | currency:"":2}}
                        tr
                          td &nbsp; davon Darlehenshöhe
                          td.text-right {{vm.result.totalloan | currency:"":2}}
                        tr
                          td &nbsp; davon Darlehenszinsaufwand
                          td.text-right {{vm.result.interestloan | currency:"":2}}
                        tr
                          td &nbsp; Anzahl Darlehensraten
                          td.text-right {{vm.result.totalloanpays | currency:" (Monate)":1}}
                        tr
                          td &nbsp; Laufzeit des Darlehens
                          td.text-right {{vm.result.termloan | currency:" Jahre":2}}


                  div.tab-content.clearfix.ui-tabs-panel.ui-widget-content.ui-corner-bottom#tabs-7(aria-labelledby='ui-id-7', role='tabpanel', aria-expanded='false', aria-hidden='true', style="display: none;")
                    p.xsbottommargin Um Ihnen die Analyse zu erleichtern haben wir bereits sinnvolle Annahmen und Vorgaben zur Berechnung getroffen, welche Sie natürlich nach Bedarf noch individuell anpassen können und sollten. Die folgenden Abschnitte erläutern die wichtigsten Vorgaben.
                    p.xsbottommargin
                      strong Sparbeitrag:
                      |  Der monatliche Regelsparbeitrag für Bausparverträge beträgt meist zwischen 3 und 10 ‰ der Bausparsumme. Als Vorgabe haben wir den gebräuchlichen Wert von 5 ‰ gewählt.
                    p.xsbottommargin
                      strong Anspardauer:
                      |  Die Anspardauer beträgt für die meisten Verträge wie bereits vorgegeben etwa 8 Jahre. Meistens wird das Ende der Anspardauer auch an eine im Voraus definierte
                      span(data-toggle='tooltip', title='Die Ansparquote ist der Anteil des angesparten Kapitals an der gesamten Bausparsumme.').text-tooltip  Ansparquote
                      |  geknüpft. Durch Veränderung der Anspardauer können Sie errechnen lassen, wie hoch die Ansparquote nach jedem abgelaufenen Jahr ist, sofern alle monatlichen Sparbeiträge geleistet wurden. Neben den Standardverträgen gibt es auch Schnellspar- und Langzeitverträge. Für diese Verträge ist die Anspardauer entsprechend länger oder kürzer.
                    p.xsbottommargin
                      strong Guthaben- und Darlehenszinssätze:
                      |  Der Guthabenzinssatz variiert je nach Bausparkasse aktuell zwischen 0,0 und 1,5 % p. a., die Darlehenszinssätze liegen zwischen 0,5 und 2,5 %.
                    p.xsbottommargin
                      strong Rückzahlungsrate:
                      |  Die monatliche Rückzahlungsrate für Bausparverträge beträgt meist zwischen 4 und 8 ‰ der Bausparsumme. Als Vorgabe haben wir den gebräuchlichen Wert von 6 ‰ gewählt. Je höher die Rückzahlungsrate, desto schneller ist das Bauspardarlehen vollständig zurückgezahlt.
                    p.xsbottommargin
                      strong Wohnungsbauprämie:
                      |  Die Wohnungsbauprämie ist eine staatliche Förderung, welche Personen gewährt wird, deren zu versteuerndes Einkommen im Sparjahr 25.600 € (Ledige) bzw. 51.200 € (für zusammenveranlagte Ehegatten/Lebenspartner) nicht übersteigt. Die Prämie beträgt grundsätzlich 8,8 % der laufenden Bauspareinlagen, Guthabenzinsen und eventuellen Abschlussgebühren, sofern diese im Kalenderjahr 50 € übersteigen. Die jährliche Höchstprämie liegt bei 45,06 € für Ledige und 90,11 € für Ehepaare. Der Bausparrechner bestimmt automatisch auf Basis Ihrer Angaben zu Einkommen und Familienstand die Höhe der Wohnungsbauprämie und berücksichtigt diese in der Effektivzinsberechnung.
                    p.xsbottommargin
                      strong Abschlussgebühr:
                      |  Die Abschlussgebühr ist eine einmalige Gebühr, welche für die meisten Bausparverträge bei Abschluss anfällt. Der Gebührensatz liegt je nach Vertrag zwischen 0,5 % und 3 %. Den Einfluss der Abschlussgebühr auf die Rendite eines Bausparvertrags sollte man nicht unterschätzen. Nicht selten ist die Abschlussgebühr höher als die gesamten erzielbaren Zinserträge während der Ansparzeit.
                    p.xsbottommargin
                      strong Sondereinzahlung bei Beginn:
                      |  Viele Bausparverträge erlauben einmalige Spareinzahlungen zu Beginn der Bausparperiode. Diese Sondereinzahlungen werden entsprechend über die Ansparperiode verzinst.
                    p.xsbottommargin
                      strong Auszahlungsprozentsatz:
                      |  Der Auszahlungsprozentsatz bestimmt die Höhe des Darlehens als Anteil der Bausparsumme.  Dieser Prozentsatz ist meist 100 %, kann aber bei manchen Verträge je nach Darlehensbedarf angepasst werden. Durch Veränderung des Auszahlungsprozentsatzes können Sie die Höhe des Darlehens bei vorgegebener Bausparsumme anpassen.


            div.col_full
              h3.xsbottommargin Das Tool zur Berechnung von Bausparverträgen
              p Bausparverträge sind eine der beliebtesten Formen der Finanzierung von Immobilien in Deutschland und bilden seit Jahrzehnten die Basis des Vermögensaufbaus vieler Menschen. Kurzgefasst beinhaltet der Bausparvertrag eine Ansparphase von mehreren Jahren, in welcher meist monatlich in den Vertrag eingezahlt wird. Nachdem ein vorher festgelegtes Mindestguthaben angespart wurde, erfolgt die sogenannte Zuteilung des Bausparvertrags. Die Zuteilung besteht aus der Auszahlung des angesparten Bausparguthabens und in der Regel aus der Auszahlung eines Bauspardarlehens, dessen Zinssatz bereits bei Abschluss des Bausparvertrags vereinbart wurde. Das Bauspardarlehen muss dabei für wohnungswirtschaftliche Zwecke verwendet und über die folgenden Jahre zurückgezahlt werden.
              h5.xsbottommargin Sind Bausparverträge eine gute Option für den Vermögensaufbau?
              p Leider schließen viele Sparer oft vorschnell einen Bausparvertrag ab, ohne sich ein Bild zu machen, ob ein solcher Vertrag überhaupt sinnvoll ist. Dies mag auch damit zu tun haben, dass Bausparverträge traditionell einen guten Ruf genießen und als solide Anlagen gelten. Bei genauerem hinschauen zeigt sich jedoch oft, dass ein klassischer Sparplan zusammen mit einem Immobilienkredit (wenn benötigt) die bessere Alternative ist. Ob ein Bausparvertrag letztlich für Sie eine gute Option zum Vermögensaufbau ist, hängt stark von individuellen Faktoren ab.
              p Wir haben die wichtigsten individuellen Faktoren für Sie zusammengefasst:
              ul.ul-post
                li Ihr Bruttoeinkommen: Das Bruttoeinkommen bestimmt etwa über Förderzahlungen aufgrund der Wohnungsbauprämie.
                li Ihr Sparbeitrag: Der Sparbeitrag bestimmt zum Beispiel die relative Rentabilität der Wohnungsbauprämie. Da pro Jahr maximal Aufwendungen von 512,00 € bezuschusst werden (Einzelpersonen), wird durch höhere Sparbeiträge auch keine höhere Wohnungsbauprämie erzielt. Daher ist es aus Renditegesichtspunkten oft ratsam, nicht deutlich mehr als 500,00 € pro Jahr in einen Bausparvertrag einzuzahlen (1000,00 € für Verheiratete) und die Bausparsumme entsprechend zu wählen.
                li Ihre Ziele: Wenn Sie sich noch nicht sicher sind, ob Sie überhaupt ein Darlehen zur Baufinanzierung benötigen, macht ein Bausparvertrag möglicherweise wenig Sinn. Sie würden möglicherweise auf bessere Guthabenzinsen für Ihre Ersparnisse verzichten, um sich gute Bedingungen (Zinsen) für Bauspardarlehen in der Zukunft zu 'erkaufen', diese dann aber nicht in Anspruch nehmen.
                li Konditionen des Bausparvertrags: Konditionen des Bausparvertrags wie Zinssätze und Abschlussgebühren haben einen maßgeblichen Einfluss auf Ihre Rendite.
              h5.xsbottommargin Wie kann ich mit dem Bausparrechner entscheiden, ob ein Bausparvertrag sinnvoll für mich ist?
              p Der Bausparrechner hilft Ihnen, Ihre individuelle Situation auf eine Kenngröße für die Anspar- und Rückzahlungsphase zu reduzieren: den effektiven Zinssatz. Mit Hilfe des effektiven Zinssatzes können Sie dann den Bausparvertrag mit anderen verfügbaren Geldanlage- und Finanzierungsalternativen vergleichen bzw. die Parameter des Vertrags so wählen, dass der effektive Zinssatz für Sie attraktiv wird. Wenn Sie zum Beispiel die Voraussetzungen für die Wohnungsbauprämie erfüllen, dann können Sie Ihre Rendite/Ihren effektiven Zinssatz meist durch geschickte Wahl der Sparbeiträge und damit der Bausparsumme optimieren.
              p Machen Sie die entsprechenden Angaben in den Eingabefeldern, möglichst auch unter dem Punkten "Wohnungsbauprämie" und "Details", um den effektiven Zinssatz zu berechnen. Der Rechner ermittelt automatisch, ob eine Förderung durch die Wohnungsbauprämie für Sie voraussichtlich in Frage kommt oder nicht und berücksichtigt solche Förderungen im effektiven Zinssatz. Die vorgegebenen Werte zu den Konditionen des Bausparvertrags wie Guthaben- und Darlehenszinssatz sowie Abschlussgebühren entsprechen bereits den marktüblichen Werten. Natürlich können und sollten Sie diese anpassen, sofern Ihnen bereits ein konkretes Angebot für einen Bausparvertrag vorliegt.
              p Im aktuellen Zinsumfeld kann es sogar sein, dass der Rechner einen negativen effektiven Zinssatz für die Ansparphase ermittelt. Der Grund dafür ist, dass der Guthabenzins und eventuelle Förderungen die bei Vertragsschluss zu zahlende Abschlussgebühr nicht aufwiegen. Einfach ausgedrückt: In solchen Fällen "zahlen Sie drauf". Dies kann manchmal gerechtfertigt sein, um sich bereits heute die niedrigen Zinsen eines Bauspardarlehens in der Zukunft zu sichern. Sie sollten in diesen Fällen aber sehr genau hinschauen, da ein konventioneller Sparplan Ihnen Zinsen bereits in der Ansparphase bieten würde und es aktuell wenig Anzeichen für eine deutliche Steigerung der Darlehenszinsen in der Zukunft gibt, so dass Sie auch in Zukunft noch von günstigen Immobilienkrediten profitieren können.

          //- </div> ********** END page center - main content **********



          //- ********** sidebar right **********
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/baufinanzierung/bausparrechner', title: 'Das FinIQ-Tool zur Berechnung von Bausparverträgen', description: 'Mit dem Bausparrechner können Sie Bausparverträge berechnen, Effektivzinsen analysieren und Spar- sowie Tilgungspläne erstellen.'}})

          //- </div> ********** END sidebar right **********
    include ../_includes/footer
