//-
   Created by benjamintanz on 05.10.15.

extends ../layout

block meta
  meta(name='keywords', content='Bausparen, Immobilienfinanzierung, Hauskauf, Bausparrechner')
  meta(name='description', content='Was Sie zum Thema Baufinanzierung wissen müssen.')


block content
  div#wrapper.clearfix
    include ../_includes/navheader
    mixin navheader(false)
    //- Page-title
    section#page-title
      include ../_mixins/page_title
      mixin page_title('Baufinanzierung', 'Was Sie zum Thema Baufinanzierung wissen müssen', ['Home', '/'], ['Baufinanzierung', '/baufinanzierung', 'true'])

    section#content
      div.content-wrap.content-wrap-topics
        div.container.clearfix

          //- main content
          div.postcontent.nobottommargin.clearfix
            //- calculators
            div.col_half
              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Rechentools
              div#posts
                include ../_mixins/calc_preview_item

                mixin calc_preview_item('Bausparrechner', 'Mit dem Bausparrechner können Sie Bausparverträge berechnen, Effektivzinsen analysieren und Spar- sowie Tilgungspläne erstellen.', '/baufinanzierung/bausparrechner', 'assets/img/baufinanzierung/bausparrechner_01.jpg', 'Bausparrechner')

                //-mixin calc_preview_item('Wie verteile ich mein Geld am besten?', 'Ob Aktien, Fonds, Festgeld, Tagesgeld oder das gute alte Sparbuch, die Möglichkeiten bei der Geldanlage sind unbegrenzt. Jedoch unterscheiden sich die Produkte aus Risiko- und Renditesicht mitunter deutlich. Für eine gute Geldanlage ist die richtige Mischung - von Experten auch Assetallokation genannt - entscheidend. Wir helfen Ihnen, eine gute Mischung für Ihre Geldanlage zu finden.', '/geldanlage/assetallokation', 'assets/img/geld_anlegen/assetallocation_01.jpg', 'Wie verteile ich mein Geld am besten?')

            //- from blog
            div.col_half.col_last
              //div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Vergleichstools
              //div#posts
                include ../_mixins/compare_preview_item

                mixin compare_preview_item('Vergleichen Sie verschiedene Baufinanzierungen', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.', '/')


              div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Artikel
              div
                include ../_mixins/article_preview_item

                mixin article_preview_item('In vier Schritten zur Baufinanzierung', 'Wir zeigen Ihnen, wie Sie Schritt für Schritt zu einer guten Baufinanzierung kommen.', '/baufinanzierung/schritte-zur-baufinanzierung')




              //-div.fancy-title.title-bottom-border.xsbottommargin
                h3.nobottompadding Aus unserem Blog

              //-div#posts.small-thumbs
                include ../_mixins/blog_preview_item

                mixin blog_preview_item('4 verbreite Irrtümer zur Geldanlage', '29.10.2015', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.', '/hauskauf/schnaeppchen-regionen-zum-bauen', 'assets/img/hauskauf/img_schnaeppchen.jpg', '10 Schnäppchen-Regionen zum Bauen')





          //- sidebar
          include ../_mixins/sidebar
          mixin sidebar({social: true, socialcontent: {link: 'http://www.finiq.de/baufinanzierung', title: 'Mit FinIQ zu einer besseren Baufinanzierung', description: 'Nehmen Sie die Finanzierungsentscheidung für Ihren Hauskauf mit den FinIQ Tools und Guides selbst in die Hand.'}})



    include ../_includes/footer
